﻿@model MetricArts.JnJ.Mantenciones.Models.Mantenciones.AgendarMantencionesViewModel
@{
    ViewBag.Title = "Agendar Mantenciones";
}
@using MvcPaging;
@using MvcContrib;
@using MvcContrib.UI.Grid;
<div class="wrapper">
			<div class="col-md-10">
				<section class="container-fluid">
					<div class="row">
						<h3>Lista de Agendamiento <small>(@Model.plan.Nombre - @Model.sucursal.Cliente.NombreEmpresa)</small></h3>
					</div>
					<div class="row">
						<i>Seleccione las fechas de visita, para mantención, de cada uno de los equipos:</i>
                        <input id="planificacion-id" type="hidden" value="@(Model.plan.IdPlanificacion)" />
                        <input id="msg-stage-id" type="hidden" value="@(Model.msg.IdMensajeStage)" />
					</div>
				</br>
					<div class="row">
						<div class="table-responsive">
                            @Html.Grid(Model.equipos).Columns(col =>
                            {
                                col.For(x => x.TipoContrato.TipoContrato1).Named("Tipo Contrato");
                                col.For(x => Model.plan.Ano).Named("Año");
                                col.For(x => x.Sucursal.NombreSucursal).Named("Sucursal");
                                col.For(x => x.Nombre).Named("Equipo");
                                col.For(x => Html.Raw((Model.completedRegisterStatus.Where(m => m.Key == x.IdEquipo).FirstOrDefault().Value ? "<i class='glyphicon glyphicon-ok'></i>" : "<button class='btn btn-default' type='submit' data-toggle='modal' data-target='#" + x.IdEquipo + "'><span class='glyphicon glyphicon-calendar'></span></button>")))
                                    .Named("Agendar");
                                col.For(x => Html.Raw("<span id='__" + x.IdEquipo + "'>" + (Model.completedRegisterStatus.Where(m => m.Key == x.IdEquipo).FirstOrDefault().Value ? "Registro Completo" : "Registro Incompleto") + "</span>"))
                                    .Named("Estado");
                                col.For(x => Html.Raw("<span id='___" + x.IdEquipo + "'>" + (Model.completedRegisterStatus.Where(m => m.Key == x.IdEquipo).FirstOrDefault().Value ? "<a href='#' data-toggle='modal' data-target='#" + x.IdEquipo + "'>Revisar</a>" : "") + "</span>"))
                                    .Named("");
                            }).Attributes(@id => "mantenciones-agenda", @class => "table table-striped table-condensed")

						</div>
					</div>		
				</section>
			</div>
		</div>

        @{ int i = 0;}
        @foreach(var equipo in Model.equipos) {
            
            <div class="modal fade" id="@(equipo.IdEquipo)" tabindex="-1" role="dialog" aria-labelledby="ModalAgend">
			<div class="modal-dialog" role="document">
				<div id="____@(equipo.IdEquipo)" class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="ModalAgend">Seleccione las fechas de visita:</h4>
                        <h4 class="modal-title"><small>Equipo @equipo.Nombre (Cod.: @equipo.CodigoEquipo)</small></h4>
					</div>
					<div class="modal-body">
						<div class="container-fluid">
                            
                            @foreach (var mantencion in equipo.Mantencions.OrderBy(x => x.CorrelativoPlan).Where(x => x.IdPlanificacion == Model.plan.IdPlanificacion))
                            {
                                <div class="row">
								<div class="col-md-3">
									<span>Hito @mantencion.CorrelativoPlan:</span><br />
                                    <span>Periodo: <strong>@mantencion.MesPeriodo-@Model.plan.Ano</strong></span>
								</div>
								<div class="col-md-8">
									<div class="input-group">
                                        @if (Model.completedRegisterStatus.Where(m => m.Key == equipo.IdEquipo).FirstOrDefault().Value)
                                        {
                                            <span>@(mantencion.FechaConfirmacion.Value.ToShortDateString())</span>
                                        }
                                        else 
                                        {
                                        <input type="text" data-date-start-date="@(mantencion.FechaEstimativaDesde.ToString("dd-MM-yyyy"))" 
                                            data-date-end-date="@(mantencion.FechaEstimativaHasta.ToString("dd-MM-yyyy"))" 
                                            class="form-control datepickershow-agenda" value="@(mantencion.FechaConfirmacion.ToString())" readonly="readonly">
										<span class="input-group-btn">
											<button class="btn btn-default dateButtonAgenda" type="button" data-original-title="" title="">
												<span class="glyphicon glyphicon-calendar"></span>
											</button>
										</span>
                                        }
									</div>
								</div>
							</div>
                                <br />
                                
                            }

						</div>					
					</div>
                    
					<div class="modal-footer">
                        @if (!Model.completedRegisterStatus.Where(m => m.Key == equipo.IdEquipo).FirstOrDefault().Value)
                        {
                        <button type="button" class="btn btn-primary guardar-cambios">Guardar Cambios</button>
                        }
					</div>
                        
				</div>
			</div>
		</div>
                        i++;
        }

		
<style>
    .datepicker{z-index:1151 !important;}
</style>
@Scripts.Render("~/bundles/custom/mantenciones/clientes")
<script type="text/javascript">
    $(document).ready(function () {
        init('@Url.Action("AgendarMantenciones", "Clients")'
            , '@Url.Action("ObtenerFeriados", "Clients")'
            , '@Url.Action("ObtenerDisponibilidadIngeniero", "Clients")');
    });
</script>