﻿@model MetricArts.JnJ.Mantenciones.Models.Mantenedores.Franquicias.FranquiciasViewModel
@{
    ViewBag.Title = "Listado Franquicias";
}
<section class="container-fluid">
    <article>
        <div class="row">
		    <ol class="breadcrumb">
			    <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
			    <li><a href="@Url.Action("Index", "Mantenedores")">Mantenedores</a></li>
				<li><a href="@Url.Action("Index", "Franquicias")">Franquicias</a></li>
			</ol>
		</div>

        <article>
		    <div class="bs-callout bs-callout-JJ">
                <legend>Franquicias</legend>
                <a href="@Url.Action("CrearNuevo", "Franquicias")" data-toggle="confirmation"  title="Nueva Franquicia" class="btn btn-success">
                    <span class='glyphicon glyphicon-plus-sign'></span> Crear Nuevo
                </a>

                <button class="btn btn-primary" type="button">
			        Cantidad Total <span class="badge">@Model.Franquicias.Count()</span>
				</button>
		    </div>
		</article>

        <br />
        @if (TempData["Mensaje"] != null && !String.IsNullOrEmpty(TempData["Mensaje"].ToString()))
        {
            <div class="alert alert-success alert-dismissible fadeOutMantenedor" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>@(TempData["Mensaje"])</strong>
            </div>
        }
        <br />
        <div class="row">
            <div class="table-responsive">                            
                <table id="listado-mantenedor" class="table table-striped table-condensed display">
                    <thead>
                        <tr>
                            <th>@Html.DisplayName("Nombre")</th>
                            <th>@Html.DisplayName("Clientes Asociados")</th>
                            <th>@Html.DisplayName("Descripción")</th>
                            <th>@Html.DisplayName("Fecha Creación")</th>
                            <th>Editar</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Franquicias)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.NombreFranquicia)</td>
                                <td><strong>@Html.DisplayFor(modelItem => item.Clientes.Count)</strong></td>
                                <td>@Html.DisplayFor(modelItem => item.Descripcion)</td>
                                <td>@Html.DisplayFor(modelItem => item.FechaIngreso)</td>
                                <td><a href="@Url.Action("Editar", "Franquicias", new { IdFranquicia = item.IdFranquicia })" class="btn btn-default"><span class='glyphicon glyphicon-edit'></span></a></td>
                                <td>
                                    @if (!item.Clientes.Any())
                                    { <a href="@Url.Action("Eliminar", "Franquicias", new { IdFranquicia = item.IdFranquicia })" class="btn btn-default" onclick="if(!confirm('Está a punto de eliminar esta franquicia.\n¿Desea continuar?.')) return false;"><span class='glyphicon glyphicon-trash'></span></a> }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
			</div>
		</div>
    </article>
</section>
@Scripts.Render("~/bundles/custom/mantenedores/franquicias/listado")
<script type="text/javascript">
    $(document).ready(function () {
        init();
    });
</script>