﻿@{
    ViewBag.Title = "Aceptación de Solicitud de Repuestos MPXP";
}

<div class="wrapper">
			<div class="col-md-10">
				<section class="container-fluid">
					<div class="row">
						<h3>Gracias por confirmar la solicitud de repuestos. Se le notificará a la brevedad al aréa de Administración.</h3>
					</div>
				</section>
			</div>
		</div>
