﻿@model MetricArts.JnJ.Mantenciones.Models.PortalIngeniero.BandejaViewModel
@{
    ViewBag.Title = "Bandeja Ingeniero";
}
@using MvcContrib.UI.Grid;
@using MvcContrib

<section>
				<div class="row-fluid">
					<ol class="breadcrumb">
						<li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
                        <li><a href="@Url.Action("Index", "PortalIngeniero")">Portal Ingeniero</a></li>
						<li><a href="@Url.Action("Bandeja", "PortalIngeniero")">Bandeja Mantenciones</a></li>
					</ol>
				</div>
				<article>
					<div class="row-fluid">
						<h3>Listado de Mantenciones Confirmadas</h3>
						<div class="bs-callout bs-callout-JJ">
							<legend>Filtros</legend>
							<form class="form-horizontal">
								<div class="row">
									<div class="col-md-5">
										<div class="form-group">
											<label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.IdCliente)</label>
											<div class="col-sm-7">
                                                @Html.DropDownListFor(x => x.FORM.IdCliente, Model.Clientes, "Todos los Clientes", new { @class = "form-control input-sm" })
											</div>
										</div>
									</div>
									<div class="col-md-5">
										<div class="form-group">
											<label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.IdSucursal)</label>
											<div class="col-sm-7">
												<select id="FORM_IdSucursal" name="FORM.IdSucursal" class="form-control input-sm" disabled="disabled"></select>
											</div>
										</div>
									</div>
									<div class="col-md-2">
										<button type="button" class="btn btn-JJ pull-right">
											Filtrar
										</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</article>
				<article>
					<div class="content-fluid">
						<div class="row">
							<div class="col-md-12">
                                <button id="espera-visita-boton" class="btn btn-warning" type="button">
									Espera de Visita <span class="badge">@Model.CantEnEsperaVisita</span>
								</button>
								<button id="en-curso-boton" class="btn btn-info" type="button">
									En Curso <span class="badge">@Model.CantEnCurso</span>
								</button>
                                <button id="en-espera-momento-boton" class="btn btn-danger" type="button">
									En Espera Momentánea <span class="badge">@Model.CantEnEsperaMomento</span>
								</button>
								<button id="finalizada-boton" class="btn btn-success" type="button">
									Finalizadas <span class="badge">@Model.CantFinalizada</span>
								</button>
                                <button id="todas-boton" class="btn btn-primary" type="button">
									Todas <span class="badge">@Model.CantTotal</span>
								</button>
							</div>
						</div>
					</div>
				</article>
			</br>
				<article>
					<div class="content-fluid">
						<!-- Nav tabs -->
						<ul id="Tab" class="nav nav-tabs" role="tablist">
							<li role="presentation">
								<a href="#Lista" aria-controls="Lista" role="tab">Listado por orden de atención</a>
							</li>
							<li role="presentation">
								<a href="#Calendario" aria-controls="Calendario" role="tab">Ver en Calendario</a>
							</li>
						</ul>
					</br>
						<div class="tab-content">
							<div role="tabpanel" class="tab-pane fade active" id="Lista">
								<div class="table-responsive">
                                    @{Html.Grid(Model.Mantenciones).Columns(col =>
                                {
                                    col.For(x => "<button id='" + x.IdMantencion + "' class='btn btn-default' type='button' onclick='gestionarMantencion(\"" + x.IdMantencion + "\");'><span class='glyphicon glyphicon-new-window'></span></button>").Encode(false).Named("Seguimiento");
                                    col.For(x => x.Equipo.Sucursal.Cliente.Franquicia.NombreFranquicia).Named("Franquicia");
                                    col.For(x => x.Equipo.Sucursal.Cliente.NombreEmpresa).Named("Cliente");
                                    col.For(x => x.Equipo.Sucursal.NombreSucursal).Named("Sucursal");
                                    col.For(x => x.Equipo.Nombre).Named("Equipo");
                                    col.For(x => x.Equipo.CodigoEquipo).Named("Código Equipo");
                                    col.For(x => x.FechaConfirmacion.Value.ToString("dd-MM-yyyy")).Named("Fecha Visita");
                                    col.For(x => (x.EstadoMantencion.Codigo == 5 ? (x.CuestionarioMantencions.Where(y => y.IdMantencion == x.IdMantencion && y.Cuestionario.TipoCuestionario.Codigo == 1).SingleOrDefault() != null ? (x.CuestionarioMantencions.Where(y => y.IdMantencion == x.IdMantencion && y.Cuestionario.TipoCuestionario.Codigo == 1).SingleOrDefault().Respondida ? "Checklist Respondido" : "<button id='" + x.IdMantencion + "' class='btn btn-default' type='button' onclick='responderChecklist(\"" + x.IdMantencion + "\");'><span class='glyphicon glyphicon-check'></span></button>") : "<button id='" + x.IdMantencion + "' class='btn btn-default' type='button' onclick='responderChecklist(\"" + x.IdMantencion + "\");'><span class='glyphicon glyphicon-check'></span></button>") : "-"))
                                        .Encode(false)
                                        .Named("Responder Checklist")
                                        .Attributes(x => new Dictionary<string, object>()
                                           {
                                                { "class", "checklist-col" }
                                           }); ;
                                })
                                .Empty("No existen mantenciones para los criterios de búsqueda seleccionados")
                                .RowAttributes(x => new Hash(@class => string.Format("{0}", (x.Item.EstadoMantencion.Codigo == 2 ? "warning" : (x.Item.EstadoMantencion.Codigo == 3 ? "info" : (x.Item.EstadoMantencion.Codigo == 4 ? "danger" : "success"))))))
                                .Attributes(@class => "table table-condensed")
                                .Render();
                                }
								</div>
							</div>
							<div role="tabpanel" class="tab-pane fade" id="Calendario">
								<div id='calendario-bandeja-ingeniero'></div>
							</div>
						</div>
					</div>
				</article>
			</section>

<div class="modal fade" id="ModalDet" tabindex="-1" role="dialog" aria-labelledby="ModalDet">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="ModalDetTitle">Detalle Mantención <span id="detalle-seguimiento-equipo-titulo"></span></h4>
					</div>
					<div class="modal-body">
						<div class="row-fluid">
							<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
								<div id="detalle-seguimiento" class="panel panel-default">
									<div class="panel-heading" role="tab" id="headingOne">
										<h4 class="panel-title collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
											<span>Detalle</span>
										</h4>
									</div>
									<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
										<div class="panel-body">
											<div class="row-fluid">
												<div class="row">
													<label class="col-md-2">Cliente</label>
													<p id="detalle-seguimiento-cliente" class="col-md-8">Clínica Tabancura</p>
												</div>
												<div class="row">
													<label class="col-md-2">Sucursal</label>
													<p id="detalle-seguimiento-sucursal" class="col-md-8">Central</p>
												</div>
												<div class="row">
													<label class="col-md-2">Planificación</label>
													<p id="detalle-seguimiento-planificacion" class="col-md-8">Prueba</p>
													@*<button class="btn btn-warning btn-sm" type="submit" data-toggle="tooltip" data-placement="bottom" title="Revisar">
														<span class="glyphicon glyphicon-new-window"></span>
													</button>*@
												</div>
												<div class="row">
													<label class="col-md-2">Ingeniero</label>
													<p id="detalle-seguimiento-ingeniero" class="col-md-4">Sergio Rojas</p>
												</div>
											</div>
											<div class="row-fluid">
												<table class="table">
													<caption>Equipo</caption>
													<thead>
														<tr>
															<th>Código</th>
															<th>Nombre</th>
															<th>Franquicia</th>
															<th>Descripción</th>
															<th>Fecha Instalación</th>
                                                            <th>Fecha de Visita</th>
														</tr>
													</thead>
													<tbody>
														<tr>
															<th id="detalle-seguimiento-tabla-codigo-equipo">30002416</th>
															<td id="detalle-seguimiento-tabla-nombre-equipo">VITROS ECI (3354)</td>
															<td id="detalle-seguimiento-tabla-franquicia">OCD</td>
															<td id="detalle-seguimiento-tabla-descripcion">-</td>
															<td id="detalle-seguimiento-tabla-fecha-instalacion">16-12-2013</td>
                                                            <th id="detalle-seguimiento-tabla-fecha-visita">06-09-2015</th>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
                                <div id="cambiar-estado-seguimiento" class="panel panel-default">
									<div class="panel-heading" role="tab" id="headingFour">
										<h4 class="panel-title collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
											<span>Cambiar Estado Mantención</span>
										</h4>
									</div>
									<div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
										<div class="panel-body">
											<form id="estados-formulario-cambio" class="form-horizontal">
												<div class="row">
													<div class="col-md-6">
														<div class="form-group">
															<label class="col-sm-4 control-label">Estado</label>
															<div class="col-sm-8">
																<select id="estados-seguimiento-valores" class="form-control input-sm">
                                                                    <option value="2">En Espera de Visita</option>
																	<option value="3">En Curso</option>
                                                                    <option value="4">En Espera Momentánea</option>
																	<option value="5">Finalizada</option>
																</select>
															</div>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-md-6">
														<div class="form-group">
															<label class="col-sm-4 control-label">Observaciones</label>
															<div class="col-sm-8">
																<textarea id="estados-seguimiento-observaciones" class="form-control" rows="3"></textarea>
															</div>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-md-6">
														<button id="guardar-nuevo-estado" type="button" class="btn btn-JJ btn-sm pull-right" data-original-title="" title="">Guardar</button>
													</div>
												</div>
											</form>
										</div>
									</div>
								</div>
								<div id="historicos-seguimiento" class="panel panel-default">
									<div class="panel-heading" role="tab" id="headingTwo">
										<h4 class="panel-title collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
											<span>Estados Históricos</span>
										</h4>
									</div>
									<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
										<div class="panel-body">
											<div class="row-fluid">
												<table class="table">
													<thead>
														<tr>
															<th>Estado</th>
															<th>Observaciones</th>
															<th>Atendido Por</th>
															<th>Fecha Modificación Estado</th>
														</tr>
													</thead>
													<tbody id="estados-historicos-seguimiento-registros">
														<tr>
															<th>Realizada</th>
															<td>-</td>
															<td>Administrador Sistema</td>
															<td>27-02-2014 16:06:39</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
								<div id="checklist-seguimiento" class="panel panel-default">
									<div class="panel-heading" role="tab" id="headingThree">
										<h4 class="panel-title collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
											<span>CheckList</span>
										</h4>
									</div>
									<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
										<div class="panel-body">
                                        <a href="#">Descargar Checklist</a>
										
										</div>
									</div>
								</div>
								
                                <div id="repuestos-seguimiento" class="panel panel-default">
									<div class="panel-heading" role="tab" id="headingFive">
										<h4 class="panel-title collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
											<span>Solicitud de Respuestos</span>
										</h4>
									</div>
									<div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
										<div class="panel-body">
											<div class="container-fluid">
												<div class="bs-callout bs-callout-JJ row">
													<legend>Nueva solictud de Repuestos</legend>
													
                                                    <div class="row">
														<div class="col-md-3">
															<span>Seleccione Kit de Repuesto</span>
														</div>
														<div class="col-md-6">
															<select id="repuestos-seguimiento-kit-seleccion" class="form-control input-sm"></select>
														</div>
													</div>
												</div>
                                                <div id="repuestos-seguimiento-seleccion-botones" style="display:none">
												<div class="row">
													<div class="pull-left">
														<div class="btn-group" role="group">
															<button type="button" class="btn btn-warning UnSelect" data-original-title="" title="">
																<span class="glyphicon glyphicon-minus-sign"></span>
															</button>
															<button type="button" class="btn btn-info SelectAll" data-original-title="" title="">
																<span class="glyphicon glyphicon-ok-sign"></span>
															</button>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="table-responsive">
														<table id="repuestos-seguimiento-tabla-equipos" class="table table-striped table-condensed ListPlan">
															<caption>Repuestos asociados al kit seleccionado</caption>
															<thead>
																<tr>
																	<th></th>
																	<th>Código</th>
																	<th>Descripción</th>
																	<th>Categoría</th>
																	<th>Cantidad</th>
																</tr>
															</thead>
															<tbody id="repuestos-seguimiento-cuerpo-tabla-equipos">
																<tr>
																	<td><input type="checkbox"></td>
																	<td>J19057</td>
																	<td>Well Wash Aspirate Filter</td>
																	<td>Requerido</td>
																	<td>
																		<input type="number" class="form-control input-sm" value="1" />
																	</td>
																</tr>
																<tr>
																	<td><input type="checkbox"></td>
																	<td>1H4534</td>
																	<td>Signal Reagent Dispense Tips</td>
																	<td>Requerido</td>
																	<td>
																		<input type="number" class="form-control input-sm" value="1" />
																	</td>
																</tr>
																<tr>
																	<td><input type="checkbox"></td>
																	<td>J09975</td>
																	<td>Delrin Roller Brushing</td>
																	<td>Requerido</td>
																	<td>
																		<input type="number" class="form-control input-sm" value="1" />
																	</td>
																</tr>
															</tbody>
														</table>
													</div>
												</div>
                                               
                                                <div class="col-md-6">
																<button id="repuestos-seguimiento-enviar-solicitud" class="btn btn-success pull-right" type="button" data-original-title="" title="">
																	<span class="glyphicon glyphicon-send"></span> Enviar Solicitud
																</button>
															</div>
                                                </div>
										</div>
									</div>
								</div>
                                    </div>

							@*<div id="lotus-seguimiento" class="panel panel-default">
								<div class="panel-heading" role="tab" id="headingSix">
									<h4 class="panel-title collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
											<span>Lotus</span>
										</h4>
								</div>
								<div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
									<div class="panel-body">
							            <div class="col-md-6">
														<button type="button" class="btn btn-JJ btn-sm pull-left" data-original-title="" title="">Subir Archivo</button>
													</div>
									</div>
								</div>
							</div>*@
						</div>
					</div>				
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
					</div>
				</div>
			</div>
		</div>

<div class="modal fade" id="ModalExitoRepuesto" tabindex="-1" role="dialog" aria-labelledby="ModalDet">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
						<h4 class="modal-title">Solicitud de Repuesto</h4>
					</div>
					<div class="modal-body">
							
						<p id="ModalExitoRepuestoTitulo"></p>
				
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" data-dismiss="modal">Entendido</button>
					</div>
				</div>
			</div>
		</div>

<div class="modal fade" id="ModalChecklist" tabindex="-1" role="dialog" aria-labelledby="ModalDet">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button id="salir-boton-x" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="ModalChecklistTitle">Responder Checklist de mantención a equipo</h4>
					</div>
					<div id="checklist-contenido" class="modal-body">				
					</div>
					<div class="modal-footer">
						<button id="salir-boton-cerrar" type="button" class="btn btn-default">Cerrar</button>
					</div>
				</div>
			</div>
		</div>

@Scripts.Render("~/bundles/custom/portal-ingeniero/bandeja")
<script type="text/javascript">
    $(document).ready(function () {
        init('@Url.Action("ObtenerSucursales", "ServicioConsulta")',
            '@Url.Action("CalendarioJsonFeed", "PortalIngeniero")',
            '@Url.Action("ObtenerMantencion", "ServicioConsulta")',
            '@Url.Action("CambiarEstadoMantencion", "PortalIngeniero")',
            '@Url.Action("ObtenerKitsEquipo", "ServicioConsulta")',
            '@Url.Action("ObtenerRepuestos", "ServicioConsulta")',
            '@Url.Action("EnviarSolicitudRepuesto", "PortalIngeniero")',
            '@Url.Action("ResponderChecklist", "PortalIngeniero")');
    });
</script>