﻿@{
    ViewBag.Title = "Portal Ingeniero";
}

<section>
				<div class="row-fluid">
					<ol class="breadcrumb">
						<li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
						<li><a href="@Url.Action("Index", "PortalIngeniero")">Portal Ingeniero</a></li>
					</ol>
				</div>
				<div class="row-fluid">
                    <button dir="@Url.Action("Bandeja", "PortalIngeniero")" data-toggle="tooltip" data-placement="bottom" title="Seguimiento de Mantenciones" class="shortcut-button">
						<span class="glyphicon glyphicon-check"></span>
						<span class="title">Mantenciones</span>
					</button>
					<button dir="@Url.Action("Repuestos", "PortalIngeniero")" data-toggle="tooltip" data-placement="bottom" title="Solicitudes de Repuestos" class="shortcut-button">
						<span class="glyphicon glyphicon-wrench"></span>
						<span class="title">Solicitudes</span>
					</button>
				</div>
				<div class="row-fluid">
					<div class="col-md-2"></div>
				</div>
                
			</section>
