﻿@model MetricArts.JnJ.Mantenciones.Models.PortalIngeniero.RepuestosIngenieroViewModel

@{
    ViewBag.Title = "Solicitud de Repuestos";
}
@using MvcContrib.UI.Grid;
@using MvcContrib

<div class="row-fluid">
				<ol class="breadcrumb">
					<li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
					<li><a href="@Url.Action("Index", "PortalIngeniero")">Portal Ingeniero</a></li>
					<li><a href="@Url.Action("Repuestos", "PortalIngeniero")">Solicitudes de Repuestos</a></li>
				</ol>
			</div>
			<article>
					<div class="row-fluid">
						<h3>Solicitudes de Repuestos</h3>
					</div>
				</article>
				<article>
					<div class="row-fluid">
						<div class="table-responsive">
                            @{Html.Grid(Model.SolicitudesKitRepuestos).Columns(col =>
                                {
                                    col.For(x => x.Mantencion.Equipo.Sucursal.Cliente.NombreEmpresa + " - Sucursal: " + x.Mantencion.Equipo.Sucursal.NombreSucursal).Named("Cliente").Attributes(@style => "font-weight: bold");
                                    col.For(x => x.Mantencion.Equipo.Nombre).Named("Equipo")
                                        .Attributes(x => new Dictionary<string, object>()
                                           {
                                                { "class", "repuesto-equipo-nombre" }
                                           });
                                    col.For(x => x.Mantencion.Equipo.CodigoEquipo).Named("Código")
                                        .Attributes(x => new Dictionary<string, object>()
                                           {
                                                { "class", "repuesto-equipo-codigo" }
                                           });
                                    col.For(x => x.KitRepuesto.Nombre).Named("KIT")
                                        .Attributes(x => new Dictionary<string, object>()
                                           {
                                                { "class", "repuesto-kit" }
                                           });
                                    col.For(x => x.Mantencion.FechaConfirmacion.Value.ToShortDateString()).Named("Fecha Mantención")
                                        .Attributes(x => new Dictionary<string, object>()
                                           {
                                                { "class", "repuesto-fecha-mantencion" }
                                           });
                                    col.For(x => x.FechaSolicitud).Named("Fecha Solicitud")
                                        .Attributes(x => new Dictionary<string, object>()
                                           {
                                                { "class", "repuesto-fecha-solicitud" }
                                           });
                                    col.For(x => x.EstadoSolicitud.Estado).Named("Estado")
                                        .Attributes(x => new Dictionary<string, object>()
                                           {
                                                { "class", "repuesto-estado" }
                                           });
                                    col.For(x => "<button id='"+ x.IdSolicitudKitRepuesto +"' class='btn btn-default btn-modal-detalle-solicitud-repuestos' type='button'><span class='glyphicon glyphicon-modal-window'></span></button>").Encode(false).Named("Detalle");
                                })
                                .Empty("No existen solicitudes de repuestos.")
                                .Attributes(@class => "table table-striped table-condensed")
                                .Render();}
						</div>
					</div>
				</article>

<div class="modal fade" id="ModalDet" tabindex="-1" role="dialog" aria-labelledby="ModalDet">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
						<h4 class="modal-title" id="ModalDet">Detalle de Repuestos Solicitados</h4>
					</div>
					<div class="modal-body">
						<div class="row-fluid">
                            <div class="row">
								<label class="col-md-4">Equipo</label>
								<p id="detalle-equipo" class="col-md-6"></p>
							</div>
							<div class="row">
								<label class="col-md-4">Fecha Solicitud</label>
								<p id="detalle-fecha-solicitud" class="col-md-6">4/23/2015 5:22:17 PM</p>
							</div>
							<div class="row">
								<label class="col-md-4">KIT</label>
								<p id="detalle-kit" class="col-md-6">SECONDARY TIP SEALER HEATER</p>
							</div>
							<div class="row">
								<label class="col-md-4">Estado</label>
								<p id="detalle-estado" class="col-md-6">1</p>
							</div>
						</div>	
						<div class="row-fluid">
							<div class="table-responsive">
								<table class="table table-striped table-condensed">
									<caption>Repuestos</caption>
									<thead>
										<tr>
											<th>Código</th>
										    <th>Descripción</th>
											<th>Categoría</th>
											<th>Cantidad Solicitada</th>
										</tr>
									</thead>
									<tbody id="detalle-cuerpo-tabla">
										<tr>
											<th></th>
                                            <td></td>
                                            <td></td>
                                            <td></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
				
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
					</div>
				</div>
			</div>
		</div>



@Scripts.Render("~/bundles/custom/portal-ingeniero/repuestos")
<script type="text/javascript">
    $(document).ready(function () {
        init('@Url.Action("ObtenerDetalleRepuestos", "PortalIngeniero")');
    });
</script>