﻿@model MetricArts.JnJ.Mantenciones.Models.PortalIngeniero.ResponderChecklistViewModel
@{
    ViewBag.Title = "ResponderChecklist";
}

@if (Model.checklist == null)
{
        <div class="row-fluid">
        <div class="row">
	    <label class="col-md-4">No se ha asignado un Checklist para esta mantención. Favor contactarse con Administración para que se le asigne uno.</label>
		    
	    </div>
            </div>
}
else
{
    <div class="row-fluid">
        <div class="row">
	        <label class="col-md-4">Nombre</label>
		    <p class="col-md-6">@Model.checklist.Descripcion</p>
	    </div>
	    <div class="row">
	        <label class="col-md-4">Tipo Cuestionario</label>
		    <p class="col-md-6">@Model.checklist.TipoCuestionario.Descripcion</p>
	    </div>
	    <div class="row">
	        <label class="col-md-4">Tipo Franquicia</label>
		    <p class="col-md-6">@Model.mantencion.Equipo.Sucursal.Cliente.Franquicia.NombreFranquicia</p>
	    </div>
	    <div class="row">
	        <label class="col-md-4">Vigencia</label>
		    <p class="col-md-6">@(Model.checklist.Abierto ? "Vigente" : "No Vigente")</p>
	    </div>
	    <div class="row">
	        <label class="col-md-4">Fecha</label>
		    <p class="col-md-6">@Model.checklist.FechaInicio.Value.ToShortDateString()</p>
	    </div>
    </div>
<hr />
    
if(Model.checklist.Abierto) {    
    <div id="datos-clientes-form" class="row-fluid">
        <div class="row">
             <div class="col-sm-8">
                 <p><i>(Si faltan datos o son erróneos, favor corregir en el formulario)</i></p>
             </div>
        </div>
        <div class="row">
            <label class="col-md-3">Nombre del centro:</label>
            <div class="col-sm-8">
                <input id="Nombre_Centro" name="ff" type="text" class="form-control input-sm" placeholder="@Model.mantencion.Equipo.Sucursal.Cliente.NombreEmpresa - @Model.mantencion.Equipo.Sucursal.NombreSucursal" value="@Model.CuestionarioMantencion.Nombre_Centro">
			</div>
        </div>
        <div class="row">
            <label class="col-md-3">Dirección:</label>
            <div class="col-sm-8">
                <input id="Direccion" name="ff" type="text" class="form-control input-sm" placeholder="@Model.mantencion.Equipo.Sucursal.Comuna.Nombre" value="@Model.CuestionarioMantencion.Direccion">
			</div>
        </div>
        <div class="row">
            <label class="col-md-3">Departamento/Ubicación:</label>
            <div class="col-sm-8">
                <input id="Departamento_Ubicacion" name="ff" type="text" class="form-control input-sm" value="@Model.CuestionarioMantencion.Departamento_Ubicacion">
			</div>
        </div>
        <div class="row">
            <label class="col-md-3">Ciudad:</label>
            <div class="col-sm-8">
                <input id="Ciudad" name="ff" type="text" class="form-control input-sm" placeholder="@Model.mantencion.Equipo.Sucursal.Comuna.Region.Nombre" value="@Model.CuestionarioMantencion.Ciudad">
			</div>
        </div>
        <div class="row">
            <label class="col-md-3">Estado:</label>
            <div class="col-sm-8">
                <input id="Estado" name="ff" type="text" class="form-control input-sm" placeholder="RM" value="@Model.CuestionarioMantencion.Estado">
			</div>
        </div>
        <div class="row">
            <label class="col-md-3">Código Postal:</label>
            <div class="col-sm-8">
                <input id="Codigo_Postal" name="ff" type="text" class="form-control input-sm" placeholder="3215452" value="@Model.CuestionarioMantencion.Codigo_Postal">
			</div>
        </div>
        <div class="row">
            <label class="col-md-3">Contacto principal:</label>
            <div class="col-sm-8">
                <input id="Contacto_Principal" name="ff" type="text" class="form-control input-sm" placeholder="ejemplo@mail.com" value="@Model.CuestionarioMantencion.Contacto_Principal">
			</div>
        </div>
        <div class="row">
            <label class="col-md-3">Nombre del técnico:</label>
            <div class="col-sm-8">
                <input id="Nombre_Tecnico" name="ff" type="text" class="form-control input-sm" placeholder="@Model.mantencion.Ingeniero.Usuario.Nombre @Model.mantencion.Ingeniero.Usuario.ApellidoPaterno" value="@Model.CuestionarioMantencion.Nombre_Tecnico">
			</div>
        </div>
        <div class="row">
            <label class="col-md-3">Fecha:</label>
            <div class="col-sm-8">
                <input id="Fecha" name="ff" type="text" class="form-control input-sm" placeholder="@DateTime.Now.Day-@(DateTime.Now.Month.ToString().Length == 1 ? "0"+DateTime.Now.Month.ToString() : DateTime.Now.Month.ToString())-@DateTime.Now.Year" value="@Model.CuestionarioMantencion.Fecha">
			</div>
        </div>
    </div>
<hr />
} 
    	
<br />
<div class="row-fluid">
    <div class="panel panel-default">
	    <div class="panel-heading">
            @Html.Raw(Model.checklist.Encabezado)
            @Html.HiddenFor(x => x.CuestionarioMantencion.IdCuestionarioMantencion)
	    </div>
		
        @foreach (var item in Model.Preguntas)
        {
            <div class="CuestionarioPregunta">
			    <div class="panel-body">
				    <div class="row-fluid">
                        <span>@item.Pregunta.Enunciado</span>
				    </div>
                    <br />
                    <div id="@(item.Pregunta.IdPregunta)" class="col-md-12 pregunta-container"> 
                        @switch (item.Pregunta.TipoPregunta.Codigo)
                        {
                            case 1:

                                break;
                            case 2:

                                break;
                            case 3:
                                <div class="row-fluid no-seleccionable PanelCuestionario respuesta">
                                    <div class="respuesta-alternativas">
						            @foreach (var alternativa in item.CuestionarioPreguntaRespuestas.OrderBy(x => x.Orden))
                  {
                                        <div class="btn-group">
							                <button id="@(alternativa.IdRespuestaSugerida)" name="@(item.Pregunta.TipoPregunta.Codigo)" type="button" class="@(Model.Respuestas.Any(x => x.IdRespuestaSugerida == alternativa.IdRespuestaSugerida && x.CuestionarioMantencion == Model.CuestionarioMantencion) && Model.Respuestas != null ? "btn btn-default selected-JJ" : "btn btn-default")" ><span class="@(Model.Respuestas.Any(x => x.IdRespuestaSugerida == alternativa.IdRespuestaSugerida && x.CuestionarioMantencion == Model.CuestionarioMantencion) && Model.Respuestas != null ? "glyphicon glyphicon-ok-sign" : "glyphicon glyphicon-minus-sign")"></span></button>
						                    <p class="input-group-addon form-control">@alternativa.RespuestaSugerida.RespuestaTexto</p>
							            </div>
                  }
                                    </div>
						        </div>
                  break;
                            case 4:

                  break;
                            case 5:
                                <div class="respuesta">
                                    <div class="respuesta-desarrollo">
                                        <textarea name="@(item.Pregunta.TipoPregunta.Codigo)" class="form-control"></textarea>
                                    </div>
                                </div>
                  break;
                        }
                    </div>
				</div>
            
			</div>
        }
        
       <div class="panel-footer">
           @Html.Raw(Model.checklist.Pie)
       </div>
        <br />
        <br />
        <div class="col-md-7">
		    <button id="guardar-checklist" type="button" class="btn btn-JJ pull-right">
			    Guardar Cambios
			</button>
            <button id="cerrar-modal" type="button" class="btn btn-default" style="display:none" data-dismiss="modal">X</button>
	    </div>
	</div>
</div> 
}
<style>
    .pregunta-container .input-group-addon
    {
        white-space: normal !important;
    }
</style>			
<script>
    $('.PanelCuestionario button').click(function (e) {
        if ($(this).attr('name') == "2") {
            $(this).parent().parent().find('.selected-JJ').removeClass('selected-JJ');
            $(this).parent().parent().find('.glyphicon-ok-sign').addClass('glyphicon-minus-sign');
            $(this).parent().parent().find('.glyphicon-ok-sign').removeClass('glyphicon-ok-sign');
        }

        if ($(this).hasClass('selected-JJ')) {
            $(this).removeClass('selected-JJ');
            $(this).children().removeClass('glyphicon-ok-sign');
            $(this).children().addClass('glyphicon-minus-sign');
        }
        else {
            $(this).addClass('selected-JJ');
            $(this).children().removeClass('glyphicon-minus-sign');
            $(this).children().addClass('glyphicon-ok-sign');
        }
    });

    $("#guardar-checklist").click(function () {
        var urlGuardar = '@Url.Action("ResponderChecklist", "PortalIngeniero")';

        var preguntas = $(".CuestionarioPregunta");

        var preguntaIds = [];
        var pregunta;

        var respuestas = [];
        var respuesta;

        var tipoPreguntas = [];
        var tipoRespuesta;

        $(preguntas).each(function (index, element) {
            pregunta = $(element).find(".pregunta-container");
            
            respuesta = pregunta.find(".respuesta");
            tipoRespuesta = respuesta.children();

            if (tipoRespuesta.attr("class") == 'respuesta-alternativas') {
                var respuestasElem = tipoRespuesta.children().find(".selected-JJ");

                $(respuestasElem).each(function (index2, element2) {
                    respuestas.push($(element2).attr("id"));
                    console.log($(element2).attr("id"));
                    tipoPreguntas.push($(element2).attr("name"));
                    console.log($(element2).attr("name"));
                    preguntaIds.push(pregunta.attr("id"));
                    console.log(pregunta.attr("id"));
                });
            }

            if (tipoRespuesta.attr("class") == 'respuesta-desarrollo') {
                respuestas.push(tipoRespuesta.children().val());
                tipoPreguntas.push(tipoRespuesta.children().attr("name"));
                preguntaIds.push(pregunta.attr("id"));
            }
        });

        var cuestionarioMantencionId = $("#CuestionarioMantencion_IdCuestionarioMantencion").val();

        var datosClientes = [];
        var datosClientesAttr = [];

        var datosClElementos = $("#datos-clientes-form").find("input[name='ff']");

        if (datosClElementos.length > 0)
        {
            $(datosClElementos).each(function (index1, element1) {
                datosClientes.push($(element1).val());
                datosClientesAttr.push($(element1).attr("id"));
            });
        }

        $.ajax({
            url: urlGuardar,
            method: "POST",
            data: { CuestionarioMantencionId: cuestionarioMantencionId, PreguntaIds: preguntaIds, Respuestas: respuestas, TipoPreguntas: tipoPreguntas, DatosClientes: datosClientes, DatosClientesAttr: datosClientesAttr },
            traditional: true,
            dataType: "html",
            success: function (data) {
                $("#cerrar-modal").trigger("click");
            }
        });
    });
</script>			