﻿@model MetricArts.JnJ.Mantenciones.Models.Notificaciones.CrearNotificacionViewModel
@{
    ViewBag.Title = "Crear Nueva Notificación";
}
@using MvcContrib;
@using MvcContrib.UI.Grid;
<section>
				<div class="row-fluid">
					<ol class="breadcrumb">
						<li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
						<li><a href="@Url.Action("Index", "GestionMantenciones")">Gestión Mantenciones</a></li>
						<li><a href="@Url.Action("Index", "Notificaciones")">Notificaciones</a></li>
						<li><a href="@Url.Action("Crear", "Notificaciones")">Nueva</a></li>
					</ol>
				</div>
				<div class="row-fluid">
					<h3>Emitir Nueva Notificación</h3>
				</div>
				<div id="crear-notificacion-wz">
					<ul class="nav nav-tabs">
					  	<li><a href="#wizard-tab1" data-toggle="tab">Selección Tipo de Notificación</a></li>
						<li><a href="#wizard-tab2" data-toggle="tab">Selección de Destinatarios</a></li>
						<li><a href="#wizard-tab3" data-toggle="tab">Selección Planificación (Mantenciones) / Formato de correo</a></li>
                        <li><a href="#wizard-tab4" data-toggle="tab">Fecha de envío</a></li>
					</ul>
                    <div id="bar" class="progress progress-info progress-striped">
                      	<div class="progress-bar progress-bar-danger active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
                    </div>
                    <form action="@Url.Action("Crear", "Notificaciones")" method="POST" class="form-horizontal">
					<div class="tab-content">
					    <div class="tab-pane" id="wizard-tab1">
					    	<div class="row-fluid"><i>Debe escoger un tipo de Notificación:</i></div>
					    	</br>
							
								<div class="form-group">
									<div class="col-md-8 no-seleccionable select">
										<ul id="tipo-de-notificacion" class="list-group">
                                            
                                           @* @foreach (var x in Model.TiposNotificacion)*@
                                                
                                            @for (int j = 0; j < Model.TiposNotificacion.Count(); j++)
                                            {
                                                <li id="@(Model.TiposNotificacion[j].IdTipoNotificacion)" class="list-group-item">@Model.TiposNotificacion[j].Nombre</li>
                                                
                                            }
										</ul>
                                        @Html.HiddenFor(m => m.FORM.IdTipoNotificacion)
									</div>
								</div>
							@*</form>*@
					    </div>
					    <div class="tab-pane" id="wizard-tab2">
					    	<div class="row-fluid"><i>Seleccione la Entidad a la que pertenece el destinatario:</i></div>
					    	</br>
					      	
								<div class="form-group">
									<label class="col-sm-2 control-label">@Html.LabelFor(x => x.FORM.IdFranquicia)</label>
									<div class="col-sm-6">
                                        @Html.DropDownListFor(x => x.FORM.IdFranquicia, Model.FranquiciasSelect, "Seleccione una opción", new { @class = "form-control input-sm" })
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">@Html.LabelFor(x => x.FORM.IdCliente1)</label>
									<div class="col-sm-6">
                                       <select id="FORM_IdCliente" class="form-control input-sm" disabled="disabled"></select>
									</div>
                                    @Html.HiddenFor(m => m.FORM.IdCliente1)
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">@Html.LabelFor(x => x.FORM.IdSucursal1)</label>
									<div class="col-sm-6">
                                        <select id="FORM_IdSucursal" class="form-control input-sm" disabled="disabled"></select>
									</div>
                                    @Html.HiddenFor(m => m.FORM.IdSucursal1)
								</div>
								</br>
								<div class="InputAddContent">
									<div class="row-fluid">
										<i>Contacto Sucursal (Puede agregar más de uno):</i>
									</div>
									</br>
									<div class="form-group">
										<label class="col-sm-2 control-label">
                                            Para:
										</label>
										<div class="col-sm-6">
											<div class="input-group">
												<span class="input-group-addon">@@</span>
												<input id="contacto-sucursal" type="text" class="form-control" readonly="readonly" >
                                                @*@Html.TextBoxFor(m => m.FORM.contactoPara, new { @class = "form-control" , @readonly = "readonly" })*@
												<span class="input-group-btn">
													<button type="button" class="btn btn-success">
														<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
													</button>
												</span>
                                                @Html.HiddenFor(m => m.FORM.contactoPara)
                                                @Html.HiddenFor(m => m.FORM.contactosCC)
                                                @Html.HiddenFor(m => m.FORM.contactosBCC)
											</div>		
										</div>
									</div>
								</div>	
							
					    </div>
						<div class="tab-pane" id="wizard-tab3">
                            <h5 align="right">Tipo de Notificación:  <span id="tipo-notificacion"></span></h5>
                            <ol class="breadcrumb">
                                <li class="active"><span id="franquicia-bd"></span></li>
                                <li class="active"><span id="cliente-bd"></span></li>
                                <li class="active"><span id="sucursal-bd"></span></li>
                            </ol>
                            <div class="form-group">
									<label class="col-sm-2 control-label">@Html.LabelFor(x => x.FORM.IdPlanificacion1)</label>
									<div class="col-sm-6">
                                       <select id="FORM_IdPlanificacion" class="form-control input-sm" disabled="disabled"></select>
									</div>
                                    @Html.HiddenFor(m => m.FORM.IdPlanificacion1)
								</div>
                            <div class="row-fluid">
								<i>Equipos asociados a la planificación:</i>
							</div>
                            <br /> 

                           <div class="form-group">
									<div class="col-md-8 no-seleccionable select">
										<ul id="equipos-planificacion" class="list-group small">
										</ul>
									</div>
								</div>
							@Html.HiddenFor(m => m.FORM.equiposSeleccionadosStr)

                            <div id="formatos-equipos-display" style="display:none">
                            <div class="row-fluid">
								<i>Asocie una plantilla de correo y/o a una plantilla PDF a la notificación:</i>
							</div>
                            <br />
					      	
                                  <div class="form-group">
									<label class="col-sm-2 control-label">@Html.LabelFor(x => x.FORM.IdFormatoCorreo1)</label>
									<div class="col-sm-6">
										<div class="input-group">
                                            <select id="FORM_IdFormatoCorreo" class="form-control input-sm" disabled="disabled"></select>
											<span class="input-group-btn">
												<button id="PreviewCorreo" type="button" class="btn btn-sm btn-warning" data-toggle="tooltip" data-placement="bottom" title="Previsualizar Correo">
													<span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
												</button>
											</span>
										</div>
									</div>
                                      @Html.HiddenFor(m => m.FORM.IdFormatoCorreo1)
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">@Html.LabelFor(x => x.FORM.IdFormatoPDF1)</label>
									<div class="col-sm-6">
										<div class="input-group">
                                            <select id="FORM_IdFormatoPDF" class="form-control input-sm" disabled="disabled"></select>
											<span class="input-group-btn">
												<button id="PreviewPDF" type="button" class="btn btn-sm btn-warning" data-toggle="tooltip" data-placement="bottom" title="Previsualizar PDF">
													<span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
												</button>
											</span>
										</div>
									</div>
                                    @Html.HiddenFor(m => m.FORM.IdFormatoPDF1)
								</div>
                                <div class="form-group">
									<label class="col-sm-2 control-label">Descartar PDF</label>
									<div class="col-sm-6">
                                        @Html.CheckBoxFor(m => m.FORM.pdfAttached, new { @checked = "checked"})
									</div>
								</div>
								</div>


					    </div>
					    <div class="tab-pane" id="wizard-tab4">
						    <div class="row">
							    <i>Seleccione la fecha para el envío de la notificación:</i>
							</div>
							</br>
						    <div class="row">
                                <div class="col-sm-3 input-group">
                                @Html.TextBoxFor(m => m.FORM.fechaEnvio, new { @class = "form-control datepickershow", @readonly = "readonly" })
                                    <span class="input-group-btn">
								        <button class="btn btn-default dateButton" type="button">
								            <span class="glyphicon glyphicon-calendar"></span>
								        </button>
								    </span>
								</div>
							</div>
					    </div>
                        </form>
						<ul class="pager wizard">
							<li class="previous"><a href="javascript:;">Anterior</a></li>
						  	<li class="next"><a href="javascript:;">Siguiente</a></li>
						  	<li class="next finish" style="display:none;">
						  		@*<a class="btn btn-success" href="javascript:;"><span class="glyphicon glyphicon-send"></span> Enviar
						  		</a>*@
                                  <button id="fin-crear-notificaciones" type="button" value="Guardar" class="btn btn-success">
                                      <span class="glyphicon glyphicon-send"></span> Guardar Notificacion
                                  </button>
						  	</li>
						</ul>
					</div>
			</section>

            <div class="modal fade" id="ModalPreviewCorreo" tabindex="-1" role="dialog" aria-labelledby="">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="myModalLabel1"><span id="titulo-formato-correo"></span></h4>
					</div>
					<div id="correo-body-html" class="modal-body">
						...
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
					</div>
				</div>
			</div>
		</div>

        <div class="modal fade" id="ModalPreviewPDF" tabindex="-1" role="dialog" aria-labelledby="">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="myModalLabel2"><span id="titulo-formato-pdf"></span></h4>
					</div>
					<div id="pdf-body-html" class="modal-body">
						...
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
					</div>
				</div>
			</div>
		</div>

@Scripts.Render("~/bundles/custom/notificaciones/crear")
<script type="text/javascript">
    $(document).ready(function () {
        init('@Url.Action("ObtenerClientes", "ServicioConsulta")',
            '@Url.Action("ObtenerSucursales", "ServicioConsulta")',
            '@Url.Action("ObtenerContactoSucursal", "ServicioConsulta")',
            '@Url.Action("ObtenerPlanificacionesSucursal", "ServicioConsulta")',
            '@Url.Action("ObtenerFormatosCorreo", "ServicioConsulta")',
            '@Url.Action("ObtenerEquiposSucursalDescripcion", "ServicioConsulta")',
            '@Url.Action("ObtenerFormatosPDF", "ServicioConsulta")',
            '@Url.Action("PlantillaCorreoPreview", "Notificaciones")',
            '@Url.Action("PlantillaPDFPreview", "Notificaciones")',
            '@Url.Action("ObtenerEquiposPlanificacion", "ServicioConsulta")');

    });
</script>