﻿@{
    ViewBag.Title = "Gestor de Notificaciones";
}

<section>
				<div class="row-fluid">
					<ol class="breadcrumb">
						<li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
						<li><a href="@Url.Action("Index", "GestionMantenciones")">Gestión Mantenciones</a></li>
						<li><a href="@Url.Action("Index", "Notificaciones")">Notificaciones</a></li>
					</ol>
				</div>
				<div class="row-fluid">
					<!--<div id='calendar'></div>-->
					<button dir="@Url.Action("Crear", "Notificaciones")" data-toggle="tooltip" data-placement="bottom" title="Emitir Nueva Notificación" class="shortcut-button">
						<span class="glyphicon glyphicon-envelope"></span>
						<span class="title">Nueva</span>
					</button>
					<button dir="@Url.Action("Seguimiento", "Notificaciones")" data-toggle="tooltip" data-placement="bottom" title="Estado de Notificaciones" class="shortcut-button">
						<span class="glyphicon glyphicon-check"></span>
						<span class="title">Estado</span>
					</button>
					@*<button dir="@Url.Action("Reenviar", "Notificaciones")" data-toggle="tooltip" data-placement="bottom" title="Reenviar Notificaciones" class="shortcut-button">
						<span class="glyphicon glyphicon-send"></span>
						<span class="title">Reenviar</span>
					</button>*@
				</div>
				<div class="row-fluid">
					<div class="col-md-2"></div>
				</div>
			</section>


