﻿@{
    ViewBag.Title = "Reenviar Notificaciones (Masivo)";
}

<section>
    <div class="row-fluid">
					<ol class="breadcrumb">
						<li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
						<li><a href="@Url.Action("Index", "GestionMantenciones")">Gestión Mantenciones</a></li>
						<li><a href="@Url.Action("Index", "Notificaciones")">Notificaciones</a></li>
						<li><a href="@Url.Action("Reenviar", "Notificaciones")">Reenvío</a></li>
					</ol>
				</div>
				<div class="row-fluid">
					<h3>Reenvío de las Notificaciones</h3>
				</div>
				<div class="row-fluid">
					<form class="form-horizontal">
						<div class="form-group">
							<label class="col-sm-2 control-label">Franquicia</label>
							<div class="col-sm-6">
								<select class="form-control input-sm">
									<option value="">opción</option>
									<option value="">opción</option>
									<option value="">opción</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Cliente</label>
							<div class="col-sm-6">
								<select class="form-control input-sm">
									<option value="">opción</option>
									<option value="">opción</option>
									<option value="">opción</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Sucursal</label>
							<div class="col-sm-6">
								<select class="form-control input-sm">
									<option value="">opción</option>
									<option value="">opción</option>
									<option value="">opción</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Planificación</label>
							<div class="col-sm-6">
								<select id="SltPlanificacion" class="form-control input-sm">
									<option value="">opción</option>
									<option value="">opción</option>
									<option value="">opción</option>
								</select>
							</div>
						</div>
						</br>
						<div id="InputAddContent">
							<div class="row-fluid">
								<i>Seleccione las notificaciones:</i>
							</div>
							</br>
							<div class="form-group">
								<div class="col-md-8 no-seleccionable deSelect">
									<ul class="list-group">
										<li class="list-group-item">OCD Laboratorio Megasalud Planificación 2014 3 equipos</li>
										<li class="list-group-item">OCD Laboratorio Megasalud Planificación 2014 3 equipos</li>
										<li class="list-group-item">OCD Laboratorio Megasalud Planificación 2014 3 equipos</li>
									</ul>
								</div>
							</div>
						</div>	
					</form>
				</div>
				<div class="row-fluid">
					<button class="btn btn-success" type="button"><span class="glyphicon glyphicon-send"></span> Reenviar</button>
				</div>
			</section>

