﻿@model MetricArts.JnJ.Mantenciones.Models.Notificaciones.ButtonsPreviewNotificaciones
@{
    ViewBag.Title = "SeguimientoEditar";
}
<section>
    <form class="form-horizontal">
        <div class="InputAddContentPartial">
            <button id="guardar-cambios" type="button" class="btn btn-JJ pull-right">Guardar cambios</button>
            <div class="row-fluid">
	            <i>Contacto Sucursal (Puede agregar más de uno):</i>
	        </div>
            <input id="id-notificacion" type="hidden" value="@(Model.notificacion.IdMensajeStage)" />
	        </br>
            </br>
            </br>
	        <div class="form-group">
	            <label class="col-sm-2 control-label">
                    Para:
		        </label>
		        <div class="col-sm-9">
		            <div class="input-group">
			            <span class="input-group-addon">@@</span>
				        <input id="contacto-sucursal" type="text" class="form-control" readonly="readonly" value="@(Model.contactoSucursal)" >
			            <span class="input-group-btn">
			                <button type="button" class="btn btn-success">
					            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
				            </button>
				        </span>
		            </div>		
		        </div>
	        </div>
            <button id="cerrar-modal" type="button" class="btn btn-default" style="display:none" data-dismiss="modal">X</button>

            @for (int i = 1; i < Model.contactosPara.Count(); i++)
            {
                <div class="form-group">
                <label class="col-sm-2 control-label"></label>
                <div class="col-sm-9">
                    <div class="input-group contacto-destinatario">
                        <select class="form-control input-sm">
                            <option value="1" selected>Para:</option>
                            <option value="2">CC:</option>
                            <option value="3">BCC:</option>
                        </select>
                        <span class="input-group-addon">@@</span>
                        <input type="text" class="form-control" value="@(Model.contactosPara[i])" >
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-danger">
                                <span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span>
                            </button>
                        </span>
                        </div>
                    </div>
                </div>
            }

            @foreach(var contactoCC in Model.contactosCC) {
                <div class="form-group">
                <label class="col-sm-2 control-label"></label>
                <div class="col-sm-9">
                    <div class="input-group contacto-destinatario">
                        <select class="form-control input-sm">
                            <option value="1">Para:</option>
                            <option value="2" selected>CC:</option>
                            <option value="3">BCC:</option>
                        </select>
                        <span class="input-group-addon">@@</span>
                        <input type="text" class="form-control" value="@(contactoCC)" >
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-danger">
                                <span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span>
                            </button>
                        </span>
                        </div>
                    </div>
                </div>
            }
            
            @foreach(var contactoBCC in Model.contactosBCC) {
                <div class="form-group">
                <label class="col-sm-2 control-label"></label>
                <div class="col-sm-9">
                    <div class="input-group contacto-destinatario">
                        <select class="form-control input-sm">
                            <option value="1">Para:</option>
                            <option value="2">CC:</option>
                            <option value="3" selected>BCC:</option>
                        </select>
                        <span class="input-group-addon">@@</span>
                        <input type="text" class="form-control" value="@(contactoBCC)" >
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-danger">
                                <span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span>
                            </button>
                        </span>
                        </div>
                    </div>
                </div>
            }

        </div>
    </form>
</section>
<script>
    $('.InputAddContentPartial .btn-success').click(function () {
        $('.InputAddContentPartial').append('<div class="form-group"><label class="col-sm-2 control-label"></label><div class="col-sm-9"><div class="input-group contacto-destinatario"><select class="form-control input-sm"><option value="1">Para:</option><option value="2">CC:</option><option value="3">BCC:</option></select><span class="input-group-addon">@@</span><input type="text" class="form-control" ><span class="input-group-btn"><button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span></button></span></div></div></div>');
    });

    $('body').on('click', '.InputAddContentPartial .btn-danger', function () {
        $(this).closest('.form-group').remove();
    });

    $("#guardar-cambios").click(function () {
        var urlGuardar = '@Url.Action("SeguimientoEditar", "Notificaciones")';

        var idNotificacion = $("#id-notificacion").val();

        var PARA = [];
        var CC = [];
        var BCC = [];

        var conParaJoin, conCCJoin, conBCCJoin;


        PARA.push($("#contacto-sucursal").val());

        if ($(".contacto-destinatario").length > 0) {
            $(".contacto-destinatario").each(function (index, element) {
                var seleccion = $(element).find("select option:selected").val();
                var contactoStr = $(element).find("input").val();

                if (contactoStr == "") { return true; }

                switch (seleccion) {
                    case "1":
                        PARA.push(contactoStr);
                        break;
                    case "2":
                        CC.push(contactoStr);
                        break;
                    case "3":
                        BCC.push(contactoStr);
                        break;
                }
            });
            conCCJoin = CC.join(",");
            conBCCJoin = BCC.join(",");
        }
        else {
            conCCJoin = '';
            conBCCJoin = '';
        }
        conParaJoin = PARA.join(",");

        $.ajax({
            url: urlGuardar,
            method: "POST",
            data: { IdNotificacion: idNotificacion, contactosPara: conParaJoin, contactosCC: conCCJoin, contactosBCC: conBCCJoin },
            traditional: true,
            dataType: "html",
            success: function (data) {
                $("#cerrar-modal").trigger("click");
            }
        });

        
    });
</script>
