﻿@model MetricArts.JnJ.Mantenciones.Models.Notificaciones.ButtonsPreviewNotificaciones
@{
    ViewBag.Title = "SeguimientoEstado";
}

<form class="form-horizontal">
<div class="form-group">
    <label class="col-sm-6 control-label">
        Estado de envío:
    </label>
    <div class="col-sm-6">
        <strong>@Model.notificacion.EstadoMensaje.Descripcion</strong>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-6 control-label">
        Fecha programada para envío:
    </label>
    <div class="col-sm-6">
        @Model.notificacion.FechaProgrEnvio.ToShortDateString()
    </div>
</div>
<div class="form-group">
    <label class="col-sm-6 control-label">
        Fecha de creación:
    </label>
    <div class="col-sm-6">
        @Model.notificacion.FechaIngreso.ToShortDateString()
    </div>
</div>
<div class="form-group">
    <label class="col-sm-6 control-label">
        Creado por:
    </label>
    <div class="col-sm-6">
        @Model.notificacion.CreadoPor
    </div>
</div>
    </form>