﻿@model MetricArts.JnJ.Mantenciones.Models.Notificaciones.ButtonsPreviewNotificaciones
@{
    ViewBag.Title = "SeguimientoReenviar";
}


<div class="row">
    <i>Seleccione la fecha para el reenvío:</i>
</div>
</br>
<input id="id-notificacion" type="hidden" value="@(Model.notificacion.IdMensajeStage)" />
<div class="row">
    <div class="col-sm-8 input-group">
        <input id="fecha-reenvio" type="text" class="form-control datepickershow" value="@(Model.notificacion.FechaProgrEnvio.ToString("dd/MM/yyyy"))" readonly="readonly"/>
        <span class="input-group-btn">
		    <button class="btn btn-default dateButton" type="button">
			    <span class="glyphicon glyphicon-calendar"></span>
			</button>
		</span>
	</div>
    <button id="guardar-cambios" type="button" class="btn btn-JJ pull-right">
        <span class="glyphicon glyphicon-share-alt"></span>
        Encolar nuevamente</button>
    @*<button id="cerrar-modal" type="button" class="btn btn-default" style="display:none" data-dismiss="modal">X</button>*@
    <button id="cerrar-modal" type="button" class="btn btn-default" style="display:none">X</button>
</div>
<style>
    .datepicker{z-index:1151 !important;}
</style>
<script>
    $(".dateButton").click(function () {
        $('.datepickershow').datepicker("show");
    });

    $("#guardar-cambios").click(function () {
        var urlGuardar = '@Url.Action("SeguimientoReenviar", "Notificaciones")';
        var fechaReenvio = $("#fecha-reenvio").val();
        var idNotificacion = $("#id-notificacion").val();

        $.ajax({
            url: urlGuardar,
            method: "POST",
            data: { IdNotificacion: idNotificacion, FechaReenvio: fechaReenvio },
            traditional: true,
            dataType: "html",
            success: function (data) {
                $("#cerrar-modal").trigger("click");
                alert("Los datos han sido actualizados");
            }
        });
    });

    $("#cerrar-modal").click(function () {
        $('#ModalPreviewSeguimientoReload').modal('hide');
    });
</script>
