﻿@model MetricArts.JnJ.Mantenciones.Models.Notificaciones.SeguimientoNotificacionesViewModel
@{
    ViewBag.Title = "Seguimiento de Notificaciones";
}
@using MvcPaging;
@using MvcContrib;
@using MvcContrib.UI.Grid;
<section>
<div class="row-fluid">
					<ol class="breadcrumb">
						<li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
						<li><a href="@Url.Action("Index", "GestionMantenciones")">Gestión Mantenciones</a></li>
						<li><a href="@Url.Action("Index", "Notificaciones")">Notificaciones</a></li>
						<li><a href="@Url.Action("Seguimiento", "Notificaciones")">Seguimiento</a></li>
					</ol>
				</div>
				<div class="row-fluid">
					<h3>Listado de Notificaciones</h3>
					<div class="bs-callout bs-callout-JJ" id="callout-help-text-accessibility">
                        <a href="@Url.Action("Crear", "Notificaciones")" data-toggle="confirmation"  title="Nueva Notificación" class="btn btn-success"><span class='glyphicon glyphicon-plus-sign'></span> Nueva Notificación</a>
                        <button class="btn btn-primary" type="button">
			                Cantidad Total <span class="badge">@Model.notificaciones.Count()</span>
				        </button>
					</div>
                    <span id="prueba"></span>
                    <br />
				</div>
                
				<div id="InputAddContent" class="row-fluid">
					<div class="table-responsive">
                        @Html.Grid(Model.notificaciones).Columns(col =>
                            {
                                col.For(x => Html.Raw("<button type='button' id='" + x.IdMensajeStage + "' name='1' data-toggle='tooltip' data-placement='bottom' title='" + x.EstadoMensaje.Descripcion + "'" +
                                    " class='btn btn-default btn-modal-trigger'>" + (x.EstadoMensaje.Codigo == 1 ? "<span class='glyphicon glyphicon-time'></span>" : (x.EstadoMensaje.Codigo == 3 ? "<span class='glyphicon glyphicon-ok'></span>" : (x.EstadoMensaje.Codigo == 4 ? "<span class='glyphicon glyphicon-ok'></span><span class='glyphicon glyphicon-ok'></span>" : (x.EstadoMensaje.Codigo == 2 ? "<span class='glyphicon glyphicon-check'></span>" : "<span class='glyphicon glyphicon-ban-circle'></span>")))) + "</button>")).Named("Estado");
                                col.For(x => x.TipoNotificacion.Nombre).Named("Tipo Notificación");
                                col.For(x => x.Sucursal.Cliente.NombreEmpresa).Named("Cliente");
                                col.For(x => x.Sucursal.NombreSucursal).Named("Sucursal");
                                col.For(x => Html.Raw("<button id='" + x.IdMensajeStage + "' name='2' data-toggle='tooltip' data-placement='bottom' title='Previsualizar Mensaje' class='btn btn-default btn-modal-trigger'><span class='glyphicon glyphicon-search'></span></button>"))
                                    .Named("Mail");
                                col.For(x => Html.Raw((x.IdPDFTemplate != null ? "<button type='button' id='" + x.IdMensajeStage + "' name='3' data-toggle='tooltip' data-placement='bottom' title='Previsualizar PDF' class='btn btn-default btn-modal-trigger'><span class='glyphicon glyphicon-new-window'></span></button>" : "N/A")))
                                    .Named("PDF");
                                col.For(x => Html.Raw(((x.EstadoMensaje.Codigo != 1 && x.EstadoMensaje.Codigo != 2) ? "<button type='button' id='" + x.IdMensajeStage + "' name='4' data-toggle='tooltip' data-placement='bottom' title='Editar' class='btn btn-default btn-modal-trigger'><span class='glyphicon glyphicon-edit'></span></button>" : "-")))
                                    .Named("Editar Contactos");
                                col.For(x => Html.Raw((x.EstadoMensaje.Codigo != 2 ? "<button type='button' id='" + x.IdMensajeStage + "' name='5' data-toggle='tooltip' data-placement='bottom' title='Reprogramar' class='btn btn-default btn-modal-reload-trigger'><span class='glyphicon glyphicon-th'></span></button>" : "-")))
                                    .Named("Reprogramar Envío");
                                //col.For(x => Html.Raw((x.EstadoMensaje.Codigo != 2  ? "<form id='form2' action='" + @Url.Action("SeguimientoEliminar", "Notificaciones") + "' method='POST' class='form-horizontal'><button type='button' id='" + x.IdMensajeStage + "' name='6' data-toggle='tooltip' data-placement='bottom' title='Eliminar' class='btn btn-default btn-eliminar'><span class='glyphicon glyphicon-minus-sign'></span></button>" + @Html.HiddenFor(m => m.FORM.IdNotificacion) + "</form>" : "-")))
                                //    .Named("Eliminar");
                                col.For(x => Html.Raw(((x.EstadoMensaje.Codigo != 1 && x.EstadoMensaje.Codigo != 2) ? "<form action='" + @Url.Action("SeguimientoReenviarNow", "Notificaciones") + "' method='POST'><button type='button' id='" + x.IdMensajeStage + "' data-toggle='tooltip' data-placement='bottom' title='Reenviar ahora' class='btn btn-primary btn-reenviar'><span class='glyphicon glyphicon-send'></span> Reenviar ahora</button>" + @Html.HiddenFor(m => m.FORM.IdNotificacion) + "</form>" : "-")))
                                    .Named("");
                            }).Empty("No existen notificaciones para los criterios de búsqueda seleccionados.").Attributes(@id => "notificaciones-estados", @class => "table table-hover table-striped table-condensed")
					</div>
				</div>
                    
                
			</section>


            <div class="modal fade" id="ModalPreviewSeguimiento" tabindex="-1" role="dialog" aria-labelledby="">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="myModalLabel"><span id="titulo-modal"></span></h4>
					</div>
					<div id="contenido-modal" class="modal-body">
						
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
					</div>
				</div>
			</div>
		</div>
        <div class="modal fade" id="ModalPreviewSeguimientoReload" tabindex="-1" role="dialog" aria-labelledby="">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button id="salir-modal-reload-x" type="button" class="close" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="myModalLabel2"><span id="titulo-modal-reload"></span></h4>
					</div>
					<div id="contenido-modal-reload" class="modal-body">
						
					</div>
					<div class="modal-footer">
						<button id="salir-modal-reload" type="button" class="btn btn-default">Cancelar</button>
					</div>
				</div>
			</div>
		</div>
@Scripts.Render("~/bundles/custom/notificaciones/seguimiento")
<script type="text/javascript">
    $(document).ready(function () {
        init('@Url.Action("ObtenerClientes", "ServicioConsulta")',
            '@Url.Action("ObtenerSucursales", "ServicioConsulta")',
            '@Url.Action("SeguimientoEstado", "Notificaciones")',
            '@Url.Action("SeguimientoEditar", "Notificaciones")',
            '@Url.Action("SeguimientoReenviar", "Notificaciones")',
            '@Url.Action("SeguimientoMailPreview", "Notificaciones")',
            '@Url.Action("SeguimientoPDFPreview", "Notificaciones")');
    });
</script>