﻿@model MetricArts.JnJ.Mantenciones.Models.Mantenedores.Clientes.ClientesViewModel
@{
    ViewBag.Title = "Editar Cliente";
}

<div class="row-fluid">
				<ol class="breadcrumb">
					<li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
					<li><a href="@Url.Action("Index", "Mantenedores")">Mantenedores</a></li>
					<li><a href="@Url.Action("Index", "Clientes")">Clientes</a></li>
					<li>Editar</li>
				</ol>
			</div>

			<section>
                
				<div class="row-fluid">
					<h3>Editar Cliente</h3>
				</div>
                @if (TempData["Mensaje"] != null && !String.IsNullOrEmpty(TempData["Mensaje"].ToString()))
                {
                <div class="alert alert-warning alert-dismissible fadeOutMantenedor" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>@(TempData["Mensaje"])</strong>
                </div>
                }
                <br />
                <form action="@Url.Action("Editar", "Clientes")" method="POST" class="form-horizontal">
                    @Html.HiddenFor(x => x.FORM.IdCliente)
				<div class="row-fluid">
						<div class="form-group">
						    <label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.IdFranquicia)</label>
							<div class="col-sm-6">
							    @Html.DropDownListFor(x => x.FORM.IdFranquicia, Model.Franquicias, "Seleccione una Franquicia", new { @class = "form-control input-sm" })
							</div>
						</div>
                        <div class="form-group">
						    <label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.IdTipoCliente)</label>
							<div class="col-sm-6">
							    @Html.DropDownListFor(x => x.FORM.IdTipoCliente, Model.TipoClientes, "Seleccione un Tipo de Cliente", new { @class = "form-control input-sm" })
							</div>
						</div>
                        <div class="form-group">
							<label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.CodigoCliente)</label>
							<div class="col-sm-6">
                                @Html.TextBoxFor(x => x.FORM.CodigoCliente, new { @class = "form-control input-sm" })
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.NombreEmpresa)</label>
							<div class="col-sm-6">
                                @Html.TextBoxFor(x => x.FORM.NombreEmpresa, new { @class = "form-control input-sm" })
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.Descripcion)</label>
							<div class="col-sm-6">
                                @Html.TextAreaFor(x => x.FORM.Descripcion, new { @class = "form-control", @rows = "3" })
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.PaginaWeb)</label>
							<div class="col-sm-6">
                                @Html.TextBoxFor(x => x.FORM.PaginaWeb, new { @class = "form-control", @rows = "3" })
							</div>
						</div>
                    <div class="form-group">
							<label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.RepresentanteCuenta)</label>
							<div class="col-sm-6">
                                @Html.TextBoxFor(x => x.FORM.RepresentanteCuenta, new { @class = "form-control", @rows = "3" })
							</div>
						</div>	
                    <div class="form-group">
							<label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.CorreoRepresentante)</label>
							<div class="col-sm-6">
                                @Html.TextBoxFor(x => x.FORM.CorreoRepresentante, new { @class = "form-control", @rows = "3" })
							</div>
						</div>										
				</div>
				<div class="row">
					<div class="col-md-6 col-md-offset-4">
						<input type="submit" class="btn btn-success pull-right" value="Guardar" />
                        <a href="@Url.Action("Index", "Clientes")" class="btn btn-primary">Cancelar</a>
					</div>
				</div>
                </form>
			</section>
@Scripts.Render("~/bundles/custom/mantenedores/clientes/editar")
<script type="text/javascript">
    $(document).ready(function () {
        init();
    });
</script>