﻿@model MetricArts.JnJ.Mantenciones.Models.Mantenedores.Clientes.ClientesViewModel
@{
    ViewBag.Title = "Listado Clientes";
}
<section class="container-fluid">
    <article>
        <div class="row">
		    <ol class="breadcrumb">
			    <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
			    <li><a href="@Url.Action("Index", "Mantenedores")">Mantenedores</a></li>
				<li><a href="@Url.Action("Index", "Clientes")">Clientes</a></li>
			</ol>
		</div>

        <article>
		    <div class="bs-callout bs-callout-JJ">
                <legend>Clientes</legend>
                <a href="@Url.Action("CrearNuevo", "Clientes")" data-toggle="confirmation"  title="Nuevo Cliente" class="btn btn-success">
                    <span class='glyphicon glyphicon-plus-sign'></span> Crear Nuevo
                </a>

                <button class="btn btn-primary" type="button">
			        Cantidad Total <span class="badge">@Model.Clientes.Count()</span>
				</button>
		    </div>
		</article>

        <br />
        @if (TempData["Mensaje"] != null && !String.IsNullOrEmpty(TempData["Mensaje"].ToString()))
        {
            <div class="alert alert-success alert-dismissible fadeOutMantenedor" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>@(TempData["Mensaje"])</strong>
            </div>
        }
        <br />
        <div class="row">
            <div class="table-responsive">                            
                <table id="listado-mantenedor" class="table table-striped table-condensed display">
                    <thead>
                        <tr>
                            <th>@Html.DisplayName("Franquicia")</th>
                            <th>@Html.DisplayName("Código Cliente")</th>
                            <th>@Html.DisplayName("Nombre")</th>
                            <th>@Html.DisplayName("Sucursales Asociadas")</th>
                            <th>@Html.DisplayName("Tipo Cliente")</th>
                            <th>@Html.DisplayName("Descripción")</th>
                            <th>@Html.DisplayName("Fecha Creación")</th>
                            <th>Editar</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Clientes)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Franquicia.NombreFranquicia)</td>
                                <td>@Html.DisplayFor(modelItem => item.CodigoCliente)</td>
                                <td>@Html.DisplayFor(modelItem => item.NombreEmpresa)</td>
                                <td><strong>@Html.DisplayFor(modelItem => item.Sucursals.Count)</strong></td>
                                <td>@Html.DisplayFor(modelItem => item.TipoCliente.Nombre)</td>
                                <td>@Html.DisplayFor(modelItem => item.Descripcion)</td>
                                <td>@Html.DisplayFor(modelItem => item.FechaCreacion)</td>
                                <td><a href="@Url.Action("Editar", "Clientes", new { IdCliente = item.IdCliente })" class="btn btn-default"><span class='glyphicon glyphicon-edit'></span></a></td>
                                <td>
                                    @if (!item.Sucursals.Any())
                                    { <a href="@Url.Action("Eliminar", "Clientes", new { IdCliente = item.IdCliente })" class="btn btn-default" onclick="if(!confirm('Está a punto de eliminar este cliente.\n¿Desea continuar?.')) return false;"><span class='glyphicon glyphicon-trash'></span></a> }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
			</div>
		</div>
    </article>
</section>
@Scripts.Render("~/bundles/custom/mantenedores/clientes/listado")
<script type="text/javascript">
    $(document).ready(function () {
        init();
    });
</script>
