﻿@model MetricArts.JnJ.Mantenciones.Models.Mantenedores.Sucursales.SucursalesViewModel
@{
    ViewBag.Title = "Crear Nueva Sucursal";
}

<div class="row-fluid">
				<ol class="breadcrumb">
					<li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
					<li><a href="@Url.Action("Index", "Mantenedores")">Mantenedores</a></li>
					<li><a href="@Url.Action("Index", "Sucursales")">Sucursales</a></li>
					<li><a href="@Url.Action("CrearNuevo", "Sucursales")">Nuevo</a></li>
				</ol>
			</div>

			<section>
				<div class="row-fluid">
					<h3>Crear Nueva Sucursal</h3>
				</div>
                @if (TempData["Mensaje"] != null && !String.IsNullOrEmpty(TempData["Mensaje"].ToString()))
                {
                <div class="alert alert-warning alert-dismissible fadeOutMantenedor" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>@(TempData["Mensaje"])</strong>
                </div>
                }
                <br />
                <form action="@Url.Action("CrearNuevo", "Sucursales")" method="POST" class="form-horizontal">
				<div class="row-fluid">
					    <div class="form-group">
						    <label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.IdFranquicia)</label>
							<div class="col-sm-6">
							    @Html.DropDownListFor(x => x.FORM.IdFranquicia, Model.Franquicias, "Seleccione una Franquicia", new { @class = "form-control input-sm" })
							</div>
						</div>
                        <div class="form-group">
						    <label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.IdCliente)</label>
							<div class="col-sm-6">
							    <select id="FORM_IdCliente" class="form-control input-sm" disabled="disabled"></select>
                                @Html.HiddenFor(x => x.FORM.IdCliente1)
							</div>
						</div>
                        <div class="form-group">
						    <label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.IdRegion)</label>
							<div class="col-sm-6">
							    @Html.DropDownListFor(x => x.FORM.IdRegion, Model.Regiones, "Seleccione una Región", new { @class = "form-control input-sm" })
							</div>
						</div>
                        <div class="form-group">
						    <label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.IdComuna)</label>
							<div class="col-sm-6">
							    <select id="FORM_IdComuna" class="form-control input-sm" disabled="disabled"></select>
                                @Html.HiddenFor(x => x.FORM.IdComuna1)
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.NombreSucursal)</label>
							<div class="col-sm-6">
                                @Html.TextBoxFor(x => x.FORM.NombreSucursal, new { @class = "form-control input-sm" })
							</div>
						</div>							
				</div>
				<div class="row">
					<div class="col-md-6 col-md-offset-4">
						<button id="crear-sucursal" type="button" class="btn btn-success pull-right">Guardar</button>
                        <a href="@Url.Action("Index", "Sucursales")" class="btn btn-primary">Cancelar</a>
					</div>
                    
				</div>
                </form>
			</section>
@Scripts.Render("~/bundles/custom/mantenedores/sucursales/crear")
<script type="text/javascript">
    $(document).ready(function () {
        init('@Url.Action("ObtenerClientes", "ServicioConsulta")',
            '@Url.Action("ObtenerComunas", "ServicioConsulta")');
    });
</script>
