﻿@model MetricArts.JnJ.Mantenciones.Models.Mantenedores.Sucursales.SucursalesViewModel
@{
    ViewBag.Title = "Editar Sucursal";
}

<div class="row-fluid">
				<ol class="breadcrumb">
					<li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
					<li><a href="@Url.Action("Index", "Mantenedores")">Mantenedores</a></li>
					<li><a href="@Url.Action("Index", "Sucursales")">Sucursales</a></li>
					<li>Editar</li>
				</ol>
			</div>

			<section>
                
				<div class="row-fluid">
					<h3>Editar Sucursal</h3>
				</div>
                @if (TempData["Mensaje"] != null && !String.IsNullOrEmpty(TempData["Mensaje"].ToString()))
                {
                <div class="alert alert-warning alert-dismissible fadeOutMantenedor" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>@(TempData["Mensaje"])</strong>
                </div>
                }
                <br />
                <form action="@Url.Action("Editar", "Sucursales")" method="POST" class="form-horizontal">
                    @Html.HiddenFor(x => x.FORM.IdSucursal)
				<div class="row-fluid">
						<div class="form-group">
						    <label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.IdFranquicia)</label>
							<div class="col-sm-6">
							    @Html.DropDownListFor(x => x.FORM.IdFranquicia, Model.Franquicias, "Seleccione una Franquicia", new { @class = "form-control input-sm" })
							</div>
						</div>
                        <div class="form-group">
						    <label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.IdCliente)</label>
							<div class="col-sm-6">
							    @Html.DropDownListFor(x => x.FORM.IdCliente, Model.Clientes, "Seleccione un Cliente", new { @class = "form-control input-sm" })
							</div>
						</div>
                        <div class="form-group">
						    <label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.IdRegion)</label>
							<div class="col-sm-6">
							    @Html.DropDownListFor(x => x.FORM.IdRegion, Model.Regiones, "Seleccione una Región", new { @class = "form-control input-sm" })
							</div>
						</div>
                        <div class="form-group">
						    <label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.IdComuna)</label>
							<div class="col-sm-6">
							    @Html.DropDownListFor(x => x.FORM.IdComuna, Model.Comunas, "Seleccione una Comuna", new { @class = "form-control input-sm" })
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.NombreSucursal)</label>
							<div class="col-sm-6">
                                @Html.TextBoxFor(x => x.FORM.NombreSucursal, new { @class = "form-control input-sm" })
							</div>
						</div>										
				</div>
				<div class="row">
					<div class="col-md-6 col-md-offset-4">
						<input type="submit" class="btn btn-success pull-right" value="Guardar" />
                        <a href="@Url.Action("Index", "Sucursales")" class="btn btn-primary">Cancelar</a>
					</div>
				</div>
                </form>
			</section>
@Scripts.Render("~/bundles/custom/mantenedores/sucursales/editar")
<script type="text/javascript">
    $(document).ready(function () {
        init();
    });
</script>
