﻿@model MetricArts.JnJ.Mantenciones.Models.Mantenedores.Sucursales.SucursalesViewModel
@{
    ViewBag.Title = "Listado Sucursales";
}
<section class="container-fluid">
    <article>
        <div class="row">
		    <ol class="breadcrumb">
			    <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
			    <li><a href="@Url.Action("Index", "Mantenedores")">Mantenedores</a></li>
				<li><a href="@Url.Action("Index", "Sucursales")">Sucursales</a></li>
			</ol>
		</div>

        <article>
		    <div class="bs-callout bs-callout-JJ">
                <legend>Sucursales</legend>
                <a href="@Url.Action("CrearNuevo", "Sucursales")" data-toggle="confirmation"  title="Nuevo Cliente" class="btn btn-success">
                    <span class='glyphicon glyphicon-plus-sign'></span> Crear Nuevo
                </a>

                <button class="btn btn-primary" type="button">
			        Cantidad Total <span class="badge">@Model.Sucursales.Count()</span>
				</button>
		    </div>
		</article>

        <br />
        @if (TempData["Mensaje"] != null && !String.IsNullOrEmpty(TempData["Mensaje"].ToString()))
        {
            <div class="alert alert-success alert-dismissible fadeOutMantenedor" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>@(TempData["Mensaje"])</strong>
            </div>
        }
        <br />
        <div class="row">
            <div class="table-responsive">                            
                <table id="listado-mantenedor" class="table table-striped table-condensed display">
                    <thead>
                        <tr>
                            <th>@Html.DisplayName("Franquicia")</th>
                            <th>@Html.DisplayName("Cliente")</th>
                            <th>@Html.DisplayName("Sucursal")</th>
                            <th>@Html.DisplayName("Ubicación")</th>
                            <th>@Html.DisplayName("Equipos Asociados")</th>
                            <th>@Html.DisplayName("Contacto Asociado")</th>
                            <th>Editar</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Sucursales)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Cliente.Franquicia.NombreFranquicia)</td>
                                <td>@Html.DisplayFor(modelItem => item.Cliente.NombreEmpresa)</td>
                                <td>@Html.DisplayFor(modelItem => item.NombreSucursal)</td>
                                <td>@Html.DisplayFor(modelItem => item.Comuna.Nombre)</td>
                                <td><strong>@Html.DisplayFor(modelItem => item.Equipos.Count)</strong></td>
                                <td>
                                    @if (item.Contactos.Any())
                                    {
                                    <strong>Si</strong>
                                    }
                                    else {
                                        <strong>No</strong>
                                    }
                                </td>
                                <td><a href="@Url.Action("Editar", "Sucursales", new { IdSucursal = item.IdSucursal })" class="btn btn-default"><span class='glyphicon glyphicon-edit'></span></a></td>
                                <td>
                                    @if (!item.Equipos.Any() && !item.Contactos.Any())
                                    { <a href="@Url.Action("Eliminar", "Sucursales", new { IdSucursal = item.IdSucursal })" class="btn btn-default" onclick="if(!confirm('Está a punto de eliminar esta sucursal.\n¿Desea continuar?.')) return false;"><span class='glyphicon glyphicon-trash'></span></a> }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
			</div>
		</div>
    </article>
</section>
@Scripts.Render("~/bundles/custom/mantenedores/sucursales/listado")
<script type="text/javascript">
    $(document).ready(function () {
        init();
    });
</script>
