﻿@model MetricArts.JnJ.Mantenciones.Models.Mantenedores.CalendarioFeriados.CalendarioFeriadosViewModel
@{
    ViewBag.Title = "Editar Calendario de Feriados";
}
			<section>
                
				<div class="row-fluid">
					<h3>Editar Calendario de Feriados</h3>
				</div>
                @if (TempData["Mensaje"] != null && !String.IsNullOrEmpty(TempData["Mensaje"].ToString()))
                {
                <div class="alert alert-warning alert-dismissible fadeOutMantenedor" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>@(TempData["Mensaje"])</strong>
                </div>
                }
                <br />
                <form action="@Url.Action("Editar", "CalendarioFeriados")" method="POST" class="form-horizontal">
                    @Html.HiddenFor(x => x.FORM.IdCalendarioFeriadosPais)
                    <div class="InputAddContentPartialEdit">
				<div class="row-fluid">
						<div class="form-group">
							<label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.IdPais)</label>
							<div class="col-sm-6">
                                @Html.DropDownListFor(x => x.FORM.IdPais, Model.paisesItems, "Seleccione un pais", new { @class = "form-control input-sm" })
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.Anio)</label>
							<div class="col-sm-6">
                                @Html.DropDownListFor(x => x.FORM.Anio, Model.Anios, "Seleccione un año", new { @class = "form-control input-sm" })
							</div>
						</div>
                    
                    <div class="form-group">
	                        <label class="col-sm-4 control-label">
                                Tags de Búsqueda
		                    </label>
		                    <div class="col-sm-6">
		                        <div class="input-group">
                                    <span class="input-group-btn">
			                            <button type="button" name="@(!Model.fechas.Any() ? "valor-nuevo" : Model.fechas.ElementAt(0).IdCalendarioFeriadosFecha.ToString())" class="btn btn-success">
					                        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
				                        </button>
				                    </span>
                                    <div class="col-sm-12 input-group">
				                    <input id="tag-cliente" type="text" class="form-control datepickershow" value="@(!Model.fechas.Any() ? "" : Model.fechas.ElementAt(0).Fecha.ToString("dd-MM-yyyy"))" readonly = "readonly">
                                    <span class="input-group-btn">
								        <button name="@(!Model.fechas.Any() ? "valor-nuevo" : Model.fechas.ElementAt(0).IdCalendarioFeriadosFecha.ToString())" class="btn btn-default dateButton" type="button">
								            <span class="glyphicon glyphicon-calendar"></span>
								        </button>
								    </span>
                                        </div>
			                        @Html.HiddenFor(m => m.FORM.Fechas)
                                    @Html.HiddenFor(m => m.FORM.FechasIds)
		                        </div>		
		                    </div>
	                    </div>
                    
                    @for (int i = 1; i < Model.fechas.Count(); i++)
                    {
                    <div class="form-group">
                        <label class="col-sm-4 control-label"></label>
                        <div class="col-sm-6">
                            <div class="input-group tags-cliente">
                                <span class="input-group-btn">
                                    <button type="button" name="@(Model.fechas.ElementAt(i).IdCalendarioFeriadosFecha)" class="btn btn-danger">
                                        <span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span>
                                    </button>
                                </span>
                                <div class="col-sm-12 input-group">
                                <input type="text" class="form-control datepickershow" value="@(Model.fechas.ElementAt(i).Fecha.ToString("dd-MM-yyyy"))" readonly = "readonly">
                                <span class="input-group-btn">
								        <button class="btn btn-default dateButton" type="button">
								            <span class="glyphicon glyphicon-calendar"></span>
								        </button>
								    </span>
                                    </div>
                            </div>
                        </div>
                    </div>
                    }										
				</div>
                        </div>
				<div class="row">
					<div class="col-md-6 col-md-offset-4">
						<button id="editar-calendario" type="button" class="btn btn-success pull-right">Guardar</button>
                        <a href="@Url.Action("Index", "CalendarioFeriados")" class="btn btn-primary">Cancelar</a>
					</div>
				</div>
                </form>
			</section>
@Scripts.Render("~/bundles/custom/mantenedores/calendario-feriados/editar")
<script type="text/javascript">
    $(document).ready(function () {
        init();
    });
</script>
