﻿@model MetricArts.JnJ.Mantenciones.Models.Mantenedores.CalendarioFeriados.CalendarioFeriadosViewModel
@{
    ViewBag.Title = "Listado Calendario de Feriados";
}
<section class="container-fluid">
    <article>
        <div class="row">
		    <ol class="breadcrumb">
			    <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
			    <li><a href="@Url.Action("Index", "Mantenedores")">Mantenedores</a></li>
				<li><a href="@Url.Action("Index", "CalendarioFeriados")">Calendario de Feriados</a></li>
			</ol>
		</div>

        <article>
		    <div class="bs-callout bs-callout-JJ">
                <legend>Calendario de Feriados</legend>
                <a href="@Url.Action("CrearNuevo", "CalendarioFeriados")" data-toggle="confirmation"  title="Nuevo Distribuidor" class="btn btn-success">
                    <span class='glyphicon glyphicon-plus-sign'></span> Crear Nuevo
                </a>

                <button class="btn btn-primary" type="button">
			        Cantidad Total <span class="badge">@Model.CalendarioFechas.Count()</span>
				</button>
		    </div>
		</article>

        <br />
        @if (TempData["Mensaje"] != null && !String.IsNullOrEmpty(TempData["Mensaje"].ToString()))
        {
            <div class="alert alert-success alert-dismissible fadeOutMantenedor" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>@(TempData["Mensaje"])</strong>
            </div>
        }
        <br />
        <div class="row">
            <div class="table-responsive">                            
                <table id="listado-mantenedor" class="table table-striped table-condensed display">
                    <thead>
                        <tr>
                            <th>@Html.DisplayName("Año")</th>
                            <th>@Html.DisplayName("Pais")</th>
                            <th>@Html.DisplayName("Fechas Feriados")</th>
                            <th>Editar</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.CalendarioFechas)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Anio)</td>
                                <td>@Html.DisplayFor(modelItem => item.Pais.Nombre)</td>
                                <td>
                                    @if (item.CalendarioFeriadosFechas.Any()){
                                    <button type="button" name='@item.IdCalendarioFeriadosPais' value='@item.Anio' data-toggle='tooltip' data-placement='bottom' class="btn btn-default btn-modal-trigger-tags"><span class='glyphicon glyphicon-th-list'></span></button>
                                    }
                                    else {
                                        <p>N/A</p>
                                    }
                                </td>
                                <td><a href="@Url.Action("Editar", "CalendarioFeriados", new { IdCalendario = item.IdCalendarioFeriadosPais })" class="btn btn-default"><span class='glyphicon glyphicon-edit'></span></a></td>
                                <td>
                                    <a href="@Url.Action("Eliminar", "CalendarioFeriados", new { IdCalendario = item.IdCalendarioFeriadosPais })" class="btn btn-default" onclick="if(!confirm('Está a punto de eliminar este calendario.\n¿Desea continuar?.')) return false;"><span class='glyphicon glyphicon-trash'></span></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
			</div>
		</div>
    </article>
</section>

<div class="modal fade" id="ModalPreviewFechas" tabindex="-1" role="dialog" aria-labelledby="">
    <div class="modal-dialog" role="document">
	    <div class="modal-content">
		    <div class="modal-header">
			    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				    <span aria-hidden="true">&times;</span>
				</button>
			    <h4 class="modal-title" id="myModalLabel"><span id="titulo-modal"></span></h4>
			</div>
			<div id="contenido-modal" class="modal-body">
                <ul id="listado-elementos-tag">
                    
                </ul>
			</div>
			<div class="modal-footer">
			    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
			</div>
		</div>
	</div>
</div>

@Scripts.Render("~/bundles/custom/mantenedores/calendario-feriados/listado")
<script type="text/javascript">
    $(document).ready(function () {
        init('@Url.Action("GetFechasCalendario", "CalendarioFeriados")');
    });
</script>