﻿@{
    ViewBag.Title = "Index";
}

<section>
				<div class="row-fluid">
					<ol class="breadcrumb">
						<li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
						<li><a href="@Url.Action("Index", "Mantenedores")">Mantenedores</a></li>
					</ol>
				</div>
				<div class="row-fluid">
                    <button dir="@Url.Action("Franquicias", "Mantenedores")" data-toggle="tooltip" data-placement="bottom" title="Franquicias" class="shortcut-button">
						<span class="glyphicon glyphicon-globe"></span>
						<span class="title">Franquicias</span>
					</button>
					<button dir="@Url.Action("Clientes", "Mantenedores")" data-toggle="tooltip" data-placement="bottom" title="Clientes" class="shortcut-button">
						<span class="glyphicon glyphicon-thumbs-up"></span>
						<span class="title">Clientes</span>
					</button>
					<button dir="@Url.Action("Sucursales", "Mantenedores")" data-toggle="tooltip" data-placement="bottom" title="Sucursales" class="shortcut-button">
						<span class="glyphicon glyphicon-tent"></span>
						<span class="title">Sucursales</span>
					</button>
					<button dir="@Url.Action("Contactos", "Mantenedores")" data-toggle="tooltip" data-placement="bottom" title="Contactos" class="shortcut-button">
						<span class="glyphicon glyphicon-envelope"></span>
						<span class="title">Contactos</span>
					</button>
					<button dir="@Url.Action("Equipos", "Mantenedores")" data-toggle="tooltip" data-placement="bottom" title="Equipos" class="shortcut-button">
						<span class="glyphicon glyphicon-dashboard"></span>
						<span class="title">Equipos</span>
					</button>

					<button dir="@Url.Action("Cuestionarios", "Mantenedores")" data-toggle="tooltip" data-placement="bottom" title="Cuestionarios" class="shortcut-button">
						<span class="glyphicon glyphicon-list-alt"></span>
						<span class="title">Cuestionarios</span>
					</button>
					<button dir="@Url.Action("PlantillasCorreos", "Mantenedores")" data-toggle="tooltip" data-placement="bottom" title="Plantillas Correo" class="shortcut-button">
						<span class="glyphicon glyphicon-text-background"></span>
						<span class="title">Plant. Correo</span>
					</button>
					<button dir="@Url.Action("PlantillasPDF", "Mantenedores")" data-toggle="tooltip" data-placement="bottom" title="Plantillas PDF" class="shortcut-button">
						<span class="glyphicon glyphicon-text-background"></span>
						<span class="title">Plant. PDF</span>
					</button>
                    <button dir="@Url.Action("KitRepuestos", "Mantenedores")" data-toggle="tooltip" data-placement="bottom" title="KIT Repuestos" class="shortcut-button">
						<span class="fa fa-briefcase"></span>
						<span class="title">Rptos. KIT</span>
					</button>
					<button dir="@Url.Action("Repuestos", "Mantenedores")" data-toggle="tooltip" data-placement="bottom" title="Repuestos" class="shortcut-button">
						<span class="glyphicon glyphicon-wrench"></span>
						<span class="title">Repuestos</span>
					</button>
                    <button dir="@Url.Action("Distribuidores", "Mantenedores")" data-toggle="tooltip" data-placement="bottom" title="Distribuidores Repuestos" class="shortcut-button">
						<span class="fa fa-truck"></span>
						<span class="title">Distribuidores</span>
					</button>
                    <button dir="@Url.Action("CalendarioFeriados", "Mantenedores")" data-toggle="tooltip" data-placement="bottom" title="Calendario de Feriados" class="shortcut-button">
						<span class="fa fa-calendar"></span>
						<span class="title">Feriados</span>
					</button>
                    <button dir="@Url.Action("Usuarios", "Mantenedores")" data-toggle="tooltip" data-placement="bottom" title="Usuarios" class="shortcut-button">
						<span class="glyphicon glyphicon-user"></span>
						<span class="title">Usuarios</span>
					</button>
				</div>
				<div class="row-fluid">
					<div class="col-md-2"></div>
				</div>
			</section>
