﻿@model MetricArts.JnJ.Mantenciones.Models.Mantenedores.Distribuidores.DistribuidoresViewModel
@{
    ViewBag.Title = "Crear Nuevo Distribuidor";
}

<div class="row-fluid">
				<ol class="breadcrumb">
					<li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
					<li><a href="@Url.Action("Index", "Mantenedores")">Mantenedores</a></li>
					<li><a href="@Url.Action("Index", "Distribuidores")">Distribuidores</a></li>
					<li><a href="@Url.Action("CrearNuevo", "Distribuidores")">Nuevo</a></li>
				</ol>
			</div>

			<section>
				<div class="row-fluid">
					<h3>Crear Nuevo Distribuidor</h3>
				</div>
                @if (TempData["Mensaje"] != null && !String.IsNullOrEmpty(TempData["Mensaje"].ToString()))
                {
                <div class="alert alert-warning alert-dismissible fadeOutMantenedor" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>@(TempData["Mensaje"])</strong>
                </div>
                }
                <br />
                <form action="@Url.Action("CrearNuevo", "Distribuidores")" method="POST" class="form-horizontal">
				<div class="row-fluid">
						<div class="form-group">
							<label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.Nombre)</label>
							<div class="col-sm-6">
                                @Html.TextBoxFor(x => x.FORM.Nombre, new { @class = "form-control input-sm" })
							</div>
						</div>
                        <div class="form-group">
							<label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.CorreoContacto)</label>
							<div class="col-sm-6">
                                @Html.TextBoxFor(x => x.FORM.CorreoContacto, new { @class = "form-control input-sm" })
							</div>
						</div>
                    <div class="form-group">
							<label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.Telefono)</label>
							<div class="col-sm-6">
                                @Html.TextBoxFor(x => x.FORM.Telefono, new { @class = "form-control input-sm" })
							</div>
						</div>							
				</div>
				<div class="row">
					<div class="col-md-6 col-md-offset-4">
						<input type="submit" class="btn btn-success pull-right" value="Guardar" />
                        <a href="@Url.Action("Index", "Distribuidores")" class="btn btn-primary">Cancelar</a>
					</div>
                    
				</div>
                </form>
			</section>
@Scripts.Render("~/bundles/custom/mantenedores/distribuidores/crear")
<script type="text/javascript">
    $(document).ready(function () {
        init();
    });
</script>
