﻿@model MetricArts.JnJ.Mantenciones.Models.Mantenedores.Distribuidores.DistribuidoresViewModel
@{
    ViewBag.Title = "Listado Distribuidores";
}
<section class="container-fluid">
    <article>
        <div class="row">
		    <ol class="breadcrumb">
			    <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
			    <li><a href="@Url.Action("Index", "Mantenedores")">Mantenedores</a></li>
				<li><a href="@Url.Action("Index", "Distribuidores")">Distribuidores</a></li>
			</ol>
		</div>

        <article>
		    <div class="bs-callout bs-callout-JJ">
                <legend>Distribuidores</legend>
                <a href="@Url.Action("CrearNuevo", "Distribuidores")" data-toggle="confirmation"  title="Nuevo Distribuidor" class="btn btn-success">
                    <span class='glyphicon glyphicon-plus-sign'></span> Crear Nuevo
                </a>

                <button class="btn btn-primary" type="button">
			        Cantidad Total <span class="badge">@Model.Distribuidores.Count()</span>
				</button>
		    </div>
		</article>

        <br />
        @if (TempData["Mensaje"] != null && !String.IsNullOrEmpty(TempData["Mensaje"].ToString()))
        {
            <div class="alert alert-success alert-dismissible fadeOutMantenedor" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>@(TempData["Mensaje"])</strong>
            </div>
        }
        <br />
        <div class="row">
            <div class="table-responsive">                            
                <table id="listado-mantenedor" class="table table-striped table-condensed display">
                    <thead>
                        <tr>
                            <th>@Html.DisplayName("Nombre")</th>
                            <th>@Html.DisplayName("Correo Contacto")</th>
                            <th>@Html.DisplayName("Telefono")</th>
                            <th>Editar</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Distribuidores)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                                <td>@Html.DisplayFor(modelItem => item.CorreoContacto)</td>
                                <td>@Html.DisplayFor(modelItem => item.Telefono)</td>
                                <td><a href="@Url.Action("Editar", "Distribuidores", new { IdDistribuidor = item.IdDistribuidorRepuestos })" class="btn btn-default"><span class='glyphicon glyphicon-edit'></span></a></td>
                                <td>
                                    <a href="@Url.Action("Eliminar", "Distribuidores", new { IdDistribuidor = item.IdDistribuidorRepuestos })" class="btn btn-default" onclick="if(!confirm('Está a punto de eliminar este distribuidor.\n¿Desea continuar?.')) return false;"><span class='glyphicon glyphicon-trash'></span></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
			</div>
		</div>
    </article>
</section>
@Scripts.Render("~/bundles/custom/mantenedores/distribuidores/listado")
<script type="text/javascript">
    $(document).ready(function () {
        init();
    });
</script>
