﻿@model MetricArts.JnJ.Mantenciones.Models.Mantenedores.PlantillasCorreo.PlantillasCorreoViewModel
@{
    ViewBag.Title = "Editar Plantilla Correo Electrónico";
}

<div class="row-fluid">
				<ol class="breadcrumb">
					<li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
					<li><a href="@Url.Action("Index", "Mantenedores")">Mantenedores</a></li>
					<li><a href="@Url.Action("Index", "PlantillasCorreos")">Plantillas Correo Electrónico</a></li>
				</ol>
			</div>

			<section>
				<div class="row-fluid">
					<h3>Editar Plantilla Correo Electrónico</h3>
				</div>
                @if (TempData["Mensaje"] != null && !String.IsNullOrEmpty(TempData["Mensaje"].ToString()))
                {
                <div class="alert alert-warning alert-dismissible fadeOutMantenedor" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>@(TempData["Mensaje"])</strong>
                </div>
                }
                <br />
                <form action="@Url.Action("Editar", "PlantillasCorreos")" method="POST" class="form-horizontal">
                    @Html.HiddenFor(x => x.FORM.IdPlantilla)
				<div class="row-fluid">
						<div class="form-group">
							<label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.Nombre)</label>
							<div class="col-sm-6">
                                @Html.TextBoxFor(x => x.FORM.Nombre, new { @class = "form-control input-sm" })
							</div>
						</div>
                        <div class="form-group">
							<label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.Descripcion)</label>
							<div class="col-sm-6">
                                @Html.TextBoxFor(x => x.FORM.Descripcion, new { @class = "form-control input-sm" })
							</div>
						</div>
                    <div class="form-group">
							<label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.Asunto)</label>
							<div class="col-sm-6">
                                @Html.TextBoxFor(x => x.FORM.Asunto, new { @class = "form-control input-sm" })
							</div>
						</div>
                    <div class="form-group">
							<label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.IdTipoNotificacion)</label>
							<div class="col-sm-6">
                                @Html.DropDownListFor(x => x.FORM.IdTipoNotificacion, Model.TiposNotificacion, "Seleccione un Tipo de Notificación", new { @class = "form-control input-sm" })
							</div>
						</div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">@Html.LabelFor(x => x.FORM.cuerpoHTML)</label>
                        <br />
                        <div class="row-fluid">
                            @foreach(var item in Model.Tags) 
                            {
                                <button type="button" name="boton-tag" value="@(item.TagLlave)" data-toggle="tooltip" data-placement="bottom" title="@(item.Descripcion)" class="btn btn-danger">
                                    @(item.NombreTag)
					            </button>
                            }
                        </div>
                        <br />
					    <div class="col-sm-12">
                            @Html.TextAreaFor(x => x.FORM.cuerpoHTML, new { @name = "editor", @id = "editor", @rows = "70", @cols = "80" })
                        </div>
				    </div>							
				</div>
				<div class="row">
					<div class="col-md-6 col-md-offset-4">
						<input type="submit" class="btn btn-success pull-right" value="Guardar" />
                        <a href="@Url.Action("Index", "PlantillasCorreos")" class="btn btn-primary">Cancelar</a>
					</div>
                    
				</div>
                </form>
			</section>
<script type="text/javascript">
    CKEDITOR_BASEPATH = "@Url.Content("~/Scripts/ckeditor/")";
</script>
@Scripts.Render("~/bundles/external/text-editor/js")
@Scripts.Render("~/bundles/custom/mantenedores/plantillas-correo/editar")
<script type="text/javascript">
    $(document).ready(function () {
        init();
    });
</script>
