﻿@model MetricArts.JnJ.Mantenciones.Models.Mantenedores.PlantillasCorreo.PlantillasCorreoViewModel
@{
    ViewBag.Title = "Listado Plantillas Correo Electrónico";
}
<section class="container-fluid">
    <article>
        <div class="row">
		    <ol class="breadcrumb">
			    <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
			    <li><a href="@Url.Action("Index", "Mantenedores")">Mantenedores</a></li>
				<li><a href="@Url.Action("Index", "PlantillasCorreos")">Plantillas Correo</a></li>
			</ol>
		</div>

        <article>
		    <div class="bs-callout bs-callout-JJ">
                <legend>Plantillas Correo Electrónico</legend>
                <a href="@Url.Action("CrearNuevo", "PlantillasCorreos")" data-toggle="confirmation"  title="Nueva Plantilla" class="btn btn-success">
                    <span class='glyphicon glyphicon-plus-sign'></span> Crear Nuevo
                </a>

                <button class="btn btn-primary" type="button">
			        Cantidad Total <span class="badge">@Model.PlantillasCorreo.Count()</span>
				</button>
		    </div>
		</article>

        <br />
        @if (TempData["Mensaje"] != null && !String.IsNullOrEmpty(TempData["Mensaje"].ToString()))
        {
            <div class="alert alert-success alert-dismissible fadeOutMantenedor" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>@(TempData["Mensaje"])</strong>
            </div>
        }
        <br />
        <div class="row">
            <div class="table-responsive">                            
                <table id="listado-mantenedor" class="table table-striped table-condensed display">
                    <thead>
                        <tr>
                            <th>@Html.DisplayName("Nombre")</th>
                            <th>@Html.DisplayName("Descripción")</th>
                            <th>@Html.DisplayName("Tipo Notificación")</th>
                            <th>@Html.DisplayName("Cuerpo Correo")</th>
                            <th>Editar</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.PlantillasCorreo)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                                <td>@Html.DisplayFor(modelItem => item.Descripcion)</td>
                                <td>@Html.DisplayFor(modelItem => item.TipoNotificacion.Nombre)</td>
                                <td><button type='button' id=' @(item.IdMailTemplate)' name='correo-preview' data-toggle='tooltip' data-placement='bottom' title='Previsualizar PDF' class='btn btn-default btn-modal-trigger'><span class='glyphicon glyphicon-new-window'></span></button></td>
                                <td><a href="@Url.Action("Editar", "PlantillasCorreos", new { IdPlantilla = item.IdMailTemplate })" class="btn btn-default"><span class='glyphicon glyphicon-edit'></span></a></td>
                                <td>
                                    <a href="@Url.Action("Eliminar", "PlantillasCorreos", new { IdPlantilla = item.IdMailTemplate })" class="btn btn-default" onclick="if(!confirm('Está a punto de eliminar esta plantilla.\n¿Desea continuar?.')) return false;"><span class='glyphicon glyphicon-trash'></span></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
			</div>
		</div>
    </article>
</section>

<div class="modal fade" id="ModalPreviewPlantilla" tabindex="-1" role="dialog" aria-labelledby="">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="myModalLabel"><span id="titulo-modal"></span></h4>
					</div>
					<div id="contenido-modal" class="modal-body">
						
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
					</div>
				</div>
			</div>
		</div>

@Scripts.Render("~/bundles/custom/mantenedores/plantillas-correo/listado")
<script type="text/javascript">
    $(document).ready(function () {
        init('@Url.Action("ObtenerPlantillaHtml", "PlantillasCorreos")');
    });
</script>
