﻿@model MetricArts.JnJ.Mantenciones.Models.Mantenciones.CrearMantencionViewModel
@{
    ViewBag.Title = "Crear Mantención Manual";
}
<section>
    <div class="row-fluid">
	    <ol class="breadcrumb">
		    <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
			<li><a href="@Url.Action("Index", "GestionMantenciones")">Gestión Mantenciones</a></li>
			<li><a href="@Url.Action("CrearMantencionManual", "Mantenciones")">Crear Mantención Manual</a></li>
		</ol>
	</div>
 

     <div id="crear-planificacion-wz">
            <ul class="nav nav-tabs">
					  	<li><a href="#wizard-tab1" data-toggle="tab">Defina Sucursal</a></li>
						<li><a href="#wizard-tab2" data-toggle="tab">Datos de Planificación</a></li>
						<li><a href="#wizard-tab3" data-toggle="tab">Defina Equipos y Fechas</a></li>
		    </ul>
            <div id="bar" class="progress progress-info progress-striped">
                <div class="progress-bar progress-bar-danger active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
            </div>

            @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
            {
                <div class="tab-content">
                    <div class="tab-pane" id="wizard-tab1">
                        <div class="form-group">
						    <label class="col-sm-2 control-label">@Html.LabelFor(x => x.formSeleccionNegocio.IdFranquicia)</label>
							<div class="col-sm-6">
                                @Html.DropDownListFor(x => x.formSeleccionNegocio.IdFranquicia, Model.FranquiciasSelect, "Seleccione una opción", new { @class = "form-control input-sm" })
							</div>
                            <div class="col-xs-3 col-sm-3 col-md-3">
                                @Html.ValidationMessageFor(x => x.formSeleccionNegocio.IdFranquicia)
                            </div>
						</div>
                        <div class="form-group">
						    <label class="col-sm-2 control-label">@Html.LabelFor(x => x.formSeleccionNegocio.IdCliente)</label>
							<div class="col-sm-6">
                                <select id="FORM_IdCliente" class="form-control input-sm" disabled="disabled"></select>
							</div>
                             <div class="col-xs-3 col-sm-3 col-md-3">
                                @Html.ValidationMessageFor(x => x.formSeleccionNegocio.IdCliente)
                             </div>
						</div>
                        <div class="form-group">
						    <label class="col-sm-2 control-label">@Html.LabelFor(x => x.formSeleccionNegocio.IdSucursal)</label>
							<div class="col-sm-6">
                                <select id="FORM_IdSucursal" class="form-control input-sm" disabled="disabled"></select>
							</div>
                            <div class="col-xs-3 col-sm-3 col-md-3">
                                @Html.ValidationMessageFor(x => x.formSeleccionNegocio.IdSucursal)
                            </div>
						</div>
                    </div>
                    <div class="tab-pane" id="wizard-tab2">
					    <div class="form-group">
						    <label class="col-sm-2 control-label">@Html.LabelFor(x => x.FORM.Nombre)</label>
							<div class="col-sm-6">
							   
                                @Html.TextBoxFor(x => x.FORM.Nombre, new { @class = "form-control input-sm", @placeholder = "Nombre" })		
							</div>
                            <div class="col-xs-3 col-sm-3 col-md-3">
                                @Html.ValidationMessageFor(x => x.FORM.Nombre)
                            </div>
						</div>
                        <div class="form-group">
						    <label class="col-sm-2 control-label">Tipo Contrato</label>
							<div class="col-sm-6">
                                @Html.DropDownListFor(x => x.FORM.IdTipoContrato, Model.TipoContrato, "Seleccione un Tipo de Contrato", new { @class = "form-control input-sm", @id = "tipo-contrato-select" })
							</div>
                            <div class="col-xs-3 col-sm-3 col-md-3">
                                @Html.ValidationMessageFor(x => x.formSeleccionNegocio.IdSucursal)
                            </div>
						</div>
                        <div class="form-group">
						    <label class="col-sm-2 control-label">@Html.LabelFor(x => x.FORM.Descripcion)</label>
							<div class="col-sm-6">
                                @Html.TextAreaFor(x => x.FORM.Descripcion, new { @class = "form-control", @rows = "3", @placeholder = "Opcional" })	
							</div>
                            <div class="col-xs-3 col-sm-3 col-md-3">
                                @Html.ValidationMessageFor(x => x.FORM.Descripcion)
                            </div>
						</div>
					</div>
                    <div class="tab-pane" id="wizard-tab3">
                        <div class="row-fluid">
									<table class="table table-striped">
										<thead>
											<tr>
												<th>Considerar</th>
												<th>Equipos</th>
												@*<th>Ingeniero a Cargo</th>*@
												<th>Períodos Propuestos Planificación <span id="tipo-contrato"></span></th>
											</tr>
										</thead>
										<tbody id="equipos-sucursal">
											@*<tr>
                                                <td><input type="checkbox" data-toggle="toggle"></td>
												<th>VITRO (350)</th>
												<td><button class="btn btn-default" type="submit">
														<span class="glyphicon glyphicon-edit"></span>
													</button> 
                                                    Ingeniero</td>
												<td>
                                                <button class="btn btn-default" type="submit">
														<span class="glyphicon glyphicon-calendar"></span>
													</button> 
                                                Fecha 1 - Fecha 2</td>
											</tr>*@
										</tbody>
									</table>
								</div>   
					    </div>
                    <ul class="pager wizard">
							<li class="previous"><a href="javascript:;">Anterior</a></li>
						  	<li class="next"><a href="javascript:nextStep();">Siguiente</a></li>
						  	<li class="next finish" style="display:none;">
						  		<a class="btn btn-success" href="@Url.Action("PlanificacionesPropuestas", "Planificaciones")">Guardar</a>
						  	</li>
					</ul>
                </div>
            }
      </div>
</section>
@Scripts.Render("~/bundles/custom/mantenciones/crear-manual")
<script type="text/javascript">
    $(document).ready(function () {
        init('@Url.Action("ObtenerClientes", "ServicioConsulta")',
            '@Url.Action("ObtenerSucursales", "ServicioConsulta")',
            '@Url.Action("ObtenerEquiposSucursal", "ServicioConsulta")'
            );

    });
</script>

@*<script type="text/javascript">
        function nextStep() {
            var selectedSucursal = $('#FORM_IdSucursal option:selected');
            var selectedContrato = $('#tipo-contrato-select option:selected');
            if (selectedSucursal.length > 0 && $(selectedContrato).val() != '0') {
                getEquipos($(selectedSucursal).val(), $(selectedContrato).val());
                $("#tipo-contrato").text('(Según Contrato: ' + $(selectedContrato).text() + ')');
            }  
        }

        function getEquipos(idSucursalSelected, idTipoContrato) {
            $.ajax({
                url: "@Url.Action("ObtenerEquiposSucursal", "ServicioConsulta")",
                type: "GET",
                contentType: "application/json; charset=utf-8",
                data: { idSucursal: idSucursalSelected, tipoContrato: idTipoContrato },
                dataType: "json",
                success: function (data) {
                    var row = "";
                    $.each(data, function (index, item) {
                        row += "<tr><td><input type='checkbox' data-toggle='toggle'></td>"
						+"<th>"+ item.nombreEquipo +" (Cod.: "+ item.codigoEquipo +")</th>"
                        +"<td>Períodos: <ul>"
                        +fechasToString(item.fechasPropuesta)
                        +"</ul>"
                        +"Fecha instalación en Sucursal: <strong>"+ item.fechaInstalacion +"</strong></td></tr>"; 
                    });
                    $("#equipos-sucursal").html(row);
                },
                error: function (result) {
                    alert("Error");
                }
            });
        }

        function fechasToString(fechas) {
            var fechasStr = "";
            for(var i = 0; i < fechas.length; i++) {
                fechasStr += "<li><strong>"+fechas[i]+"</strong></li>";
            }
            return fechasStr;
        }
    </script>*@
    @*<script type="text/javascript">
        $(function () {
            $('#FORM_IdFranquicia').on('change', function () {
                var clientes = $('#FORM_IdCliente');
                clientes.prop('disabled', true);
                var sucursales = $('#FORM_IdSucursal');
                sucursales.prop('disabled', true);
                sucursales.empty();
                clientes.empty();

                var franquicia = $(this).val();
                if (franquicia.length > 0) {
                    $.getJSON('@Url.Action("ObtenerClientes", "ServicioConsulta")', {
                        franquiciaId: franquicia
                    })
                    .done(function (data) {

                        var msg = "No existen Clientes para la franquicia seleccionada";
                        if (data.length > 0) {
                            clientes.prop('disabled', false);
                            msg = "Seleccione un cliente";
                        }
                        var option = $("<option/>").text(msg);
                        clientes.append(option);

                        $.each(data, function (i, cliente) {
                            var option = $("<option/>").attr("value", cliente.Value).text(cliente.Text);
                            clientes.append(option);
                        });


                    })
                    .fail(function (jqxhr, textStatus, error) {
                        var err = textStatus + ", " + error;
                        console.log("Request Failed: " + err);
                    });
                }
            });

            $('#FORM_IdCliente').on('change', function () {
                var sucursales = $('#FORM_IdSucursal');
                sucursales.prop('disabled', true);
                sucursales.empty();
                var cliente = $(this).val();
     
                if (cliente.length > 0) {
                    
                    $.getJSON('@Url.Action("ObtenerSucursales", "ServicioConsulta")', {
                        idCliente: cliente
                    })
                    .done(function (data) {
                        var msg = "No existen Sucursales para el cliente seleccionado";
                        if (data.length > 0) {
                            sucursales.prop('disabled', false);
                            msg = "Seleccione una sucursal";
                        }
                        var option = $("<option/>").attr("value", "0").text(msg);
                        sucursales.append(option);
                        
                        $.each(data, function (i, sucursal) {
                            
                            var option = $("<option/>").attr("value", sucursal.Value).text(sucursal.Text);
                            sucursales.append(option);
                        });
                    })
                    .fail(function (jqxhr, textStatus, error) {
                        var err = textStatus + ", " + error;
                        console.log("Request Failed: " + err);
                    });
                }
            });

        });   
    </script>*@
    @*<script type="text/javascript">
        $(document).ready(function () {
            $(".nav-tabs").click(function () {
                return false;
            });
        });
    </script>*@
    @*<script type="text/javascript">
        $(document).ready(function () {

            var crearPlanificacionStep = 1;

            //Inicializa wizard
            $('#crear-planificacion-wz').bootstrapWizard({ 'tabClass': 'nav nav-tabs', 'debug': false, onShow: function (tab, navigation, index) {
            }, onNext: function (tab, navigation, index) {

                if (crearPlanificacionStep == 2 && $('#FORM_Nombre').val() == '') {
                    alert('Debe colocar un nombre de planificación.');
                    return false;
                }

                if (crearPlanificacionStep == 2 && ($('#tipo-contrato-select option:selected').val() == '' || $("#tipo-contrato-select option:selected").length == 0)) {
                    alert('Debe seleccionar un tipo de contrato.');
                    return false;
                }

                if (crearPlanificacionStep == 1 && $("#FORM_IdSucursal option:selected").val() == '0' || $("#FORM_IdSucursal option:selected").length == 0) {
                    alert('Debe seleccionar una sucursal.');
                    return false;
                }
                else { crearPlanificacionStep = 2; }


            }, onPrevious: function (tab, navigation, index) {

                if (crearPlanificacionStep == 2) {
                    crearPlanificacionStep = 1;
                }

            }, onLast: function (tab, navigation, index) {
            }, onTabClick: function (tab, navigation, index) {
            }, onTabShow: function (tab, navigation, index) {
                var $total = navigation.find('li').length;
                var $current = index + 1;
                var $percent = ($current / $total) * 100;
                $('#crear-planificacion-wz .progress-bar').css({ width: $percent + '%' });
                // If it's the last tab then hide the last button and show the finish instead
                if ($current >= $total) {
                    $('#crear-planificacion-wz').find('.pager .next').hide();
                    $('#crear-planificacion-wz').find('.pager .finish').show();
                    $('#crear-planificacion-wz').find('.pager .finish').removeClass('disabled');
                } else {
                    $('#crear-planificacion-wz').find('.pager .next').show();
                    $('#crear-planificacion-wz').find('.pager .finish').hide();
                }

            }
            });
        });


    </script>*@