﻿@model MetricArts.JnJ.Mantenciones.Models.Mantenciones.RepuestosViewModel
@{
    ViewBag.Title = "Repuestos";
}

@using MvcContrib.UI.Grid;

<section>
				<div class="row-fluid">
					<ol class="breadcrumb">
						<li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
						<li><a href="@Url.Action("Index", "GestionMantenciones")">Gestión Mantenciones</a></li>
						<li><a href="@Url.Action("Repuestos", "Mantenciones")">Solicitudes de Repuestos</a></li>
					</ol>
				</div>
				<article>
					<div class="row-fluid">
						<h3>Solicitudes de Repuestos</h3>
					</div>
				</article>

                <article>
					<div class="row-fluid">
						<!-- Nav tabs -->
						<ul id="Tab" class="nav nav-tabs" role="tablist">
							<li role="presentation">
								<a href="#EnEspera" aria-controls="EnEspera" role="tab">En Espera de Atención  <span class="label label-danger label-as-badge">@Model.CantEnEsperaAtencion</span></a>
							</li>
							<li role="presentation">
								<a href="#Atendidas" aria-controls="Atendidas" role="tab">Enviadas  <span class="label label-danger label-as-badge">@Model.CantAtendidas</span></a>
							</li>
                            <li role="presentation">
								<a href="#Aceptadas" aria-controls="Aceptadas" role="tab">Aceptadas por Distribuidor  <span class="label label-danger label-as-badge">@Model.CantAceptadas</span></a>
							</li>
						</ul>

						<!-- Tab panes -->
						<br />
						<div class="tab-content">
							<div role="tabpanel" class="tab-pane fade active" id="EnEspera">
                                <article>
					<div class="row-fluid">
						<div class="table-responsive">
							@{Html.Grid(Model.EnEsperaAtencion).Columns(col =>
                                {
                                    col.For(x => "<button id='" + x.IdSolicitudKitRepuesto + "' class='btn btn-default btn-modal-detalle-solicitud-repuestos' type='button'><span class='glyphicon glyphicon-list-alt'></span></button>").Encode(false).Named("Solicitar Repuestos");
                                    col.For(x => x.Mantencion.Equipo.Sucursal.Cliente.NombreEmpresa + " - Sucursal: " + x.Mantencion.Equipo.Sucursal.NombreSucursal).Named("Cliente").Attributes(@style => "font-weight: bold");
                                    col.For(x => x.Mantencion.Equipo.Nombre).Named("Equipo")
                                        .Attributes(x => new Dictionary<string, object>()
                                           {
                                                { "class", "repuesto-equipo-nombre" }
                                           });
                                    col.For(x => x.Mantencion.Equipo.CodigoEquipo).Named("Código")
                                        .Attributes(x => new Dictionary<string, object>()
                                           {
                                                { "class", "repuesto-equipo-codigo" }
                                           });
                                    col.For(x => x.KitRepuesto.Nombre).Named("KIT")
                                        .Attributes(x => new Dictionary<string, object>()
                                           {
                                                { "class", "repuesto-kit" }
                                           });
                                    col.For(x => x.Mantencion.FechaConfirmacion.Value.ToShortDateString()).Named("Fecha Mantención")
                                        .Attributes(x => new Dictionary<string, object>()
                                           {
                                                { "class", "repuesto-fecha-mantencion" }
                                           });
                                    col.For(x => x.FechaSolicitud).Named("Fecha Solicitud")
                                        .Attributes(x => new Dictionary<string, object>()
                                           {
                                                { "class", "repuesto-fecha-solicitud" }
                                           });
                                    col.For(x => x.EstadoSolicitud.Estado).Named("Estado")
                                        .Attributes(x => new Dictionary<string, object>()
                                           {
                                                { "class", "repuesto-estado" }
                                           });
                                    
                                })
                                .Empty("No existen solicitudes en espera de atención.")
                                .Attributes(@class => "table table-striped table-condensed")
                                .Render();}
						</div>
					</div>
				</article>
							</div>
							<div role="tabpanel" class="tab-pane fade" id="Atendidas">
								<article>
					<div class="row-fluid">
						<div class="table-responsive">
							@{Html.Grid(Model.Atendidas).Columns(col =>
                                {
                                    col.For(x => x.Mantencion.Equipo.Sucursal.Cliente.NombreEmpresa + " - Sucursal: " + x.Mantencion.Equipo.Sucursal.NombreSucursal).Named("Cliente").Attributes(@style => "font-weight: bold");
                                    col.For(x => x.Mantencion.Equipo.Nombre).Named("Equipo")
                                        .Attributes(x => new Dictionary<string, object>()
                                           {
                                                { "class", "repuesto-equipo-nombre" }
                                           });
                                    col.For(x => x.Mantencion.Equipo.CodigoEquipo).Named("Código")
                                        .Attributes(x => new Dictionary<string, object>()
                                           {
                                                { "class", "repuesto-equipo-codigo" }
                                           });
                                    col.For(x => x.KitRepuesto.Nombre).Named("KIT")
                                        .Attributes(x => new Dictionary<string, object>()
                                           {
                                                { "class", "repuesto-kit" }
                                           });
                                    col.For(x => x.Mantencion.FechaConfirmacion.Value.ToShortDateString()).Named("Fecha Mantención")
                                        .Attributes(x => new Dictionary<string, object>()
                                           {
                                                { "class", "repuesto-fecha-mantencion" }
                                           });
                                    col.For(x => x.FechaSolicitud).Named("Fecha Solicitud")
                                        .Attributes(x => new Dictionary<string, object>()
                                           {
                                                { "class", "repuesto-fecha-solicitud" }
                                           });
                                    col.For(x => x.EstadoSolicitud.Estado).Named("Estado")
                                        .Attributes(x => new Dictionary<string, object>()
                                           {
                                                { "class", "repuesto-estado" }
                                           });
                                })
                                .Empty("No existen solicitudes atendidas.")
                                .Attributes(@class => "table table-striped table-condensed")
                                .Render();}
						</div>
					</div>
				</article>
							</div>
                            <div role="tabpanel" class="tab-pane fade" id="Aceptadas">
								<article>
					<div class="row-fluid">
						<div class="table-responsive">
							@{Html.Grid(Model.Aceptadas).Columns(col =>
                                {
                                    col.For(x => x.Mantencion.Equipo.Sucursal.Cliente.NombreEmpresa + " - Sucursal: " + x.Mantencion.Equipo.Sucursal.NombreSucursal).Named("Cliente").Attributes(@style => "font-weight: bold");
                                    col.For(x => x.Mantencion.Equipo.Nombre).Named("Equipo")
                                        .Attributes(x => new Dictionary<string, object>()
                                           {
                                                { "class", "repuesto-equipo-nombre" }
                                           });
                                    col.For(x => x.Mantencion.Equipo.CodigoEquipo).Named("Código")
                                        .Attributes(x => new Dictionary<string, object>()
                                           {
                                                { "class", "repuesto-equipo-codigo" }
                                           });
                                    col.For(x => x.KitRepuesto.Nombre).Named("KIT")
                                        .Attributes(x => new Dictionary<string, object>()
                                           {
                                                { "class", "repuesto-kit" }
                                           });
                                    col.For(x => x.Mantencion.FechaConfirmacion.Value.ToShortDateString()).Named("Fecha Mantención")
                                        .Attributes(x => new Dictionary<string, object>()
                                           {
                                                { "class", "repuesto-fecha-mantencion" }
                                           });
                                    col.For(x => x.FechaSolicitud).Named("Fecha Solicitud")
                                        .Attributes(x => new Dictionary<string, object>()
                                           {
                                                { "class", "repuesto-fecha-solicitud" }
                                           });
                                    col.For(x => x.EstadoSolicitud.Estado).Named("Estado")
                                        .Attributes(x => new Dictionary<string, object>()
                                           {
                                                { "class", "repuesto-estado" }
                                           });
                                })
                                .Empty("No existen solicitudes atendidas.")
                                .Attributes(@class => "table table-striped table-condensed")
                                .Render();}
						</div>
					</div>
				</article>
							</div>
						</div>
					</div>
				</article>			
			</section>

<div class="modal fade" id="ModalDet" tabindex="-1" role="dialog" aria-labelledby="ModalDet">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="ModalDet">Envío de Solicitud a Distribuidor</h4>
					</div>
					<div class="modal-body">
						<div class="container-fluid">
						<div class="bs-callout bs-callout-JJ row">
                                                    <legend>Distribuidores Locales</legend>
													<div class="row">
														<div class="col-md-3">
															<span>@Html.LabelFor(x => x.FORM.IdDistribuidor)</span>
														</div>
														<div class="col-md-6">
                                                            @Html.DropDownListFor(x => x.FORM.IdDistribuidor, Model.Distribuidores, "Seleccione un distribuidor", new { @class = "form-control input-sm" })

														</div>
													</div>
                            <br />
                                                    
													<div class="Add">
                                                        <legend>Destinatario/s Notificación</legend>
														<div class="row">
															<i class="col-md-6">Puede agregar más destinatarios:</i>
															@*<div class="col-md-6">
																<button class="btn btn-success pull-right" type="button" data-original-title="" title="">
																	<span class="glyphicon glyphicon-send"></span> Enviar Notificación
																</button>
															</div>*@
														</div>
														</br>
														<div class="form-group">
															<div class="col-sm-9 col-sm-offset-2">
																<div class="input-group">
																	<span class="input-group-addon">@@</span>
																	<input id="contacto-distribuidor" type="text" class="form-control" readonly="readonly" >
																	<span class="input-group-btn">
																		<button type="button" class="btn btn-success">
																			<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
																		</button>
																	</span>
																</div>		
															</div>
														</div>
                                                        <br />
                                                         
													</div>
                            <br />
                            <br />
                                               <div class="Add1">
                                                    <br />
                                                    <br />
                                                    <legend>Formato de Correo</legend>
                                                    <div class="form-group">
									                    <label class="col-sm-4 control-label">Formato Correo</label>
									                    <div class="col-sm-12">
										                    <div class="input-group">
                                                                @Html.DropDownListFor(x => x.FORM.IdFormatoCorreo, Model.FormatosCorreo, "Seleccione un formato de correo", new { @class = "form-control input-sm" })
											                    <span class="input-group-btn">
											                        <button id="PreviewCorreo" type="button" class="btn btn-sm btn-warning" data-toggle="tooltip" data-placement="bottom" title="Previsualizar Correo">
												                        <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
												                    </button>
											                    </span>
								                            </div>
								                        </div>
								                    </div>
                                                   
                                                </div>

                            </div>
                            
                            <div id="previsualizacion-correo" class="bs-callout bs-callout-JJ row">
                                <button id="cerrar-previsualizacion-correo" type="button" class="close">
							        <span aria-hidden="true">&times;</span>
						        </button>
                                <legend>Previsualización Correo <small><span id="titulo-formato-correo"></span></small></legend>
                                <div id="correo-body-html"></div>
                                
                            </div>
                            <div id="boton-enviar-solicitud" class="row">
									                    <div class="col-md-6 col-md-offset-6">
										                <button id="enviar-solicitud" type="button" class="btn btn-success pull-right"><span class='glyphicon glyphicon-send'></span> Enviar Solicitud</button>
									               </div>
								</div>
				        </div>
					</div>
					<div class="modal-footer">
						<button id="cerrar-modal" type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
					</div>
				</div>
			</div>
		</div>

<div class="modal fade" id="ModalExitoRepuesto" tabindex="-1" role="dialog" aria-labelledby="ModalDet">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
						<h4 class="modal-title">Solicitud de Repuesto</h4>
					</div>
					<div class="modal-body">
							
						<p id="ModalExitoRepuestoTitulo"></p>
				
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" data-dismiss="modal">Entendido</button>
					</div>
				</div>
			</div>
		</div>
@Scripts.Render("~/bundles/custom/mantenciones/repuestos")
<script type="text/javascript">
    $(document).ready(function () {
        init('@Url.Action("ObtenerContactoDistribuidor", "ServicioConsulta")',
            '@Url.Action("EnviarSolicitudRepuestos", "Mantenciones")',
            '@Url.Action("PlantillaCorreoRepuestosPreview", "Mantenciones")');
    });
</script>