﻿@model MetricArts.JnJ.Mantenciones.Models.Mantenciones.SeguimientoViewModel
@{
    ViewBag.Title = "Seguimiento Mantenciones";
}

@using MvcContrib.UI.Grid;

<section>
				<div class="row-fluid">
					<ol class="breadcrumb">
						<li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
						<li><a href="@Url.Action("Index", "GestionMantenciones")">Gestión Mantenciones</a></li>
						<li><a href="@Url.Action("Seguimiento", "GestionMantenciones")">Seguimiento</a></li>
					</ol>
				</div>

				<article>
					<div class="row-fluid">
						<h3>Seguimiento de Mantenciones</h3>
					</div>
				</article>
    <br />
                <article>
                    <div class="content-fluid">
						<div class="row">
							<div class="col-md-12">
								<button id="en-curso-boton" class="btn btn-info" type="button">
									En Curso <span class="badge">@Model.CantEnCurso</span>
								</button>
                                <button id="en-espera-momento-boton" class="btn btn-danger" type="button">
									En Espera Momentánea <span class="badge">@Model.CantEnEsperaMomento</span>
								</button>
								<button id="finalizada-boton" class="btn btn-success" type="button">
									Finalizadas <span class="badge">@Model.CantFinalizada</span>
								</button>
                                <button id="todas-boton" class="btn btn-primary" type="button">
									Todas <span class="badge">@Model.CantTotal</span>
								</button>
							</div>
						</div>
					</div>
                </article>
    <br />
				<article>
					<div class="row-fluid">
						<!-- Nav tabs -->
						<ul id="Tab" class="nav nav-tabs" role="tablist">
							<li role="presentation">
								<a href="#Lista" aria-controls="Lista" role="tab">Listado por Fechas</a>
							</li>
							<li role="presentation">
								<a href="#Calendario" id="calendario-tab" aria-controls="Calendario" role="tab">Ver en Calendario</a>
							</li>
                            <li role="presentation">
								<a href="#Listado" id="listado-completo" aria-controls="Listado" role="tab">Listado Completo</a>
							</li>
						</ul>

						<!-- Tab panes -->
						</br>
						<div class="tab-content">
							<div role="tabpanel" class="tab-pane fade active" id="Lista">
								

                                <div class="bs-callout bs-callout-JJ" id="callout-help-text-accessibility">
							<legend>Filtros</legend>
							<form action="@Url.Action("Seguimiento", "Mantenciones")" method="POST" class="form-horizontal">
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.IdCliente)</label>
											<div class="col-sm-8">
												@Html.DropDownListFor(x => x.FORM.IdCliente, Model.Clientes, "Todos los Clientes", new { @class = "form-control input-sm" })
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.IdSucursal)</label>
											<div class="col-sm-8">
												<select id="FORM_IdSucursal" name="FORM.IdSucursal" class="form-control input-sm" disabled="disabled"></select>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.anioPlanificacion)</label>
											<div class="col-sm-8">
												@Html.DropDownListFor(x => x.FORM.anioPlanificacion, Model.AniosPlanificacion, "Año Actual", new { @class = "form-control input-sm" })		
											</div>
										</div>
                                        @Html.HiddenFor(m => m.anioPlanificacion, new { @id = "anio-seleccionado" })
                                        @Html.HiddenFor(m => m.fechaSeleccion, new { @id = "fecha-seleccionada" })
                                        @Html.HiddenFor(m => m.FORM.fechaSelected, new { @id = "fecha-seleccionada-post" })
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.IdIngeniero)</label>
											<div class="col-sm-8">
												@Html.DropDownListFor(x => x.FORM.IdIngeniero, Model.Ingenieros, "Todos los Ingenieros", new { @class = "form-control input-sm" })
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6 col-md-offset-6">
										<button type="submit" class="btn btn-JJ btn-sm pull-right">Filtrar</button>
									</div>
								</div>
							</form>
						</div>
                          
                                
                          <br />            
                                <div class="row-fluid" id="paginador-seguimiento"></div>
								</br>
								<div class="row-fluid" id="mantenciones-tabla">
									
                                     @{Html.Grid(Model.Mantenciones).Columns(col =>
                                     {
                                         col.For(x => "<button class='btn btn-default' type='button' onclick='gestionarMantencion(\"" + x.IdMantencion + "\");'><span class='glyphicon glyphicon-new-window'></span></button>").Encode(false).Named("Gestionar");
                                        col.For(x => x.Equipo.Nombre).Named("Equipo");
                                        col.For(x => x.Equipo.CodigoEquipo).Named("Código");
                                        col.For(x => x.Ingeniero.Usuario.Nombre + " " + x.Ingeniero.Usuario.ApellidoPaterno).Named("Ingeniero asignado");
                                        col.For(x => x.Planificacion.Ano).Named("Año").Attributes(@style => "font-weight: bold");
                                        col.For(x => x.Equipo.Sucursal.Cliente.NombreEmpresa + " (" + x.Equipo.Sucursal.NombreSucursal + ")").Named("Cliente").Attributes(nowrap => "nowrap");
                                        col.For(x => (x.CuestionarioMantencions.Single(y => y.IdMantencion == x.IdMantencion && y.Cuestionario.TipoCuestionario.Codigo == 1) != null ? x.CuestionarioMantencions.Single(y => y.IdMantencion == x.IdMantencion && y.Cuestionario.TipoCuestionario.Codigo == 1).Cuestionario.Descripcion : (x.Equipo.Cuestionario != null ? x.Equipo.Cuestionario.Descripcion : "<i>No Asignado</i>"))).Encode(false).Named("Checklist")
                                        .Attributes(x => new Dictionary<string, object>()
                                           {
                                                { "id", "checklist-asignado-" + x.Item.IdMantencion }
                                           });
                                        col.For(x => (x.CuestionarioMantencions.Where(y => y.IdMantencion == x.IdMantencion && y.Cuestionario.TipoCuestionario.Codigo == 1).SingleOrDefault().Respondida ? "Checklist respondido por Ingeniero" : "<button class='btn btn-default' type='button' onclick='asignarChecklist(\"" + x.IdMantencion + "\");'><span class='glyphicon glyphicon-th'></span></button>")).Encode(false).Named("Re-Asignar Checklist");
                                      }).Empty("No existen mantenciones para la fecha seleccionada").Attributes(@class => "table table-striped").Render();}
								</div>
							</div>
							<div role="tabpanel" class="tab-pane fade" id="Calendario">
								<div id='calendario-seguimiento'></div>
							</div>
                            <div role="tabpanel" class="tab-pane fade" id="Listado">
								
                                <article>
					                <div class="row-fluid">
                                        <br />
                                        <br />
                        <div class="table-responsive">                            
                <table id="listado-seguimiento" class="table table-striped table-condensed display">
                    <thead>
                        <tr>
                            <th>@Html.DisplayName("Fecha Mantención")</th>
                            <th>@Html.DisplayName("Equipo")</th>
                            <th>@Html.DisplayName("Contrato")</th>
                            <th>@Html.DisplayName("Código")</th>
                            <th>@Html.DisplayName("Año")</th>
                            <th>@Html.DisplayName("Cliente")</th>
                            <th>@Html.DisplayName("Sucursal")</th>
                            <th>@Html.DisplayName("Ingeniero asignado")</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.MantencionesTotal)
                        {
                            <tr>
                                <td>@(item.FechaConfirmacion.Value.ToString("dd-MM-yyyy"))</td>
                                <td>@Html.DisplayFor(modelItem => item.Equipo.Nombre)</td>
                                <td>@Html.DisplayFor(modelItem => item.Equipo.TipoContrato.TipoContrato1)</td>
                                <td>@Html.DisplayFor(modelItem => item.Equipo.CodigoEquipo)</td>
                                <td>@Html.DisplayFor(modelItem => item.Planificacion.Ano)</td>
                                <td>@Html.DisplayFor(modelItem => item.Equipo.Sucursal.Cliente.NombreEmpresa)</td>
                                <td>@Html.DisplayFor(modelItem => item.Equipo.Sucursal.NombreSucursal)</td>
                                <td>@item.Ingeniero.Usuario.Nombre @item.Ingeniero.Usuario.ApellidoPaterno</td>
                            </tr>
                        }
                    </tbody>
                </table>
			</div>

					                </div>
                                </article>
							</div>
						</div>
					</div>
				</article>
			</section>

            <div class="modal fade" id="ModalDet" tabindex="-1" role="dialog" aria-labelledby="ModalDet">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="ModalDetTitle">Detalle Mantención <span id="detalle-seguimiento-equipo-titulo"></span></h4>
					</div>
					<div class="modal-body">
						<div class="row-fluid">
							<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
								<div id="detalle-seguimiento" class="panel panel-default">
									<div class="panel-heading" role="tab" id="headingOne">
										<h4 class="panel-title">
											<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
											Detalle
											</a>
										</h4>
									</div>
									<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
										<div class="panel-body">
											<div class="row-fluid">
												<div class="row">
													<label class="col-md-2">Cliente</label>
													<p id="detalle-seguimiento-cliente" class="col-md-8">Clínica Tabancura</p>
												</div>
												<div class="row">
													<label class="col-md-2">Sucursal</label>
													<p id="detalle-seguimiento-sucursal" class="col-md-8">Central</p>
												</div>
												<div class="row">
													<label class="col-md-2">Planificación</label>
													<p id="detalle-seguimiento-planificacion" class="col-md-8">Prueba</p>
													@*<button class="btn btn-warning btn-sm" type="submit" data-toggle="tooltip" data-placement="bottom" title="Revisar">
														<span class="glyphicon glyphicon-new-window"></span>
													</button>*@
												</div>
												<div class="row">
													<label class="col-md-2">Ingeniero</label>
													<p id="detalle-seguimiento-ingeniero" class="col-md-4">Sergio Rojas</p>
												</div>
											</div>
											<div class="row-fluid">
												<table class="table">
													<caption>Equipo</caption>
													<thead>
														<tr>
															<th>Código</th>
															<th>Nombre</th>
															<th>Franquicia</th>
															<th>Descripción</th>
															<th>Fecha Instalación</th>
                                                            <th>Fecha de Visita</th>
														</tr>
													</thead>
													<tbody>
														<tr>
															<th id="detalle-seguimiento-tabla-codigo-equipo">30002416</th>
															<td id="detalle-seguimiento-tabla-nombre-equipo">VITROS ECI (3354)</td>
															<td id="detalle-seguimiento-tabla-franquicia">OCD</td>
															<td id="detalle-seguimiento-tabla-descripcion">-</td>
															<td id="detalle-seguimiento-tabla-fecha-instalacion">16-12-2013</td>
                                                            <th id="detalle-seguimiento-tabla-fecha-visita">06-09-2015</th>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
                                
								<div id="cambiar-estado-seguimiento" class="panel panel-default">
									<div class="panel-heading" role="tab" id="headingFour">
										<h4 class="panel-title">
											<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
											Cambiar Estado Mantención
											</a>
										</h4>
									</div>
									<div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
										<div class="panel-body">
											<form id="estados-formulario-cambio" class="form-horizontal">
												<div class="row">
													<div class="col-md-6">
														<div class="form-group">
															<label class="col-sm-4 control-label">Estado</label>
															<div class="col-sm-8">
																<select id="estados-seguimiento-valores" class="form-control input-sm">
																	<option value="3">En Curso</option>
                                                                    <option value="4">En Espera Momentánea</option>
																	<option value="5">Finalizada</option>
																</select>
															</div>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-md-6">
														<div class="form-group">
															<label class="col-sm-4 control-label">Observaciones</label>
															<div class="col-sm-8">
																<textarea id="estados-seguimiento-observaciones" class="form-control" rows="3"></textarea>
															</div>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-md-6">
														<button id="guardar-nuevo-estado" type="button" class="btn btn-JJ btn-sm pull-right" data-original-title="" title="">Guardar</button>
													</div>
												</div>
											</form>
										</div>
									</div>
								</div>
								<div id="historicos-seguimiento" class="panel panel-default">
									<div class="panel-heading" role="tab" id="headingTwo">
										<h4 class="panel-title">
											<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
											Estados Históricos
											</a>
										</h4>
									</div>
									<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
										<div class="panel-body">
											<div class="row-fluid">
												<table class="table">
													<thead>
														<tr>
															<th>Último Estado</th>
															<th>Observaciones</th>
															<th>Atendido Por</th>
															<th>Fecha Actualización</th>
														</tr>
													</thead>
													<tbody id="estados-historicos-seguimiento-registros">
														<tr>
															<th>Realizada</th>
															<td>-</td>
															<td>Administrador Sistema</td>
															<td>27-02-2014 16:06:39</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
								<div id="checklist-seguimiento" class="panel panel-default">
									<div class="panel-heading" role="tab" id="headingThree">
										<h4 class="panel-title">
											<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
											CheckList
											</a>
										</h4>
									</div>
									<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
										<div class="panel-body">
                                        <a href="#">Descargar Checklist</a>
										
										</div>
									</div>
								</div>
								@*<div id="repuestos-seguimiento" class="panel panel-default">
									<div class="panel-heading" role="tab" id="headingFive">
										<h4 class="panel-title">
											<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
											Solicitud de Respuestos
											</a>
										</h4>
									</div>
									<div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
										<div class="panel-body">
											<div class="panel-body">
											<div class="row-fluid">
												<button class="btn btn-success btn-sm" type="submit" data-toggle="tooltip" data-placement="bottom" title="Nueva Solicitud de respuesto">Nueva
												</button>
												<table class="table">
													<caption>Lista de Solicitudes</caption>
													<thead>
														<tr>
															<th>Fecha Solicitud</th>
                                                            <th>Código</th>
                                                            <th>Descripción</th>
                                                            <th>Cantidad</th>
                                                            <th>Categoria</th>
															<th>Editar</th>
                                                            <th>Eliminar</th>
														</tr>
													</thead>
													<tbody>
														<tr>
															<th>28-03-2014 11:41:55</th>
                                                            <td>356933</td>
                                                            <td>CAM WASHER</td>
                                                            <td>2</td>
                                                            <td>Requerido</td>
															<td>
																<button class="btn btn-warning btn-sm" type="submit" data-toggle="tooltip" data-placement="bottom" title="Editar">
																	<span class="glyphicon glyphicon-edit"></span>
																</button>
															</td>
                                                            <td>
																<button class="btn btn-danger btn-sm" type="submit" data-toggle="tooltip" data-placement="bottom" title="Eliminar">
																	<span class="glyphicon glyphicon-trash"></span>
																</button>
															</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									
									</div>
								</div>
							</div>*@
							@*<div id="lotus-seguimiento" class="panel panel-default">
								<div class="panel-heading" role="tab" id="headingSix">
									<h4 class="panel-title">
										<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
										Lotus
										</a>
									</h4>
								</div>
								<div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
									<div class="panel-body">
							            <div class="col-md-6">
														<button type="button" class="btn btn-JJ btn-sm pull-left" data-original-title="" title="">Subir Archivo</button>
													</div>
									</div>
								</div>
							</div>*@
						</div>
					</div>				
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
					</div>
				</div>
			</div>
		</div>

<div class="modal fade" id="ModalChecklist-vigentes" tabindex="-1" role="dialog" aria-labelledby="ModalChecklistTitle">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="ModalChecklistTitle">Asignar nuevo Checklist a la Mantención</h4>
					</div>
					<div class="modal-body">
						<div class="container-fluid">
							
							<div class="row">
								<div class="form-group">
                                    <input id="mantencion-checklist-id" type="hidden" value="" />
						            <label class="col-sm-4 control-label">CheckList disponibles</label>
									<div class="col-sm-12">
									    <div class="input-group">
                                            <select id="checklist-asignacion" class="form-control input-sm">
								            </select>
										    <span class="input-group-btn">
										        <button id="PreviewChecklist" type="button" class="btn btn-sm btn-warning" data-toggle="tooltip" data-placement="bottom" title="Previsualizar Checklist">
											        <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
										        </button>
										    </span>
								        </div>
								    </div>
					            </div>
							</div>
						</div>					
					</div>
					<div class="modal-footer">
						<button id="cerrar-modal-checklist" type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
						<button id="asignar-checklist-submit" type="button" class="btn btn-primary">Guardar Cambios</button>
					</div>
				</div>
			</div>
		</div>
@Scripts.Render("~/bundles/custom/mantenciones/seguimiento")
<script type="text/javascript">
    $(document).ready(function () {
        init('@Url.Action("ObtenerMantencionesPorFecha", "Mantenciones")',
            '@Url.Action("ObtenerSucursales", "ServicioConsulta")',
            '@Url.Action("CalendarioJsonFeed", "Mantenciones")',
            '@Url.Action("ObtenerIngenieros", "ServicioConsulta")',
            '@Url.Action("ObtenerMantencion", "ServicioConsulta")',
            '@Url.Action("CambiarEstadoMantencion", "Mantenciones")',
            '@Url.Action("ObtenerChecklists", "ServicioConsulta")',
            '@Url.Action("VigentesAsignacionChecklist", "Mantenciones")');
    });
</script>