﻿@model MetricArts.JnJ.Mantenciones.Models.Mantenedores.Contactos.ContactosViewModel
@{
    ViewBag.Title = "Crear Nuevo Contacto";
}

<div class="row-fluid">
				<ol class="breadcrumb">
					<li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
					<li><a href="@Url.Action("Index", "Mantenedores")">Mantenedores</a></li>
					<li><a href="@Url.Action("Index", "Contactos")">Contactos</a></li>
					<li><a href="@Url.Action("CrearNuevo", "Contactos")">Nuevo</a></li>
				</ol>
			</div>

			<section>
				<div class="row-fluid">
					<h3>Crear Nuevo Contacto</h3>
				</div>
                @if (TempData["Mensaje"] != null && !String.IsNullOrEmpty(TempData["Mensaje"].ToString()))
                {
                <div class="alert alert-warning alert-dismissible fadeOutMantenedor" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>@(TempData["Mensaje"])</strong>
                </div>
                }
                <br />
                <form action="@Url.Action("CrearNuevo", "Contactos")" method="POST" class="form-horizontal">
				<div class="row-fluid">
					    <div class="form-group">
						    <label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.IdFranquicia)</label>
							<div class="col-sm-6">
							    @Html.DropDownListFor(x => x.FORM.IdFranquicia, Model.Franquicias, "Seleccione una Franquicia", new { @class = "form-control input-sm" })
							</div>
						</div>
                        <div class="form-group">
						    <label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.IdCliente)</label>
							<div class="col-sm-6">
							    @Html.DropDownListFor(x => x.FORM.IdFranquicia, Model.Franquicias, "Seleccione una Franquicia", new { @class = "form-control input-sm" })
							</div>
						</div>
                        <div class="form-group">
						    <label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.IdSucursal)</label>
							<div class="col-sm-6">
							    <select id="FORM_IdSucursal" class="form-control input-sm" disabled="disabled"></select>
                                @Html.HiddenFor(x => x.FORM.IdSucursal1)
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.Nombre)</label>
							<div class="col-sm-6">
                                @Html.TextBoxFor(x => x.FORM.Nombre, new { @class = "form-control input-sm" })
							</div>
						</div>
                        <div class="form-group">
							<label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.Apaterno)</label>
							<div class="col-sm-6">
                                @Html.TextBoxFor(x => x.FORM.Apaterno, new { @class = "form-control input-sm" })
							</div>
						</div>
                        <div class="form-group">
							<label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.Amaterno)</label>
							<div class="col-sm-6">
                                @Html.TextBoxFor(x => x.FORM.Amaterno, new { @class = "form-control input-sm" })
							</div>
						</div>
                        <div class="form-group">
							<label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.Correo)</label>
							<div class="col-sm-6">
                                @Html.TextBoxFor(x => x.FORM.Correo, new { @class = "form-control input-sm" })
							</div>
						</div>
                        <div class="form-group">
							<label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.TelefonoOficina)</label>
							<div class="col-sm-6">
                                @Html.TextBoxFor(x => x.FORM.TelefonoOficina, new { @class = "form-control input-sm" })
							</div>
						</div>
                        <div class="form-group">
							<label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.TelefonoCelular)</label>
							<div class="col-sm-6">
                                @Html.TextBoxFor(x => x.FORM.TelefonoCelular, new { @class = "form-control input-sm" })
							</div>
						</div>
                        <div class="form-group">
							<label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.Cargo)</label>
							<div class="col-sm-6">
                                @Html.TextBoxFor(x => x.FORM.Cargo, new { @class = "form-control input-sm" })
							</div>
						</div>							
				</div>
				<div class="row">
					<div class="col-md-6 col-md-offset-4">
						<button id="crear-contacto" type="button" class="btn btn-success pull-right">Guardar</button>
                        <a href="@Url.Action("Index", "Contactos")" class="btn btn-primary">Cancelar</a>
					</div>
                    
				</div>
                </form>
			</section>
@Scripts.Render("~/bundles/custom/mantenedores/contactos/crear")
<script type="text/javascript">
    $(document).ready(function () {
        init('@Url.Action("ObtenerClientes", "ServicioConsulta")',
            '@Url.Action("ObtenerSucursalesSinContactos", "ServicioConsulta")');
    });
</script>
