﻿@model MetricArts.JnJ.Mantenciones.Models.Mantenedores.Contactos.ContactosViewModel
@{
    ViewBag.Title = "Editar Contacto";
}

<div class="row-fluid">
				<ol class="breadcrumb">
					<li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
					<li><a href="@Url.Action("Index", "Mantenedores")">Mantenedores</a></li>
					<li><a href="@Url.Action("Index", "Contactos")">Sucursales</a></li>
					<li>Editar</li>
				</ol>
			</div>

			<section>
                
				<div class="row-fluid">
					<h3>Editar Contacto</h3>
				</div>
                @if (TempData["Mensaje"] != null && !String.IsNullOrEmpty(TempData["Mensaje"].ToString()))
                {
                <div class="alert alert-warning alert-dismissible fadeOutMantenedor" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>@(TempData["Mensaje"])</strong>
                </div>
                }
                <br />
                <form action="@Url.Action("Editar", "Contactos")" method="POST" class="form-horizontal">
                    @Html.HiddenFor(x => x.FORM.IdContacto)
				<div class="row-fluid">
						<div class="form-group">
						    <label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.IdFranquicia)</label>
							<div class="col-sm-6">
							    @Html.DropDownListFor(x => x.FORM.IdFranquicia, Model.Franquicias, "Seleccione una Franquicia", new { @class = "form-control input-sm" })
							</div>
						</div>
                        <div class="form-group">
						    <label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.IdCliente)</label>
							<div class="col-sm-6">
							    @Html.DropDownListFor(x => x.FORM.IdCliente, Model.Clientes, "Seleccione un Cliente", new { @class = "form-control input-sm" })
							</div>
						</div>
                        <div class="form-group">
						    <label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.IdSucursal)</label>
							<div class="col-sm-6">
							    @Html.DropDownListFor(x => x.FORM.IdSucursal, Model.Sucursales, "Seleccione un Cliente", new { @class = "form-control input-sm" })
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.Nombre)</label>
							<div class="col-sm-6">
                                @Html.TextBoxFor(x => x.FORM.Nombre, new { @class = "form-control input-sm" })
							</div>
						</div>
                        <div class="form-group">
							<label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.Apaterno)</label>
							<div class="col-sm-6">
                                @Html.TextBoxFor(x => x.FORM.Apaterno, new { @class = "form-control input-sm" })
							</div>
						</div>
                        <div class="form-group">
							<label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.Amaterno)</label>
							<div class="col-sm-6">
                                @Html.TextBoxFor(x => x.FORM.Amaterno, new { @class = "form-control input-sm" })
							</div>
						</div>
                        <div class="form-group">
							<label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.Correo)</label>
							<div class="col-sm-6">
                                @Html.TextBoxFor(x => x.FORM.Correo, new { @class = "form-control input-sm" })
							</div>
						</div>
                        <div class="form-group">
							<label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.TelefonoOficina)</label>
							<div class="col-sm-6">
                                @Html.TextBoxFor(x => x.FORM.TelefonoOficina, new { @class = "form-control input-sm" })
							</div>
						</div>
                        <div class="form-group">
							<label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.TelefonoCelular)</label>
							<div class="col-sm-6">
                                @Html.TextBoxFor(x => x.FORM.TelefonoCelular, new { @class = "form-control input-sm" })
							</div>
						</div>
                        <div class="form-group">
							<label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.Cargo)</label>
							<div class="col-sm-6">
                                @Html.TextBoxFor(x => x.FORM.Cargo, new { @class = "form-control input-sm" })
							</div>
						</div>									
				</div>
				<div class="row">
					<div class="col-md-6 col-md-offset-4">
						<input type="submit" class="btn btn-success pull-right" value="Guardar" />
                        <a href="@Url.Action("Index", "Contactos")" class="btn btn-primary">Cancelar</a>
					</div>
				</div>
                </form>
			</section>
@Scripts.Render("~/bundles/custom/mantenedores/contactos/editar")
<script type="text/javascript">
    $(document).ready(function () {
        init('@Url.Action("ObtenerClientes", "ServicioConsulta")',
            '@Url.Action("ObtenerSucursalesSinContactos", "ServicioConsulta")');
    });
</script>
