﻿@model MetricArts.JnJ.Mantenciones.Models.Mantenedores.Contactos.ContactosViewModel
@{    
    ViewBag.Title = "Listado Contactos";
}
<section class="container-fluid">
    <article>
        <div class="row">
		    <ol class="breadcrumb">
			    <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
			    <li><a href="@Url.Action("Index", "Mantenedores")">Mantenedores</a></li>
				<li><a href="@Url.Action("Index", "Contactos")">Contactos</a></li>
			</ol>
		</div>

        <article>
		    <div class="bs-callout bs-callout-JJ">
                <legend>Contactos</legend>
                <a href="@Url.Action("CrearNuevo", "Contactos")" data-toggle="confirmation"  title="Nuevo Repuesto" class="btn btn-success">
                    <span class='glyphicon glyphicon-plus-sign'></span> Crear Nuevo
                </a>

                <button class="btn btn-primary" type="button">
			        Cantidad Total <span class="badge">@Model.Contactos.Count()</span>
				</button>
		    </div>
		</article>

        <br />
        @if (TempData["Mensaje"] != null && !String.IsNullOrEmpty(TempData["Mensaje"].ToString()))
        {
            <div class="alert alert-success alert-dismissible fadeOutMantenedor" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>@(TempData["Mensaje"])</strong>
            </div>
        }
        <br />
        <div class="row">
            <div class="table-responsive">                            
                <table id="listado-mantenedor" class="table table-striped table-condensed display">
                    <thead>
                        <tr>
                            <th>@Html.DisplayName("Franquicia")</th>
                            <th>@Html.DisplayName("Cliente")</th>
                            <th>@Html.DisplayName("Sucursal")</th>
                            <th>@Html.DisplayName("Email")</th>
                            <th>@Html.DisplayName("Nombre")</th>
                            <th>@Html.DisplayName("Ap Paterno")</th>
                            <th>@Html.DisplayName("Ap Materno")</th>
                            <th>@Html.DisplayName("Tel Oficina")</th>
                            <th>@Html.DisplayName("Tel Celular")</th>
                            <th>@Html.DisplayName("Cargo")</th>
                            <th>Editar</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Contactos)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Sucursal.Cliente.Franquicia.NombreFranquicia)</td>
                                <td>@Html.DisplayFor(modelItem => item.Sucursal.Cliente.NombreEmpresa)</td>
                                <td>@Html.DisplayFor(modelItem => item.Sucursal.NombreSucursal)</td>
                                <td>@Html.DisplayFor(modelItem => item.Correo)</td>
                                <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                                <td>@Html.DisplayFor(modelItem => item.Apaterno)</td>
                                <td>@Html.DisplayFor(modelItem => item.Amaterno)</td>
                                <td>@Html.DisplayFor(modelItem => item.TelefonoOficina)</td>
                                <td>@Html.DisplayFor(modelItem => item.TelefonoCelular)</td>
                                <td>@Html.DisplayFor(modelItem => item.Cargo)</td>
                                <td><a href="@Url.Action("Editar", "Contactos", new { IdContacto = item.IdContacto })" class="btn btn-default"><span class='glyphicon glyphicon-edit'></span></a></td>
                                <td>
                                     <a href="@Url.Action("Eliminar", "Contactos", new { IdContacto = item.IdContacto })" class="btn btn-default" onclick="if(!confirm('Está a punto de eliminar este contacto.\n¿Desea continuar?.')) return false;"><span class='glyphicon glyphicon-trash'></span></a> 
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
			</div>
		</div>
    </article>
</section>
@Scripts.Render("~/bundles/custom/mantenedores/contactos/listado")
<script type="text/javascript">
    $(document).ready(function () {
        init();
    });
</script>