﻿@model MetricArts.JnJ.Mantenciones.Models.Mantenedores.Repuestos.RepuestosViewModel
@{
    ViewBag.Title = "Editar Repuesto";
}

<div class="row-fluid">
				<ol class="breadcrumb">
					<li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
					<li><a href="@Url.Action("Index", "Mantenedores")">Mantenedores</a></li>
					<li><a href="@Url.Action("Index", "Repuestos")">Sucursales</a></li>
					<li>Editar</li>
				</ol>
			</div>

			<section>
                
				<div class="row-fluid">
					<h3>Editar Repuesto</h3>
				</div>
                @if (TempData["Mensaje"] != null && !String.IsNullOrEmpty(TempData["Mensaje"].ToString()))
                {
                <div class="alert alert-warning alert-dismissible fadeOutMantenedor" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>@(TempData["Mensaje"])</strong>
                </div>
                }
                <br />
                <form action="@Url.Action("Editar", "Repuestos")" method="POST" class="form-horizontal">
                    @Html.HiddenFor(x => x.FORM.IdRepuesto)
				<div class="row-fluid">
						<div class="form-group">
							<label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.Codigo)</label>
							<div class="col-sm-6">
                                @Html.TextBoxFor(x => x.FORM.Codigo, new { @class = "form-control input-sm" })
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.Categoria)</label>
							<div class="col-sm-6">
                               @* <select id="FORM_IdSucursal" class="form-control input-sm">
                                    <option value="Requerido">Requerido</option>
                                    <option value="Recomendado">Recomendado</option>
                                </select>*@
                                @Html.DropDownListFor(x => x.FORM.Categoria, Model.Categorias, new { @class = "form-control input-sm" })
                                @*@Html.HiddenFor(x => x.FORM.Categoria)*@
							</div>
						</div>
                        
                        <div class="form-group">
							<label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.Cantidad)</label>
							<div class="col-sm-6">
                                @Html.TextBoxFor(x => x.FORM.Cantidad, new { @class = "form-control input-sm", @type = "number", @value = "1", @min = "1" })
							</div>
						</div>
                        <div class="form-group">
							<label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.Descripcion)</label>
							<div class="col-sm-6">
                                @Html.TextAreaFor(x => x.FORM.Descripcion, new { @class = "form-control", @rows = "3" })
							</div>
						</div>
                        								
				</div>
				<div class="row">
					<div class="col-md-6 col-md-offset-4">
						<input type="submit" class="btn btn-success pull-right" value="Guardar" />
                        <a href="@Url.Action("Index", "Repuestos")" class="btn btn-primary">Cancelar</a>
					</div>
				</div>
                </form>
			</section>
@Scripts.Render("~/bundles/custom/mantenedores/repuestos/editar")
<script type="text/javascript">
    $(document).ready(function () {
        init('@Url.Action("ObtenerClientes", "ServicioConsulta")',
            '@Url.Action("ObtenerSucursalesSinContactos", "ServicioConsulta")');
    });
</script>
