﻿@model MetricArts.JnJ.Mantenciones.Models.Accounts.Account.LocalPasswordModel

@*<h3>Change password</h3>*@

@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <div class="row-fluid">
        <div class="form-group">
		    <label class="col-sm-4 control-label">@Html.LabelFor(m => m.OldPassword)</label>
			<div class="col-sm-3">
                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control input-sm" })
			</div>
		</div>
        <div class="form-group">
		    <label class="col-sm-4 control-label">@Html.LabelFor(m => m.NewPassword)</label>
			<div class="col-sm-3">
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control input-sm" })
			</div>
		</div>
        <div class="form-group">
		    <label class="col-sm-4 control-label">@Html.LabelFor(m => m.ConfirmPassword)</label>
			<div class="col-sm-3">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control input-sm" })
			</div>
		</div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <a href="@Url.Action("Index", "Home")" class="btn btn-primary">Volver Inicio</a>
            <input type="submit" class="btn btn-success pull-right" value="Cambiar Contraseña" />
        </div>
    </div>
}
