﻿@using MetricArts.JnJ.Mantenciones.Models.Accounts.Account
<div class="row-fluid">
    <ol class="breadcrumb">
	    <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
		<li><a href="@Url.Action("UserMobileView", "Account")">Usuario</a></li>
	</ol>
</div>
<article>
    <div class="row-fluid">
	    <h3>Opciones de Usuario</h3>
	    <div class="bs-callout bs-callout-JJ" id="callout-help-text-accessibility">
		<legend>Información Personal</legend>
		<div class="row">
		    <div class="col-sm-8">
			    <span class="text-left"><strong>@LoginUtils.getCustomUser(User.Identity.Name).Nombre @LoginUtils.getCustomUser(User.Identity.Name).ApellidoPaterno</strong></span>
				<span class="text-left small">@LoginUtils.getCustomUser(User.Identity.Name).CorreoElectronico</span>
			</div>
		</div>
		</br>
		<legend>Idioma</legend>
		<div class="row banderas">
		    <div class="col-md-3 col-xs-3">
			    <img data-toggle="tooltip" data-placement="bottom" title="Español" lang="es" class="ImgFlag" src="@Url.Content("~/Images/Flags/Spain.png")"></img>
			</div>
			<div class="col-md-3 col-xs-3">
			    <img data-toggle="tooltip" data-placement="bottom" title="Português" lang="pt" class="ImgFlag " src="@Url.Content("~/Images/Flags/Brazil.png")"></img>
			</div>
			<div class="col-md-3 col-xs-3">
			    <img data-toggle="tooltip" data-placement="bottom" title="Français" lang="fr" class="ImgFlag" src="@Url.Content("~/Images/Flags/France.png")"></img>
			</div>
			<div class="col-md-3 col-xs-3">
			    <img data-toggle="tooltip" data-placement="bottom" title="English" lang="en" class="ImgFlag" src="@Url.Content("~/Images/Flags/United-Kingdom.png")"></img>
			</div>
		</div>
		    </br>
		    <div class="row">
		        
			        <div class="col-md-4 col-xs-4">
					    <button dir="@Url.Action("Edit", "Usuarios", new { IdUsuario = LoginUtils.getCustomUser(User.Identity.Name).IdUsuario })" data-toggle="tooltip" data-placement="bottom" title="Editar Datos" class="btn btn-warning btn-block">
						    <span class="glyphicon glyphicon-edit"></span>
						</button>                      
					</div>
                    <div class="col-md-4 col-xs-4">
					    <button dir="@Url.Action("Manage", "Account")" data-toggle="tooltip" data-placement="bottom" title="Cambiar Contraseña" class="btn btn-warning btn-block">
					        <span class="fa fa-lock"></span>
						</button>
					</div>
                    
			    
			    <div class="col-md-4 col-xs-4">
                                            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                                            {
                                                @Html.AntiForgeryToken()
												<button data-toggle="tooltip" data-placement="bottom" title="Cerrar sesión" class="btn btn-danger btn-block" onclick="javascript:document.getElementById('logoutForm').submit()">
													<span class="glyphicon glyphicon-log-out"></span>
												</button>
                                            }
											</div>
		    </div>
		
	    </div>
	</div>
</article>