﻿@{
    ViewBag.Title = "Correos";
}

<section>
				<div class="row-fluid">
					<ol class="breadcrumb">
						<li><a href="Index.html">Inicio</a></li>
						<li><a href="Reportes.html">Reportes</a></li>
						<li><a href="ReportesCorreos.html">Correos</a></li>
					</ol>
				</div>
				<article>
					<div class="row-fluid">
						<h3>Reporte de Correos</h3>
						<ul class="nav nav-tabs" role="tablist">
							<li role="tab" class="active"><a href="#Lista" aria-controls="Lista" role="tab" data-toggle="tab">Lista</a></li>
							<li role="tab"><a href="#Grafico" aria-controls="Grafico" role="Gráfico" data-toggle="tab">Gráfico</a></li>
						</ul>
					</div>
					<div class="tab-content">
						<div role="tab" class="tab-pane active" id="Lista">
							<div class="row-fluid">
								<div class="bs-callout bs-callout-JJ">
									<legend>Filtros</legend>
									<form class="form-horizontal">
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label class="col-sm-4 control-label">Desde</label>
													<div class="col-sm-7">

														<div class="input-group">
															<input type="text" class="form-control datepickershow" disabled="disabled"/>
															<span class="input-group-btn">
																<button class="btn btn-default dateButton" type="button">
																	<span class="glyphicon glyphicon-calendar"></span>
																</button>
															</span>
														</div>
													</div>
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label class="col-sm-4 control-label">Hasta</label>
													<div class="col-sm-7">
														<div class="input-group">
															<input type="text" class="form-control datepickershow" disabled="disabled"/>
															<span class="input-group-btn">
																<button class="btn btn-default dateButton" type="button">
																	<span class="glyphicon glyphicon-calendar"></span>
																</button>
															</span>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label class="col-sm-4 control-label">Tipo de Estados</label>
													<div class="col-sm-7">
														<select class="form-control input-sm">
															<option>Opción</option>
															<option>Opción</option>
															<option>Opción</option>
														</select>
													</div>
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<div class="col-md-7 col-md-offset-4">
														<button type="button" class="btn btn-JJ pull-right">
															Filtrar
														</button>
													</div>
												</div>	
											</div>
										</div>
									</form>
								</div>
							</div>
							</br>
							<div class="row-fluid">
								<div class="table-responsive">
									<table class="table table-striped table-condensed">
										<thead>
											<tr>
												<th>Cliente</th>
												<th>Sucursal</th>
												<th>Ingeniero</th>
												<th>Fecha</th>
												<th>Estado</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<th>Clínica Tabancura (Central)</th>
												<td>VITROS ECI (3354)</td>
												<td>Sergio Rojas</td>
												<td>01-01-2014</td>
												<td>Asignar dia para Mantención</td>
											</tr>
											<tr>
												<th>Laboratorios Clínicos Bionet (Hospital Clínico Universidad Mayor - Temuco)</th>
												<td>VITROS 250</td>
												<td>Cristian MacDonald</td>
												<td>13-01-2014</td>
												<td>Confirmado por Cliente</td>
											</tr>
											<tr>
												<th>Clínica Dávila (Banco de Sangre)</th>
												<td>AUTOVUE INNOVA (1585)</td>
												<td>Alamiro Campos</td>
												<td>15-01-2014</td>
												<td>Confirmado por Cliente</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<div role="tab" class="tab-pane active" id="Grafico">
							<div class="row-fluid">
								<div id="MonthPag"></div>
							</div>
							<div class="row-fluid">
								<div class="bs-panel">
									<canvas id="chart1"/>
								</div>
							</div>
						</div>
					</div>
				</article>
			</section>
