﻿@{
    ViewBag.Title = "Index";
}

<section>
				<div class="row-fluid">
					<ol class="breadcrumb">
						<li><a href="@Url.Action("Index", "Reportes")">Inicio</a></li>
						<li><a href="Reportes.html">Reportes</a></li>
					</ol>
				</div>
				<div class="row-fluid">
					<button dir="@Url.Action("Mantenciones", "Reportes")" data-toggle="tooltip" data-placement="bottom" title="Estado de Mantenciones" class="shortcut-button"> 
						<span class="glyphicon glyphicon-briefcase"></span>
						<span class="title">Mantenciones</span>
					</button>
					<button dir="@Url.Action("Correos", "Reportes")" data-toggle="tooltip" data-placement="bottom" title="Estado de Correos" class="shortcut-button">
						<span class="glyphicon glyphicon-envelope"></span>
						<span class="title">Correos</span>
					</button>
				</div>
			</section>