﻿@{
    ViewBag.Title = "Mantenciones";
}

<section>
				<div class="row-fluid">
					<ol class="breadcrumb">
						<li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
						<li><a href="@Url.Action("Mantenciones", "Reportes")">Reportes</a></li>
						@*<li><a href="ReportesMantenciones.html">Mantenciones</a></li>*@
					</ol>
				</div>
				<article>
					<div class="row-fluid">
						<h3>Reporte de Mantenciones</h3>
						@*<ul class="nav nav-tabs" role="tablist">
							<li role="tab" class="active"><a href="#Resumen" aria-controls="Resumen" role="tab" data-toggle="tab">Resumen</a></li>
							<li role="tab"><a href="#Grafico" aria-controls="Grafico" role="tab" data-toggle="tab">Gráfico</a></li>
						</ul>*@
					</div>
					@*<div class="tab-content">
						<div role="tab" class="tab-pane active" id="Resumen">*@
							
								<div class="bs-callout bs-callout-JJ">
									@*<legend>Resumen</legend>*@

                                    <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="dashboard_graph">

                            <div class="row x_title">
                                <div class="col-md-6">
                                    <h3>Actividad Anual Mantenciones <small>(Año 2016)</small></h3>
                                </div>
                                <div class="col-md-6">
                                    @*<div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                                        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                                        <span>December 30, 2014 - January 28, 2015</span> <b class="caret"></b>
                                    </div>*@
                                </div>
                            </div>

                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <div id="placeholder33" style="height: 260px; display: none" class="demo-placeholder"></div>
                                <div style="width: 100%;">
                                    <div id="canvas_dahs" class="demo-placeholder" style="width: 100%; height:270px;"></div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12 bg-white">
                                <div class="x_title">
                                    <h2>Mayor Actividad Ingenieros</h2>
                                    <div class="clearfix"></div>
                                </div>

                                <div class="col-md-12 col-sm-12 col-xs-6">
                                    <div>
                                        <p>Engelbert Narr</p>
                                        <div class="">
                                            <div class="progress progress_sm" style="width: 76%;">
                                                <div class="progress-bar bg-red" role="progressbar" data-transitiongoal="80"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <p>Piero Zavala</p>
                                        <div class="">
                                            <div class="progress progress_sm" style="width: 76%;">
                                                <div class="progress-bar bg-red" role="progressbar" data-transitiongoal="60"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-6">
                                    <div>
                                        <p>Sergio Rojas</p>
                                        <div class="">
                                            <div class="progress progress_sm" style="width: 76%;">
                                                <div class="progress-bar bg-red" role="progressbar" data-transitiongoal="40"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <p>Carlos Pacheco</p>
                                        <div class="">
                                            <div class="progress progress_sm" style="width: 76%;">
                                                <div class="progress-bar bg-red" role="progressbar" data-transitiongoal="50"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="clearfix"></div>
                        </div>
                    </div>

                </div>
                <br />
                                    <br />
									<div class="row">

                                      <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="x_panel tile fixed_height_320">
                            <div class="x_title">
                                <h2>Equipos más atendidos</h2>
                                
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <h4>Equipos por Modelo</h4>
                                <div class="widget_summary">
                                    <div class="w_left w_25">
                                        <span>VITROS 250</span>
                                    </div>
                                    <div class="w_center w_55">
                                        <div class="progress">
                                            <div class="progress-bar bg-red" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 66%;">
                                                <span class="sr-only">60% Complete</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="w_right w_20">
                                        <span>123k</span>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>

                                <div class="widget_summary">
                                    <div class="w_left w_25">
                                        <span>VITROS FUSION</span>
                                    </div>
                                    <div class="w_center w_55">
                                        <div class="progress">
                                            <div class="progress-bar bg-red" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 45%;">
                                                <span class="sr-only">60% Complete</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="w_right w_20">
                                        <span>53k</span>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="widget_summary">
                                    <div class="w_left w_25">
                                        <span>VITROS 3600</span>
                                    </div>
                                    <div class="w_center w_55">
                                        <div class="progress">
                                            <div class="progress-bar bg-red" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 25%;">
                                                <span class="sr-only">60% Complete</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="w_right w_20">
                                        <span>23k</span>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="widget_summary">
                                    <div class="w_left w_25">
                                        <span>VITROS ECI</span>
                                    </div>
                                    <div class="w_center w_55">
                                        <div class="progress">
                                            <div class="progress-bar bg-red" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 5%;">
                                                <span class="sr-only">60% Complete</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="w_right w_20">
                                        <span>3k</span>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="widget_summary">
                                    <div class="w_left w_25">
                                        <span>AUTOVUE INNOVA</span>
                                    </div>
                                    <div class="w_center w_55">
                                        <div class="progress">
                                            <div class="progress-bar bg-red" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 2%;">
                                                <span class="sr-only">60% Complete</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="w_right w_20">
                                        <span>1k</span>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>

                            </div>
                        </div>
                    </div>  


                                        <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="x_panel tile fixed_height_320 overflow_hidden">
                            <div class="x_title">
                                <h2>Estado de Mantenciones</h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">

                                <table class="" style="width:100%">
                                    <tr>
                                        <th style="width:37%;">
                                            <p></p>
                                        </th>
                                        <th>
                                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                                <p class="">Estados</p>
                                            </div>
                                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                                <p class="">Atención</p>
                                            </div>
                                        </th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <canvas id="canvas1" height="140" width="140" style="margin: 15px 10px 10px 0"></canvas>
                                        </td>
                                        <td>
                                            <table class="tile_info">
                                                <tr>
                                                    <td>
                                                        <p><i class="fa fa-square aero"></i>Propuestas </p>
                                                    </td>
                                                    <td>30%</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p><i class="fa fa-square yellow"></i>Vigentes </p>
                                                    </td>
                                                    <td>10%</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p><i class="fa fa-square blue"></i>En Curso </p>
                                                    </td>
                                                    <td>20%</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p><i class="fa fa-square red"></i>Detenidas </p>
                                                    </td>
                                                    <td>15%</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p><i class="fa fa-square green"></i>Finalizadas </p>
                                                    </td>
                                                    
                                                    <td>30%</td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>

                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                            <div class="x_panel tile fixed_height_320">
                                                <div class="x_title">
                                                    <h2>Rendimiento Anual</h2>
                                                    <div class="clearfix"></div>
                                                </div>
                                                <div class="x_content">
                                                    <div class="dashboard-widget-content">
                                                        @*<ul class="quick-list">
                                                            <li><i class="fa fa-calendar-o"></i><a href="#">Vigentes</a>
                                                            </li>
                                                            <li><i class="fa fa-bars"></i><a href="#">Propuestas</a>
                                                            </li>
                                                            <li><i class="fa fa-bar-chart"></i><a href="#">En Curso</a> </li>
                                                            <li><i class="fa fa-line-chart"></i><a href="#">Finalizadas</a>
                                                            </li>
                                                            <li><i class="fa fa-bar-chart"></i><a href="#">Detenidas</a> </li>
                                                            <li><i class="fa fa-line-chart"></i><a href="#">Repuestos</a>
                                                            </li>
                                                            <li><i class="fa fa-area-chart"></i><a href="#">Notificaciones</a>
                                                            </li>
                                                        </ul>*@

                                                        <div class="sidebar-widget">
                                                            <h4>Mantenciones Completadas</h4>
                                                            <canvas width="150" height="80" id="foo" class="" style="width: 250px; height: 140px;"></canvas>
                                                            <div class="goal-wrapper">
                                                                
                                                                <span id="gauge-text" class="gauge-value pull-left">0,00</span>
                                                                <span class="gauge-value pull-left">%</span>
                                                                <span id="goal-text" class="goal-value pull-right">100,00%</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
									</div>


                                    <div class="row">

                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="x_panel">
                                    <div class="x_title">
                                        <h2>Mantenciones por País <small>Latinoamérica</small></h2>
                                        
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">
                                        <div class="dashboard-widget-content">
                                            <div class="col-md-4 hidden-small">
                                                <h2 class="line_30">5.7k Mantenciones realizadas desde 5 países</h2>

                                                <table class="countries_list">
                                                    <tbody>
                                                        <tr>
                                                            <td>Chile</td>
                                                            <td>165</td>
                                                            <td class="fs15 fw700 text-right">33%</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Mexico</td>
                                                            <td>120</td>
                                                            <td class="fs15 fw700 text-right">27%</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Brasil</td>
                                                            <td>106</td>
                                                            <td class="fs15 fw700 text-right">16%</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Colombia</td>
                                                            <td>89</td>
                                                            <td class="fs15 fw700 text-right">11%</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Perú</td>
                                                            <td>60</td>
                                                            <td class="fs15 fw700 text-right">10%</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div id="world-map-gdp" class="col-md-8 col-sm-12 col-xs-12" style="height:230px;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

								</div>
							
                            
							<br />
						@*</div>
						
					</div>*@
				</article>
			</section>
@Styles.Render("~/Content/External/Reporting/css")
@Styles.Render("~/Content/External/Reporting/maps/css")
@Scripts.Render("~/bundles/external/reporting")
<script>
    $(document).ready(function () {
        // [17, 74, 6, 39, 20, 85, 7]
        //[82, 23, 66, 9, 99, 6, 2]
        var data1 = [[gd(2012, 1, 1), 17], [gd(2012, 1, 2), 74], [gd(2012, 1, 3), 6], [gd(2012, 1, 4), 39], [gd(2012, 1, 5), 20], [gd(2012, 1, 6), 85], [gd(2012, 1, 7), 7]];

        var data2 = [[gd(2012, 1, 1), 82], [gd(2012, 1, 2), 23], [gd(2012, 1, 3), 66], [gd(2012, 1, 4), 9], [gd(2012, 1, 5), 119], [gd(2012, 1, 6), 6], [gd(2012, 1, 7), 9]];
        $("#canvas_dahs").length && $.plot($("#canvas_dahs"), [
            data1, data2
        ], {
            series: {
                lines: {
                    show: false,
                    fill: true
                },
                splines: {
                    show: true,
                    tension: 0.4,
                    lineWidth: 1,
                    fill: 0.4
                },
                points: {
                    radius: 0,
                    show: true
                },
                shadowSize: 2
            },
            grid: {
                verticalLines: true,
                hoverable: true,
                clickable: true,
                tickColor: "#d5d5d5",
                borderWidth: 1,
                color: '#fff'
            },
            colors: ["#fe331b", "#7f0f01"],
            xaxis: {
                tickColor: "rgba(51, 51, 51, 0.06)",
                mode: "time",
                tickSize: [1, "day"],
                //tickLength: 10,
                axisLabel: "Date",
                axisLabelUseCanvas: true,
                axisLabelFontSizePixels: 12,
                axisLabelFontFamily: 'Verdana, Arial',
                axisLabelPadding: 10
                //mode: "time", timeformat: "%m/%d/%y", minTickSize: [1, "day"]
            },
            yaxis: {
                ticks: 8,
                tickColor: "rgba(51, 51, 51, 0.06)",
            },
            tooltip: false
        });

        function gd(year, month, day) {
            return new Date(year, month - 1, day).getTime();
        }
    });
    </script>
<script>
    $(function () {
        $('#world-map-gdp').vectorMap({
            map: 'world_mill_en',
            backgroundColor: 'transparent',
            zoomOnScroll: false,
            series: {
                regions: [{
                    values: gdpData,
                    scale: ['#FFD2CC', '#B41601'],
                    normalizeFunction: 'polynomial'
                }]
            },
            onRegionTipShow: function (e, el, code) {
                el.html(el.html() + ' (GDP - ' + gdpData[code] + ')');
            }
        });
    });
    </script>
<!-- dashbord linegraph -->
    <script>
        var doughnutData = [
            {
                value: 30,
                color: "#455C73"
            },
            {
                value: 30,
                color: "#9B59B6"
            },
            {
                value: 60,
                color: "#BDC3C7"
            },
            {
                value: 100,
                color: "#26B99A"
            },
            {
                value: 120,
                color: "#3498DB"
            }
        ];
        var myDoughnut = new Chart(document.getElementById("canvas1").getContext("2d")).Doughnut(doughnutData);
    </script>
<script>
    NProgress.done();
    </script>