﻿@model MetricArts.JnJ.Mantenciones.Models.Mantenedores.Usuarios.UsuariosViewModel
@{
    ViewBag.Title = "Crear Nuevo Usuario";
}
			<section>
				<div class="row-fluid">
					<h3>Crear Nuevo Usuario</h3>
				</div>
                @if (TempData["Mensaje"] != null && !String.IsNullOrEmpty(TempData["Mensaje"].ToString()))
                {
                <div class="alert alert-warning alert-dismissible fadeOutMantenedor" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>@(TempData["Mensaje"])</strong>
                </div>
                }
                <br />
                <form action="@Url.Action("AddNew", "Usuarios")" method="POST" class="form-horizontal">
				<div class="row-fluid">
                        
						<div class="form-group">
							<label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.Nombres)</label>
							<div class="col-sm-6">
                                @Html.TextBoxFor(x => x.FORM.Nombres, new { @class = "form-control input-sm", @placeholder = "Nombres del usuario" })
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.ApellidoPaterno)</label>
							<div class="col-sm-6">
                                @Html.TextBoxFor(x => x.FORM.ApellidoPaterno, new { @class = "form-control input-sm", @placeholder = "Apellido Paterno del usuario" })
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.ApellidoMaterno)</label>
							<div class="col-sm-6">
                                @Html.TextBoxFor(x => x.FORM.ApellidoMaterno, new { @class = "form-control input-sm", @placeholder = "Opcional" })
							</div>
						</div>
                    <div class="form-group">
							<label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.TelefonoContacto)</label>
							<div class="col-sm-6">
                                @Html.TextBoxFor(x => x.FORM.TelefonoContacto, new { @class = "form-control input-sm", @placeholder = "Ej: 22225555 (Opcional)" })
							</div>
						</div>
                    <div class="form-group">
							<label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.Email)</label>
							<div class="col-sm-6">
                                @Html.TextBoxFor(x => x.FORM.Email, new { @class = "form-control input-sm", @placeholder = "Ej: jsmith@gmail.com" })
							</div>
						</div>
                    <hr />
                    <div class="form-group">
							<label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.NombreUsuario)</label>
							<div class="col-sm-6">
                                @Html.TextBoxFor(x => x.FORM.NombreUsuario, new { @class = "form-control input-sm", @placeholder = "jsmith" })
							</div>
						</div>
                    <div class="form-group">
							<label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.Password)</label>
							<div class="col-sm-6">
                                @Html.TextBoxFor(x => x.FORM.Password, new { @class = "form-control input-sm", @type = "password" })
							</div>
						</div>
                    <div class="form-group">
							<label class="col-sm-4 control-label">Repita Contraseña</label>
							<div class="col-sm-6">
                                <input type="password" class="form-control input-sm" />
							</div>
						</div>
                    <div class="form-group">
						    <label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.RolesSeleccionados)</label>
							<div class="col-sm-6">
                                @for (int i = 0; i < Model.FORM.RolesSeleccionados.Count(); i++)
                                {
                                   <div class="checkbox"><label>@Html.CheckBoxFor(m => m.FORM.RolesSeleccionados[i].Checked, new { @id = Model.FORM.RolesSeleccionados[i].IdRolSeleccionado}) @Model.FORM.RolesSeleccionados[i].RolSeleccionado </label></div>
                                   @Html.HiddenFor(m => m.FORM.RolesSeleccionados[i].IdRolSeleccionado)
                                   @Html.HiddenFor(m => m.FORM.RolesSeleccionados[i].RolSeleccionado)
                                }
							</div>
						</div>	
                    <br />						
				</div>
				<div class="row">
					<div class="col-md-6 col-md-offset-4">
						<input type="submit" class="btn btn-success pull-right" value="Guardar" />
                        <a href="@Url.Action("Index", "Usuarios")" class="btn btn-primary">Cancelar</a>
					</div>
                    
				</div>
                </form>
			</section>
@Scripts.Render("~/bundles/custom/mantenedores/usuarios/crear")
<script type="text/javascript">
    $(document).ready(function () {
        init();
    });
</script>