﻿@model MetricArts.JnJ.Mantenciones.Models.Mantenedores.Usuarios.UsuariosViewModel
@{
    ViewBag.Title = "Editar Usuario - Datos Personales";
}
			<section>
                
				<div class="row-fluid">
					<h3>Editar Datos Personales</h3>
				</div>
                @if (TempData["Mensaje"] != null && !String.IsNullOrEmpty(TempData["Mensaje"].ToString()))
                {
                <div class="alert alert-warning alert-dismissible fadeOutMantenedor" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>@(TempData["Mensaje"])</strong>
                </div>
                }
                <br />
                <form action="@Url.Action("Edit", "Usuarios")" method="POST" class="form-horizontal">
                    @Html.HiddenFor(x => x.FORM.IdUsuario)
                    @Html.HiddenFor(m => m.FORM.NombreUsuario, @Model.FORM.NombreUsuario)
				<div class="row-fluid">
						<div class="form-group">
							<label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.Nombres)</label>
							<div class="col-sm-6">
                                @Html.TextBoxFor(x => x.FORM.Nombres, new { @class = "form-control input-sm", @placeholder = "Nombres del usuario" })
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.ApellidoPaterno)</label>
							<div class="col-sm-6">
                                @Html.TextBoxFor(x => x.FORM.ApellidoPaterno, new { @class = "form-control input-sm", @placeholder = "Apellido Paterno del usuario" })
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.ApellidoMaterno)</label>
							<div class="col-sm-6">
                                @Html.TextBoxFor(x => x.FORM.ApellidoMaterno, new { @class = "form-control input-sm", @placeholder = "Opcional" })
							</div>
						</div>
                    <div class="form-group">
							<label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.TelefonoContacto)</label>
							<div class="col-sm-6">
                                @Html.TextBoxFor(x => x.FORM.TelefonoContacto, new { @class = "form-control input-sm", @placeholder = "Ej: 22225555 (Opcional)" })
							</div>
						</div>
                    <div class="form-group">
							<label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.Email)</label>
							<div class="col-sm-6">
                                @Html.TextBoxFor(x => x.FORM.Email, new { @class = "form-control input-sm", @placeholder = "Ej: jsmith@gmail.com" })
							</div>
						</div>									
				</div>
				<div class="row">
					<div class="col-md-6 col-md-offset-4">

                        
                        <input type="submit" class="btn btn-success pull-right" value="Guardar" />
                        
                        @if (User.Identity.Name.ToLower() != Model.FORM.NombreUsuario.ToLower())
                        {
                        <a href="@Url.Action("Index", "Usuarios")" class="btn btn-primary">Cancelar</a>
                        }
                        else {
                            <a href="@Url.Action("Index", "Home")" class="btn btn-primary">Volver Inicio</a>
                        }
					</div>
				</div>
                </form>
			</section>
@Scripts.Render("~/bundles/custom/mantenedores/usuarios/editar")
<script type="text/javascript">
    $(document).ready(function () {
        init();
    });
</script>