﻿@model MetricArts.JnJ.Mantenciones.Models.Mantenedores.Usuarios.UsuariosViewModel
@{
    ViewBag.Title = "Editar Usuario - Sistema";
}
			<section>
                
				<div class="row-fluid">
					<h3>Editar Datos de Usuario</h3>
				</div>
                @if (TempData["Mensaje"] != null && !String.IsNullOrEmpty(TempData["Mensaje"].ToString()))
                {
                <div class="alert alert-warning alert-dismissible fadeOutMantenedor" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>@(TempData["Mensaje"])</strong>
                </div>
                }
                <br />
                <form action="@Url.Action("EditUser", "Usuarios")" method="POST" class="form-horizontal">
                    @Html.HiddenFor(x => x.FORM.IdUsuario)
				<div class="row-fluid">
						<div class="form-group">
							<label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.NombreUsuario)</label>
							<div class="col-sm-4">
                                <label class="control-label">@Model.FORM.NombreUsuario</label>
                                 @Html.HiddenFor(m => m.FORM.NombreUsuario, @Model.FORM.NombreUsuario)
							</div>
						</div>
                    <div class="form-group">
						    <label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.RolesSeleccionados)</label>
							<div class="col-sm-4">
                                @for (int i = 0; i < Model.FORM.RolesSeleccionados.Count(); i++)
                                {
                                   <div class="checkbox"><label>@Html.CheckBoxFor(m => m.FORM.RolesSeleccionados[i].Checked, new { @id = Model.FORM.RolesSeleccionados[i].IdRolSeleccionado}) @Model.FORM.RolesSeleccionados[i].RolSeleccionado </label></div>
                                   @Html.HiddenFor(m => m.FORM.RolesSeleccionados[i].IdRolSeleccionado)
                                   @Html.HiddenFor(m => m.FORM.RolesSeleccionados[i].RolSeleccionado)
                                }
							</div>
						</div>
                    					
				</div>
				<div class="row">
					<div class="col-md-4 col-md-offset-4">
						<input type="submit" class="btn btn-success" value="Guardar" />
                        <a href="@Url.Action("Index", "Usuarios")" class="btn btn-primary  pull-right">Cancelar</a>
					</div>
				</div>
                </form>
			</section>
@Scripts.Render("~/bundles/custom/mantenedores/usuarios/editarUsuario")
<script type="text/javascript">
    $(document).ready(function () {
        init();
    });
</script>
