﻿@model MetricArts.JnJ.Mantenciones.Models.Mantenedores.Usuarios.UsuariosViewModel
@using MetricArts.JnJ.Mantenciones.Models.Accounts
@{
    ViewBag.Title = "Listado Usuarios";
}
<section class="container-fluid">
    <article>
        <article>
		    <div class="bs-callout bs-callout-JJ">
                <legend>Usuarios</legend>
                <a href="@Url.Action("AddNew", "Usuarios")" data-toggle="confirmation"  title="Nuevo Usuario" class="btn btn-success">
                    <span class='glyphicon glyphicon-plus-sign'></span> Crear Nuevo
                </a>

                <button class="btn btn-primary" type="button">
			        Cantidad Total <span class="badge">@(Model.Users.Count()-1)</span>
				</button>
		    </div>
		</article>

        <br />
        @if (TempData["Mensaje"] != null && !String.IsNullOrEmpty(TempData["Mensaje"].ToString()))
        {
            <div class="alert alert-success alert-dismissible fadeOutMantenedor" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>@(TempData["Mensaje"])</strong>
            </div>
        }
        <br />
        <div class="row">
            <div class="table-responsive">                            
                <table id="listado-mantenedor" class="table table-striped table-condensed display">
                    <thead>
                        <tr>
                            <th>@Html.DisplayName("Nombre Usuario")</th>
                            <th>@Html.DisplayName("Nombres")</th>
                            <th>@Html.DisplayName("Ap Paterno")</th>
                            <th>@Html.DisplayName("Ap Materno")</th>
                            <th>@Html.DisplayName("Teléfono")</th>
                            <th>@Html.DisplayName("Email")</th>
                            <th>@Html.DisplayName("Fecha Creación")</th>
                            <th>Editar Datos Personales</th>
                            <th>Editar Roles</th>
                            <th>Eliminar</th>
                            <th>Resetear Contraseña   <i class="glyphicon glyphicon-question-sign" data-toggle='tooltip' data-placement='bottom' title="Para mayor información, hazme click"></i></th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Users)
                        {
                            if (item.NombreUsuario.ToLower().Equals(User.Identity.Name.ToLower())) { continue; }
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.NombreUsuario)</td>
                                <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                                <td>@Html.DisplayFor(modelItem => item.ApellidoPaterno)</td>
                                <td>@Html.DisplayFor(modelItem => item.ApellidoMaterno)</td>
                                <td>@Html.DisplayFor(modelItem => item.Telefono)</td>
                                <td>@Html.DisplayFor(modelItem => item.CorreoElectronico)</td>
                                <td>@Html.DisplayFor(modelItem => item.FechaCreacion)</td>
                                <td><a href="@Url.Action("Edit", "Usuarios", new { IdUsuario = item.IdUsuario })" class="btn btn-default"><span class='glyphicon glyphicon-edit'></span></a></td>
                                <td><a href="@Url.Action("EditUser", "Usuarios", new { IdUsuario = item.IdUsuario })" class="btn btn-default"><span class='fa fa-user'></span></a></td>
                                <td>
                                    @if (!Model.tieneMantenciones(item))
                                    {
                                    <a href="@Url.Action("Delete", "Usuarios", new { IdUsuario = item.IdUsuario })" class="btn btn-default" onclick="if(!confirm('Está a punto de eliminar a este usuario.\n¿Desea continuar?.')) return false;"><span class='glyphicon glyphicon-trash'></span></a>
                                    }
                                </td>
                                <td><a href="@Url.Action("ResetPassword", "Usuarios", new { IdUsuario = item.IdUsuario })" class="btn btn-default" onclick="if(!confirm('Está a punto de resetear la contraseña a este usuario.\n¿Desea continuar?.')) return false;"><span class='glyphicon glyphicon-repeat'></span></a> </td>
                                
                            </tr>
                        }
                    </tbody>
                </table>
			</div>
		</div>
    </article>
</section>

<div class="modal fade" id="ModalInfoResetPassword" tabindex="-1" role="dialog" aria-labelledby="">
    <div class="modal-dialog" role="document">
	    <div class="modal-content">
		    <div class="modal-header">
			    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				    <span aria-hidden="true">&times;</span>
				</button>
			    <h4 class="modal-title" id="myModalLabel">Resetear Contraseña</h4>
			</div>
			<div id="contenido-modal" class="modal-body">
                <p class="text-info">
                    Al hacer click a uno de estos botones, la contraseña del usuario volverá a un valor por defecto.
                </p>
                <p class="text-info">
                    Una vez realizada la acción de Reseteo, debe notificar al usuario el cambio de contraseña, indicándole que debe ingresar nuevamente al sistema.
                </p>
                <p class="text-info">
                    El valor por defecto es : (nombre de usuario)@@ocd
                </p>
                
			</div>
			<div class="modal-footer">
			    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
			</div>
		</div>
	</div>
</div>

@Scripts.Render("~/bundles/custom/mantenedores/usuarios/listado")
<script type="text/javascript">
    $(document).ready(function () {
        init();
    });
</script>
