﻿@model MetricArts.JnJ.Mantenciones.Models.Planificaciones.CrearPlanificacionViewModel
@{
    ViewBag.Title = "Crear Nueva Planificación";
}

<div class="row-fluid">
				<ol class="breadcrumb">
					<li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
					<li><a href="@Url.Action("Index", "GestionMantenciones")">Gestión Mantenciones</a></li>
					<li><a href="@Url.Action("CrearNueva", "Planificaciones")">Nueva Planificación</a></li>
				</ol>
			</div>

			<section>
				
                <div id="crear-planificacion-wz">
            <ul class="nav nav-tabs">
					  	<li><a href="#wizard-tab1" data-toggle="tab">Defina Sucursal</a></li>
						<li><a href="#wizard-tab2" data-toggle="tab">Datos de Planificación</a></li>
						<li><a href="#wizard-tab3" data-toggle="tab">Defina Equipos y Fechas</a></li>
		    </ul>
            <div id="bar" class="progress progress-info progress-striped">
                <div class="progress-bar progress-bar-danger active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
            </div>

            @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
            {
                <div class="tab-content">
                    <div class="tab-pane" id="wizard-tab1">
                        <div class="form-group">
						    <label class="col-sm-2 control-label">@Html.LabelFor(x => x.formSeleccionNegocio.IdFranquicia)</label>
							<div class="col-sm-6">
                                @Html.DropDownListFor(x => x.formSeleccionNegocio.IdFranquicia, Model.FranquiciasSelect, "Seleccione una opción", new { @class = "form-control input-sm" })
							</div>
                            <div class="col-xs-3 col-sm-3 col-md-3">
                                @Html.ValidationMessageFor(x => x.formSeleccionNegocio.IdFranquicia)
                            </div>
						</div>
                        <div class="form-group">
						    <label class="col-sm-2 control-label">@Html.LabelFor(x => x.formSeleccionNegocio.IdCliente)</label>
							<div class="col-sm-6">
                                <select id="FORM_IdCliente" class="form-control input-sm" disabled="disabled"></select>
							</div>
                             <div class="col-xs-3 col-sm-3 col-md-3">
                                @Html.ValidationMessageFor(x => x.formSeleccionNegocio.IdCliente)
                             </div>
						</div>
                        <div class="form-group">
						    <label class="col-sm-2 control-label">@Html.LabelFor(x => x.formSeleccionNegocio.IdSucursal)</label>
							<div class="col-sm-6">
                                <select id="FORM_IdSucursal" class="form-control input-sm" disabled="disabled"></select>
							</div>
                            @Html.HiddenFor(m => m.FORM.IdSucursal1)
                            <div class="col-xs-3 col-sm-3 col-md-3">
                                @Html.ValidationMessageFor(x => x.formSeleccionNegocio.IdSucursal)
                            </div>
						</div>
                    </div>
                    <div class="tab-pane" id="wizard-tab2">
                        <ol class="breadcrumb">
                            <li class="active"><span id="franquicia-bd1"></span></li>
                            <li class="active"><span id="cliente-bd1"></span></li>
                            <li class="active"><span id="sucursal-bd1"></span></li>
                        </ol>
					    <div class="form-group">
						    <label class="col-sm-2 control-label">@Html.LabelFor(x => x.FORM.Nombre)</label>
							<div class="col-sm-6">
							   
                                @Html.TextBoxFor(x => x.FORM.Nombre, new { @class = "form-control input-sm", @placeholder = "Nombre" })		
							</div>
                            <div class="col-xs-3 col-sm-3 col-md-3">
                                @Html.ValidationMessageFor(x => x.FORM.Nombre)
                            </div>
						</div>
                        <div class="form-group">
						    <label class="col-sm-2 control-label">@Html.LabelFor(x => x.FORM.Anio)</label>
							<div class="col-sm-6">
                                @Html.DropDownListFor(x => x.FORM.Anio, Model.Anios, "Seleccione un año", new { @class = "form-control input-sm" })
							</div>
						</div>
                        <div class="form-group">
						    <label class="col-sm-2 control-label">@Html.LabelFor(x => x.FORM.Descripcion)</label>
							<div class="col-sm-6">
                                @Html.TextAreaFor(x => x.FORM.Descripcion, new { @class = "form-control", @rows = "3", @placeholder = "Opcional" })	
							</div>
                            <div class="col-xs-3 col-sm-3 col-md-3">
                                @Html.ValidationMessageFor(x => x.FORM.Descripcion)
                            </div>
						</div>
                        <div class="form-group">
						    <label class="col-sm-2 control-label">Modo de planificación</label>
							<div class="col-sm-6">
                                @Html.RadioButtonFor(x => x.ModoPlanAutomatico, false, new { @id = "0" }) Manual
                                @Html.RadioButtonFor(x => x.ModoPlanAutomatico, true, new { @id = "1" }) Automático
							</div>
						</div>
					</div>
                    
                    <div class="tab-pane" id="wizard-tab3">
                        <ol class="breadcrumb">
                            <li class="active"><span id="franquicia-bd2"></span></li>
                            <li class="active"><span id="cliente-bd2"></span></li>
                            <li class="active"><span id="sucursal-bd2"></span></li>
                        </ol>
                        <div class="row-fluid">
									<table class="table table-striped">
										<thead>
											<tr>
												<th>Considerar</th>
												<th>Equipos</th>
												<th>Períodos Propuestos para Mantención <span id="tipo-contrato"></span></th>
											</tr>
										</thead>
										<tbody id="equipos-sucursal">
										</tbody>
									</table>
                                    @Html.HiddenFor(m => m.FORM.equiposSeleccionadosStr)
                                    @Html.HiddenFor(m => m.FORM.equiposSeleccionadosPeriodosStr)
                                    @Html.HiddenFor(m => m.FORM.modoPlan)
								</div>   
					    </div>
                    <ul class="pager wizard">
							<li class="previous"><a href="javascript:;">Anterior</a></li>
						  	<li class="next"><a href="javascript:;">Siguiente</a></li>
						  	<li class="next finish" style="display:none;">
						  		@*<a class="btn btn-success" href="@Url.Action("PlanificacionesPropuestas", "Planificaciones")">Guardar</a>*@
                                  <button id="fin-crear-planificacion" type="button" value="Guardar" class="btn btn-success">
                                      <span class="glyphicon glyphicon-floppy-disk"></span> Guardar
                                  </button>
						  	</li>
					</ul>
                </div>
            }
      </div>
			</section>
@Scripts.Render("~/bundles/custom/planificaciones-manuales")
<script type="text/javascript">
    $(document).ready(function () {
        init('@Url.Action("ObtenerClientes", "ServicioConsulta")',
            '@Url.Action("ObtenerSucursales", "ServicioConsulta")',
            '@Url.Action("ObtenerEquiposSucursal", "ServicioConsulta")'
            );
    });
</script>