﻿@model MetricArts.JnJ.Mantenciones.Models.Planificaciones.PlanificacionesAutomaticas.PlanificacionesAutomaticasViewModel
@{
    ViewBag.Title = "Planificaciones Automáticas";
}

@*@using PagedList.Mvc;*@
@using MvcContrib;
@using MvcContrib.UI.Grid;

<section class="container-fluid">
				<article>
					<div class="row">
						<ol class="breadcrumb">
							<li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
							<li><a href="@Url.Action("Index", "GestionMantenciones")">Gestión Mantenciones</a></li>
							<li><a href="@Url.Action("Automaticas", "GestionMantenciones")">Planificaciones Automáticas</a></li>
						</ol>
					</div>
                   
					<div id="plan-automaticas-wz">
						<div class="row">
							<ul class="nav nav-tabs">
							  	<li><a href="#wizard-tab1" data-toggle="tab">Seleccione las Planificaciones</a></li>
								<li><a href="#wizard-tab2" data-toggle="tab">Fecha de envío</a></li>
								<li><a href="#wizard-tab3" data-toggle="tab">Resumen</a></li>
							</ul>
							<div id="bar" class="progress progress-info progress-striped">
		                      	<div class="progress-bar progress-bar-danger active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
		                    </div>
						</div>
                        <form action="@Url.Action("GenerarAutomatica", "Planificaciones")" method="POST">	
	                    <div class="tab-content">
					    	<div class="tab-pane" id="wizard-tab1">
								<div class="row">
                                    <legend>Franquicias (País: <strong>@Model.PaisDeUsuario.Nombre</strong>)</legend>
                                    <br />
								</div>
                                
                                <div class="row">
                                    <div class="form-group">
						            <label class="col-sm-2 control-label">Año de Planificación</label>
							        <div class="col-sm-6">   
                                        @Html.DropDownListFor(x => x.FORM.anio, Model.Anios, "Seleccione el año de planificación", new { @class = "form-control input-sm" })
                                        
                                        @*<select class="form-control input-sm">
                                            <option>Seleccione el año de planificación</option>
                                            <option>2016</option>
                                            <option>2017</option>
                                            <option>2018</option>
                                            <option>2019</option>
                                            <option>2020</option>
                                            <option>2021</option>
                                        </select>*@	
							        </div>
						        </div>
                                </div>
                                <br />
                                <br />
								<div class="row">
									<div class="pull-left">
										<div class="btn-group" role="group">
											<button type="button" class="btn btn-warning UnSelect">
												<span class="glyphicon glyphicon-minus-sign"></span>
											</button>
											<button type="button" class="btn btn-info SelectAll">
												<span class="glyphicon glyphicon-ok-sign"></span>
											</button>
										</div>
									</div>
								</div>
								</br>
								<div class="row list-plan">
									<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
										@{int i = 0; }
                                        @foreach (var franquicia in Model.Franquicias)
                                        {
                                            <div class="panel panel-default">
											<div class="panel-heading" role="tab" id="heading@(i++)">
												<div class="row">
													<input id="@(i)" class="col-md-1 select-all-clientes" type="checkbox" />
													<h4 class="col-md-11 panel-title collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse@(i)" aria-expanded="true" aria-controls="collapseOne">
														<span>@franquicia.NombreFranquicia</span>
													</h4>									
												</div>
											</div>
											<div id="collapse@(i)" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading@(i)">
												<div class="panel-body">
													<div class="table-responsive col-md-11 col-md-offset-1">
														<table class="table table-striped table-condensed">
															<thead>
																<tr>
                                                                    @*<th></th>*@
																	<th></th>
																	<th>Cliente</th>
																	@*<th>Planificación</th>*@
																</tr>
															</thead>
															<tbody>
                                                                @for (int j = 0; j < franquicia.Clientes.Count; j++)
                                                                {
                                                                    
                                                                @* @for (int j = 0; j < Model.ClientesSeleccionados.Where(x => x.ClienteSeleccionado.Franquicia.IdFranquicia == franquicia.IdFranquicia).Count(); j++)
                                                                {
                                                                *@<tr>
                                                                    @*<td>@j</td>*@
																	<th class="clientes-checkbox">@Html.CheckBoxFor(m => m.FORM.ClientesSeleccionados[j].Checked, new { @id = franquicia.Clientes[j].IdCliente })
                                                                        @Html.HiddenFor(m => m.FORM.ClientesSeleccionados[j].IdClienteSeleccionado)
                                                                        @Html.HiddenFor(m => m.FORM.ClientesSeleccionados[j].ClienteSeleccionado)
																	</th>
																	<td>@franquicia.Clientes[j].NombreEmpresa</td>
																	@*<td>@DateTime.Now.AddYears(1).Year @Html.HiddenFor(m => m.FORM.anio)</td>*@    
                                                                </tr>
                                                                }
															</tbody>
														</table>
													</div>
												</div>
											</div>
										</div>
                                          
                                        }
									</div>
								</div>
							</div>

                         
							<div class="tab-pane" id="wizard-tab2">
								@*<div class="row">
									<h3>Seleccione fecha de envío</h3>
								</div>*@
								<div class="row">
									<i>Seleccione la fecha en que desea que se envíen las planificaciones a los clientes:</i>
								</div>
							        </br>
								<div class="row">
									@*<div id="fecha-envio-automatico" class="datepicker"></div>*@
                                    <div class="col-sm-3 input-group">
                                        @Html.TextBoxFor(m => m.FORM.fechaEnvio, new { @class = "form-control datepickershow-automaticas", @readonly = "readonly" })
                                        @*<input type="text" class="form-control datepickershow" disabled="disabled"/>*@
                                        <span class="input-group-btn">
										<button class="btn btn-default dateButton111" type="button">
										    <span class="glyphicon glyphicon-calendar"></span>
										</button>
									    </span>
									</div>
								</div>
						    </div>
						    <div class="tab-pane" id="wizard-tab3">
								<div class="row">
									@*<h3>Listado Resumen</h3>*@
									<div class="bs-callout bs-callout-JJ">
										<legend>Resumen</legend>
										@*<form class="form-horizontal">*@
											<div class="row">
												<div class="col-md-6">
													@*<div class="form-group">
														<label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.IdFranquicia)</label>
														<div class="col-sm-7">
															@Html.DropDownListFor(x => x.FORM.IdFranquicia, Model.FranquiciasSelect, "Seleccione una opción", new { @class = "form-control input-sm" })
														</div>
													</div>*@
                                                    <div class="col-sm-10 btn btn-default btn-lg">
                                                        <span class="glyphicon glyphicon-user"></span> Cantidad Total Clientes: <span id="cantidad-clientes-out"></span>
                                                    </div>

                                                    @*<div class="form-group">
                                                        <label class="col-sm-4 control-label" for="cantidad-total-clientes">Cantidad Total de Clientes:</label>
                                                        <div id="cantidad-total-clientes" class="col-sm-7">
                                                            20
                                                        </div>
                                                    </div>*@
												</div>
												<div class="col-md-6">
													@*<div class="form-group">
														<label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.IdCliente)</label>
														<div class="col-sm-7">
															<select id="FORM_IdCliente" class="form-control input-sm" disabled="disabled"></select>
														</div>
													</div>*@
                                                    @*<label class="col-sm-4 control-label" for="fecha-envio-automatico">Fecha de Envío:</label>
                                                        <div id="fecha-envio-automatico" class="col-sm-7">
                                                            23-12-2015
                                                        </div>*@
                                                    <div class="col-sm-10 btn btn-default btn-lg">
                                                        <span class="glyphicon glyphicon-calendar"></span> Fecha de Envío: <span id="fecha-envio-automatico-out">23-12-2015</span>
                                                    </div>
												</div>
											</div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="col-sm-10 btn btn-default btn-lg">
                                                        <span class="glyphicon glyphicon-home"></span> Cantidad Total Sucursales: <span id="cantidad-sucursales-out"></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="col-sm-10 btn btn-default btn-lg">
                                                        <span class="glyphicon glyphicon-cog"></span> Cantidad Total Equipos: <span id="cantidad-equipos-out"></span>
                                                    </div>
                                                </div>
                                            </div>
											@*<div class="row">
												<div class="col-md-6 col-md-offset-6">
													<div class="form-group">
														<div class="col-md-7 col-md-offset-4">
															<button type="button" class="btn btn-JJ pull-right">
																Filtrar
															</button>
														</div>
													</div>	
												</div>
											</div>*@
										@*</form>*@
									</div>
								</div>
                                <hr />
								<div class="row">
                                    
									<div class="table-responsive">
										
                                        
                                        <table id="tabla-clientes-seleccionados" class="table table-striped table-condensed display">
											@*<thead>
												<tr>
													<th>Unidad de Negocio</th>
													<th>Cliente</th>
													<th>Planificación</th>
													<th>PDF</th>
												</tr>
											</thead>
											<tbody id="clientes-seleccionados">
                                               
											</tbody>*@
										</table>

									</div>
								</div>
						    </div>
						    <div class="row">
						    	<ul class="pager wizard">
									<li class="previous"><a href="javascript:;">Anterior</a></li>
								  	<li class="next"><a href="javascript:;">Siguiente</a></li>
								  	<li class="next finish" style="display:none;">
								  		@*<a class="btn btn-success" href="javascript:;">Guardar</a>*@
                                        <input type="submit" value="Guardar" class="btn btn-success"/>
								  	</li>
								</ul>
						    </div>
                             
						</div>
                        </form>
					</div>
                    
				</article>
			</section>

            <div class="modal fade" id="ModalPDF" tabindex="-1" role="dialog" aria-labelledby="ModalPDF">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="ModalEdit">Previsualización PDF a enviar</h4>
					</div>
					<div id="PDF-preview" class="modal-body">
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
					</div>
				</div>
			</div>
		</div>

@Scripts.Render("~/bundles/custom/planificaciones-automaticas")
<script type="text/javascript">
    $(document).ready(function () {
        init('@Url.Action("ObtenerClientesSeleccionados", "Planificaciones")'
            , '@Url.Action("PDFPreview", "Planificaciones")'
            , '@Url.Action("ObtenerFranquicias", "ServicioConsulta")'
            , '@Url.Action("ObtenerClientes", "ServicioConsulta")');
    });
</script>


