﻿@model MetricArts.JnJ.Mantenciones.Models.Planificaciones.PlanificacionesAutomaticas.PDFPreviewViewModel
<table align="center" width="90%" border="0">
    <tr style="">
        <td align="left">
        </td>
        <td align="right">
            <img alt="" src="http://s23.postimg.org/b0rmyqml7/ocd_Logo.png" style="height:45px; width:150px" />
        </td>
    </tr>
</table>
<br />
<p align="center">
    <strong>PLAN DE MANTENCIONES PREVENTIVAS</strong>
</p>
<p align="center">
    <strong>@Model.sucursal.Cliente.NombreEmpresa - @Model.sucursal.NombreSucursal</strong>
</p>
<table align="center" width="100%" border="0">
    <tr>
        <td>
            <p align="justify">
                Estimado(a) @Model.sucursal.Cliente.NombreEmpresa, Sucursal @Model.sucursal.NombreSucursal,
            </p>
            <p align="justify">
                &nbsp;&nbsp;&nbsp;Junto con saludarlo cordialmente, compartimos con Ud, el <strong>PLAN
                    DE MANTENCIONES PREVENTIVAS @Model.year</strong>, para los equipos de Johnson &amp;
                Johnson.
            </p>
            <br />
            <p align="justify">
                &nbsp;&nbsp;&nbsp;A partir de este año, hemos activado el sistema MP EXPERIENCE
                (MPXP) que nos permitirá agendar y cumplir de forma eficiente y oportuna con lo
                definido en el presente Plan. El sistema MP EXPERIENCE considera opciones de agendamiento
                que permite la interacción con el cliente en el proceso de calendarización. En este
                comunicado se le entregará el Plan de Mantenimiento Preventivo <b>propuesto</b>
                para el período @Model.year, el cual será confirmado 30 días antes mediante una comunicación
                vía correo electrónico. En dicha oportunidad el cliente deberá confirmar la fecha
                y hora dispuestas o proponer una nueva cita para la realización de la Mantención
                Preventiva de modo de tener mejor comunicación y trazabilidad durante este importante
                proceso.
            </p>
            <br />
            <p align="justify">
                &nbsp;&nbsp;&nbsp;Recordamos también, que los tiempos estimados para las Mantenciones
                Preventivas son de 6 a 8 horas, período en el cual el equipo debe estar disponible
                única y exclusivamente para esta actividad, ya que no es posible realizar este trabajo
                de forma parcializada.
            </p>
            <br />
            <p align="justify">
                &nbsp;&nbsp;&nbsp;Aprovechamos también esta oportunidad para informar a nuestros
                clientes que poseen equipos de OCD&trade;, que nos encontramos desarrollando un
                plan de mejora que nos permita optimizar el rendimiento de los equipos el que considera,
                por recomendación del fabricante, realizar sólo una Mantención Preventiva al año.
                Con el propósito de entregar un mejor servicio y mantener un comportamiento estable
                y eficiente de los equipos el número de mantenciones preventivas a realizar durante
                el período @Model.year podría verse afectado dependiendo de las condiciones particulares
                de cada cliente.
            </p>
            <p>
                A continuación se presenta el plan de Mantenimiento Preventivo para el año @Model.year,
                para sus equipos:
            </p>
        </td>
    </tr>
</table>
<p align="center">
    <strong>PLAN DE MANTENIMIENTO PREVENTIVO</strong>
</p>
<p align="center">
    <strong>CALENDARIO DE MANTENCION ANUAL</strong>
</p>
<br />
<div id="tablasequipos">
    <table align="center" width="100%" border="1">
        <thead>
            <tr>
                <th align="center">Equipo</th>
                <th align="center">Tipo Contrato</th>
                <th align="center">Periodos Propuestos</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model.equiposPlanificados)
            {
            <tr>
                <td><strong>@item.equipo.Nombre (Cod.: @item.equipo.CodigoEquipo)</strong></td>
                <td align="center">@item.equipo.TipoContrato.TipoContrato1</td>
                <td>
                    <ul>
                        @foreach(var periodo in item.periodosMantencion)
                        {
                        <li><strong>@periodo</strong></li>
                        }
                    </ul>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
<br />
<table align="center" width="100%" border="0">
    <tr>
        <td>
            <p align="justify">
                &nbsp;&nbsp;&nbsp;El detalle del trabajo realizado en la Mantención Preventiva será
                entregado, junto con la Orden de Servicio, una vez terminado el procedimiento.
            </p>
            <br />
            <p align="justify">
                &nbsp;&nbsp;&nbsp;Agradecemos su atención y esperamos esta nueva plataforma permita
                entregarle un mejor servicio y tener una comunicación más fluida.
            </p>
            <br />
            <p>
                &nbsp;&nbsp;&nbsp;En caso de cualquier inquietud puede comunicarse con Marión Ram&iacute;rez
                al correo mramir87@its.jnj.com
            </p>
            <br />
            <p>
                Se despide atentamente,
            </p>
            <br />
            Equipment Division </p>
            <br />
            <p align="left">
                Johnson & Johnson Medical
            </p>
            <br />
            <br />
            <br />
            <p>
                <img alt="Ortho Clinical Diagnostics" src="http://s23.postimg.org/b0rmyqml7/ocd_Logo.png" style="height:45px; width:150px" />
            </p>
        </td>
    </tr>
</table>
