﻿@model MetricArts.JnJ.Mantenciones.Models.Planificaciones.VerMantencionesPropuestasViewModel
@{
    ViewBag.Title = "Planificaciones Propuestas";
}
@using MvcContrib.UI.Grid;
<section>
    <div class="row-fluid">
	    <ol class="breadcrumb">
		    <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
			<li><a href="@Url.Action("Index", "GestionMantenciones")">Gestión Mantenciones</a></li>
			<li><a href="@Url.Action("PlanificacionesPropuestas", "GestionMantenciones")">Planificaciones Propuestas</a></li>
		</ol>
	</div>
    <article>
					<div class="row-fluid">
						<h3>Planificaciones Propuestas</h3>
                        <br />

                       
                <article>
                    <div class="content-fluid">
						<div class="row">
							<div class="col-md-12">
                                <button id="todas-boton" class="btn btn-primary" type="button">
									Total Mantenciones sin fechas confirmadas <span class="badge">@Model.CantMantTotal</span>
								</button>
							</div>
						</div>
					</div>
                </article>

                        <br />
						<!-- Nav tabs -->
						<ul id="Tab" class="nav nav-tabs" role="tablist">
							<li role="presentation">
								<a href="#Buscador" aria-controls="Buscador" role="tab">Listado Completo</a>
							</li>
							<li role="presentation">
								<a href="#Lista" id="calendario-tab" aria-controls="Lista" role="tab">Listado por Fechas</a>
							</li>
                            <li role="presentation">
								<a href="#ListadoInactivos" id="listado-inactivos" aria-controls="ListadoInactivos" role="tab">Listado Mantenciones Canceladas (@Model.MantencionesInactivas.Count())</a>
							</li>
						</ul>


                        <div class="tab-content">
						    <div role="tabpanel" class="tab-pane fade active" id="Buscador">
                                <article>
					                <div class="row-fluid">
                                        @*<div class="bs-callout bs-callout-JJ" id="callout-help-text-accessibility">
							<legend>Filtros</legend>
							<form class="form-horizontal">
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label class="col-sm-4 control-label">@Html.LabelFor(x => x.formSeleccionNegocio.IdCliente)</label>
											<div class="col-sm-8">
												@Html.DropDownListFor(x => x.formSeleccionNegocio.IdCliente, Model.Clientes, "Seleccione un cliente", new { @class = "form-control input-sm" })
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label class="col-sm-4 control-label">@Html.LabelFor(x => x.formSeleccionNegocio.IdSucursal)</label>
											<div class="col-sm-8">
                                                <select id="FORM_IdSucursal" class="form-control input-sm" disabled="disabled"></select>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label class="col-sm-4 control-label">Nombre Planificación</label>
											<div class="col-sm-8">
												<input class="form-control input-sm" type="text" placeholder="Nombre">		
											</div>
										</div>
									</div>
									<div class="col-md-6">
                                        <div class="form-group">
											
									</div>
								</div>
								<div class="row">
									<div class="col-md-6 col-md-offset-6">
										<button type="button" class="btn btn-JJ btn-sm pull-right">Filtrar</button>
									</div>
								</div>
							</form>
						</div>*@
<br />
                                        <br />
                        <div class="table-responsive">                            
                <table id="listado-propuestas" class="table table-striped table-condensed display">
                    <thead>
                        <tr>
                            <th>@Html.DisplayName("Periodo Propuesto")</th>
                            <th>@Html.DisplayName("Equipo")</th>
                            <th>@Html.DisplayName("Contrato")</th>
                            <th>@Html.DisplayName("Código")</th>
                            <th>@Html.DisplayName("Año")</th>
                            <th>@Html.DisplayName("Cliente")</th>
                            <th>@Html.DisplayName("Sucursal")</th>
                            <th>@Html.DisplayName("Ingeniero asignado")</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.MantencionesTotal)
                        {
                            <tr>
                                <td>@((item.MesPeriodo.ToString().Length > 1 ? item.MesPeriodo.ToString() : "0" + item.MesPeriodo) + "-" + item.Planificacion.Ano)</td>
                                <td>@Html.DisplayFor(modelItem => item.Equipo.Nombre)</td>
                                <td>@Html.DisplayFor(modelItem => item.Equipo.TipoContrato.TipoContrato1)</td>
                                <td>@Html.DisplayFor(modelItem => item.Equipo.CodigoEquipo)</td>
                                <td>@Html.DisplayFor(modelItem => item.Planificacion.Ano)</td>
                                <td>@Html.DisplayFor(modelItem => item.Equipo.Sucursal.Cliente.NombreEmpresa)</td>
                                <td>@Html.DisplayFor(modelItem => item.Equipo.Sucursal.NombreSucursal)</td>
                                <td>@item.Ingeniero.Usuario.Nombre @item.Ingeniero.Usuario.ApellidoPaterno</td>
                                
                            </tr>
                        }
                    </tbody>
                </table>
			</div>

					                </div>
                                </article>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="Lista">
                                <br />
                                <input id="fecha-seleccionada" type="hidden" value="@(DateTime.Now.ToString("MM-yyyy"))" />
                               
								<article>
					            <div class="row-fluid">
						            <div id="paginador-propuestas"></div>
						            </br>
                                    <div class="row-fluid" id="mantenciones-tabla">
                                    @{Html.Grid(Model.Mantenciones).Columns(col =>
                                    {
                                        col.For(x => x.Equipo.Nombre).Named("Equipo");
                                        col.For(x => x.Equipo.TipoContrato.TipoContrato1).Named("Equipo");
                                        col.For(x => x.Equipo.CodigoEquipo).Named("Código");
                                        col.For(x => x.Planificacion.Ano).Named("Año");
                                        col.For(x => x.Equipo.Sucursal.Cliente.NombreEmpresa).Named("Cliente");
                                        col.For(x => x.Equipo.Sucursal.NombreSucursal).Named("Sucursal");
                                        col.For(x => x.Ingeniero.Usuario.Nombre + " " + x.Ingeniero.Usuario.ApellidoPaterno).Named("Ingeniero asignado");
                                        col.For(x => "<button class='btn btn-default' type='button' onclick='reasignarFecha(\"" + x.IdMantencion + "\");'><span class='glyphicon glyphicon-th'></span></button>").Encode(false).Named("Reasignar Periodo Propuesto");
                                        col.For(x => "<button class='btn btn-default' type='button' onclick='darDeBaja(\"" + x.IdMantencion + "\");'><span class='glyphicon glyphicon-remove'></span></button>").Encode(false).Named("Cancelar Mantención");
                                        }).Empty("No existen mantenciones para el periodo seleccionado").Attributes(@class => "table table-striped").Render();}
                                    </div>     
                                </div>
				                </article>
							</div>
                            <div role="tabpanel" class="tab-pane fade" id="ListadoInactivos">
								
                                <article>
					                <div class="row-fluid">
                                        <br />
                                        <br />
                        <div class="table-responsive">                            
                <table id="listado-vigentes-inactivos" class="table table-striped table-condensed display">
                    <thead>
                        <tr>
                            <th>@Html.DisplayName("Periodo Propuesto")</th>
                            <th>@Html.DisplayName("Equipo")</th>
                            <th>@Html.DisplayName("Contrato")</th>
                            <th>@Html.DisplayName("Código")</th>
                            <th>@Html.DisplayName("Año")</th>
                            <th>@Html.DisplayName("Cliente")</th>
                            <th>@Html.DisplayName("Sucursal")</th>
                            <th>@Html.DisplayName("Ingeniero asignado")</th>
                            <th>@Html.DisplayName("Habilitar Mantención")</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.MantencionesInactivas)
                        {
                            <tr>
                                <td>@((item.MesPeriodo.ToString().Length > 1 ? item.MesPeriodo.ToString() : "0" + item.MesPeriodo) + "-" + item.Planificacion.Ano)</td>
                                <td>@Html.DisplayFor(modelItem => item.Equipo.Nombre)</td>
                                <td>@Html.DisplayFor(modelItem => item.Equipo.TipoContrato.TipoContrato1)</td>
                                <td>@Html.DisplayFor(modelItem => item.Equipo.CodigoEquipo)</td>
                                <td>@Html.DisplayFor(modelItem => item.Planificacion.Ano)</td>
                                <td>@Html.DisplayFor(modelItem => item.Equipo.Sucursal.Cliente.NombreEmpresa)</td>
                                <td>@Html.DisplayFor(modelItem => item.Equipo.Sucursal.NombreSucursal)</td>
                                <td>@item.Ingeniero.Usuario.Nombre @item.Ingeniero.Usuario.ApellidoPaterno</td>
                                <td><button class="btn btn-default" type="button" onclick="habilitarMantencion('@item.IdMantencion');"><span class="glyphicon glyphicon-ok"></span></button></td>
                            </tr>
                        }
                    </tbody>
                </table>
			</div>
					                </div>
                                </article>

							</div>
                        </div>



						
					</div>
				</article>
                
</section>

<div class="modal fade" id="ModalFecha-vigentes" tabindex="-1" role="dialog" aria-labelledby="ModalIngTitle">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="ModalFechaTitle">Seleccione una fecha</h4>
					</div>
					<div class="modal-body">
						<div class="container-fluid">
							<div class="row">
								<i>Seleccione la nueva fecha que se le asignará la mantención :</i>
							</div>
							<div class="row">
								<input id="fecha-visita" type="text" class="form-control datepickershow-propuestas" value="" readonly="readonly"/>
                                <input id="mantencion-id" type="hidden" value="" />
                                <span class="input-group-btn">
		                            <button class="btn btn-default dateButtonPropuestas" type="button">
			                            <span class="glyphicon glyphicon-calendar"></span>
			                        </button>
		                        </span>
							</div>
						</div>					
					</div>
					<div class="modal-footer">
						<button id="cerrar-modal-fecha" type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
						<button id="reasignar-fecha-submit" type="button" class="btn btn-primary">Guardar Cambios</button>
					</div>
				</div>
			</div>
		</div>

<style>
    .dp-item-con-mantenciones
    {
        background-color: #006dcc!important;
        color: #fff!important;
    }
    .datepicker{z-index:1151 !important;}
</style>
@Scripts.Render("~/bundles/custom/planificaciones/propuestas")
<script type="text/javascript">
    $(document).ready(function () {
        init('@Url.Action("ObtenerPropuestasPorPeriodo", "Planificaciones")',
            '@Url.Action("ObtenerFechasMantencion", "ServicioConsulta")',
            '@Url.Action("ObtenerMantencion", "ServicioConsulta")',
            '@Url.Action("PropuestasReasignacionFecha", "Planificaciones")',
            '@Url.Action("InactivarMantencion", "Mantenciones")',
            '@Url.Action("HabilitarMantencion", "Mantenciones")');
    });
</script>