﻿@model MetricArts.JnJ.Mantenciones.Models.Planificaciones.VerMantencionesVigentesViewModel
@{
    ViewBag.Title = "Mantenciones Vigentes";
}

@using MvcContrib.UI.Grid;

<section>
    <div class="row-fluid">
	    <ol class="breadcrumb">
		    <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
			<li><a href="@Url.Action("Index", "GestionMantenciones")">Gestión Mantenciones</a></li>
			<li><a href="@Url.Action("PlanificacionesVigentes", "GestionMantenciones")">Mantenciones Vigentes</a></li>
		</ol>
	</div>
                <article>
					<div class="row-fluid">
                        <h3>Mantenciones Vigentes</h3>
                        <br />

                       
                <article>
                    <div class="content-fluid">
						<div class="row">
							<div class="col-md-12">
                                <button id="todas-boton" class="btn btn-warning" type="button">
									Total Mantenciones <span class="badge">@Model.CantTotal</span>
								</button>
							</div>
						</div>
					</div>
                </article>
                         <br />
						<!-- Nav tabs -->
						<ul id="Tab" class="nav nav-tabs" role="tablist">
							<li role="presentation">
								<a href="#Lista" aria-controls="Lista" role="tab">Listado por Fechas</a>
							</li>
							<li role="presentation">
								<a href="#Calendario" id="calendario-tab" aria-controls="Calendario" role="tab">Ver en Calendario</a>
							</li>
                            <li role="presentation">
								<a href="#Listado" id="listado-completo" aria-controls="Listado" role="tab">Listado Completo Activos</a>
							</li>
                            <li role="presentation">
								<a href="#ListadoInactivos" id="listado-inactivos" aria-controls="ListadoInactivos" role="tab">Listado Mantenciones Canceladas (@Model.MantencionesInactivas.Count())</a>
							</li>
						</ul>

						<!-- Tab panes -->
						
						<div class="tab-content">
							<div role="tabpanel" class="tab-pane fade active" id="Lista">

                                <article>
					<div class="row-fluid">
						@*<h3>Planificaciones Vigentes</h3>*@
						<div class="bs-callout bs-callout-JJ" id="callout-help-text-accessibility">
							<legend>Filtros</legend>
							<form action="@Url.Action("PlanificacionesVigentes", "Planificaciones")" method="POST" class="form-horizontal">
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.IdCliente)</label>
											<div class="col-sm-8">
												@Html.DropDownListFor(x => x.FORM.IdCliente, Model.Clientes, "Todos los Clientes", new { @class = "form-control input-sm" })
											</div>
										</div>
                                        
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.IdSucursal)</label>
											<div class="col-sm-8">
                                                <select id="FORM_IdSucursal" name="FORM.IdSucursal" class="form-control input-sm" disabled="disabled"></select>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.anioPlanificacion)</label>
											<div class="col-sm-8">
                                                @Html.DropDownListFor(x => x.FORM.anioPlanificacion, Model.AniosPlanificacion, "Año Actual", new { @class = "form-control input-sm" })
											</div>
										</div>
                                        @Html.HiddenFor(m => m.anioPlanificacion, new { @id = "anio-seleccionado" })
                                        @Html.HiddenFor(m => m.fechaSeleccion, new { @id = "fecha-seleccionada" })
                                        @Html.HiddenFor(m => m.FORM.fechaSelected, new { @id = "fecha-seleccionada-post" })
									</div>
                                    <div class="col-md-6">
										<div class="form-group">
											<label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.IdIngeniero)</label>
											<div class="col-sm-8">
                                                @Html.DropDownListFor(x => x.FORM.IdIngeniero, Model.Ingenieros, "Todos los Ingenieros", new { @class = "form-control input-sm" })
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6 col-md-offset-6">
										<button type="submit" class="btn btn-JJ btn-sm pull-right">Filtrar</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</article>
								<div class="row-fluid" id="paginador-vigentes"></div>
								</br>
								<div class="row-fluid" id="mantenciones-tabla">
                                @{Html.Grid(Model.Mantenciones).Columns(col =>
                                {
                                    col.For(x => x.Equipo.Nombre).Named("Equipo").Attributes(nowrap => "nowrap");
                                    col.For(x => x.Equipo.CodigoEquipo).Named("Código").Attributes(nowrap => "nowrap");
                                    col.For(x => x.Planificacion.Ano).Named("Año").Attributes(@style => "font-weight: bold");
                                    col.For(x => x.Equipo.Sucursal.Cliente.NombreEmpresa).Named("Cliente").Attributes(nowrap => "nowrap");
                                    col.For(x => x.Equipo.Sucursal.NombreSucursal).Named("Sucursal").Attributes(nowrap => "nowrap");
                                    col.For(x => x.Ingeniero.Usuario.Nombre + " " + x.Ingeniero.Usuario.ApellidoPaterno).Named("Ingeniero asignado")
                                        .Attributes(x => new Dictionary<string, object>()
                                           {
                                                { "id", "ingeniero-asignado-" + x.Item.IdIngeniero }
                                           });
                                    col.For(x => (x.CuestionarioMantencions.Where(y => y.IdMantencion == x.IdMantencion && y.Cuestionario.TipoCuestionario.Codigo == 1).SingleOrDefault() != null ? x.CuestionarioMantencions.Where(y => y.IdMantencion == x.IdMantencion && y.Cuestionario.TipoCuestionario.Codigo == 1).SingleOrDefault().Cuestionario.Descripcion : "<i>No Asignado</i>")).Encode(false).Named("Checklist")
                                        .Attributes(x => new Dictionary<string, object>()
                                           {
                                                { "id", "checklist-asignado-" + x.Item.IdMantencion }
                                           });
                                    col.For(x => "<button id='"+ x.IdMantencion +"' class='btn btn-default btn-modal-trigger' type='button' onclick='reasignarIng(\""+ x.IdIngeniero +"\");'><span class='glyphicon glyphicon-link'></span></button>").Encode(false).Named("Reasignar ingeniero");
                                    col.For(x => "<button class='btn btn-default' type='button' onclick='reasignarFecha(\"" + x.IdMantencion + "\");'><span class='glyphicon glyphicon-th'></span></button>").Encode(false).Named("Reasignar fecha de visita");
                                    col.For(x => "<button class='btn btn-default' type='button' onclick='asignarChecklist(\"" + x.IdMantencion + "\");'><span class='glyphicon glyphicon-th'></span></button>").Encode(false).Named("Asignar Checklist");
                                    col.For(x => "<button class='btn btn-default' type='button' onclick='darDeBaja(\"" + x.IdMantencion + "\");'><span class='glyphicon glyphicon-remove'></span></button>").Encode(false).Named("Cancelar Mantención");
                                }).Empty("No existen mantenciones para la fecha seleccionada").Attributes(@class => "table table-striped").Render();}
								
                                </div>
							</div>
							<div role="tabpanel" class="tab-pane fade" id="Calendario">
								<div id='calendario-vigentes'></div>
							</div>
                            <div role="tabpanel" class="tab-pane fade" id="Listado">
								
                                <article>
					                <div class="row-fluid">
                                        <br />
                                        <br />
                        <div class="table-responsive">                            
                <table id="listado-vigentes" class="table table-striped table-condensed display">
                    <thead>
                        <tr>
                            <th>@Html.DisplayName("Fecha Mantención")</th>
                            <th>@Html.DisplayName("Equipo")</th>
                            <th>@Html.DisplayName("Contrato")</th>
                            <th>@Html.DisplayName("Código")</th>
                            <th>@Html.DisplayName("Año")</th>
                            <th>@Html.DisplayName("Cliente")</th>
                            <th>@Html.DisplayName("Sucursal")</th>
                            <th>@Html.DisplayName("Ingeniero asignado")</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.MantencionesTotal)
                        {
                            <tr>
                                <td>@(item.FechaConfirmacion.Value.ToString("dd-MM-yyyy"))</td>
                                <td>@Html.DisplayFor(modelItem => item.Equipo.Nombre)</td>
                                <td>@Html.DisplayFor(modelItem => item.Equipo.TipoContrato.TipoContrato1)</td>
                                <td>@Html.DisplayFor(modelItem => item.Equipo.CodigoEquipo)</td>
                                <td>@Html.DisplayFor(modelItem => item.Planificacion.Ano)</td>
                                <td>@Html.DisplayFor(modelItem => item.Equipo.Sucursal.Cliente.NombreEmpresa)</td>
                                <td>@Html.DisplayFor(modelItem => item.Equipo.Sucursal.NombreSucursal)</td>
                                <td>@item.Ingeniero.Usuario.Nombre @item.Ingeniero.Usuario.ApellidoPaterno</td>
                            </tr>
                        }
                    </tbody>
                </table>
			</div>
					                </div>
                                </article>
							</div>
                            <div role="tabpanel" class="tab-pane fade" id="ListadoInactivos">
								
                                <article>
					                <div class="row-fluid">
                                        <br />
                                        <br />
                        <div class="table-responsive">                            
                <table id="listado-vigentes-inactivos" class="table table-striped table-condensed display">
                    <thead>
                        <tr>
                            <th>@Html.DisplayName("Fecha Mantención")</th>
                            <th>@Html.DisplayName("Equipo")</th>
                            <th>@Html.DisplayName("Contrato")</th>
                            <th>@Html.DisplayName("Código")</th>
                            <th>@Html.DisplayName("Año")</th>
                            <th>@Html.DisplayName("Cliente")</th>
                            <th>@Html.DisplayName("Sucursal")</th>
                            <th>@Html.DisplayName("Ingeniero asignado")</th>
                            <th>@Html.DisplayName("Habilitar Mantención")</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.MantencionesInactivas)
                        {
                            <tr>
                                <td>@(item.FechaConfirmacion.Value.ToString("dd-MM-yyyy"))</td>
                                <td>@Html.DisplayFor(modelItem => item.Equipo.Nombre)</td>
                                <td>@Html.DisplayFor(modelItem => item.Equipo.TipoContrato.TipoContrato1)</td>
                                <td>@Html.DisplayFor(modelItem => item.Equipo.CodigoEquipo)</td>
                                <td>@Html.DisplayFor(modelItem => item.Planificacion.Ano)</td>
                                <td>@Html.DisplayFor(modelItem => item.Equipo.Sucursal.Cliente.NombreEmpresa)</td>
                                <td>@Html.DisplayFor(modelItem => item.Equipo.Sucursal.NombreSucursal)</td>
                                <td>@item.Ingeniero.Usuario.Nombre @item.Ingeniero.Usuario.ApellidoPaterno</td>
                                <td><button class="btn btn-default" type="button" onclick="habilitarMantencion('@item.IdMantencion');"><span class="glyphicon glyphicon-ok"></span></button></td>
                            </tr>
                        }
                    </tbody>
                </table>
			</div>
					                </div>
                                </article>

							</div>
						</div>
					</div>
				</article>
</section>

<div class="modal fade" id="ModalDet" tabindex="-1" role="dialog" aria-labelledby="ModalDet">
	<div class="modal-dialog modal-lg" role="document">
	    <div class="modal-content">
		    <div class="modal-header">
			    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			        <span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">Detalle Mantención <span id="fecha-mantencion"></span></h4>
			</div>
			<div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-6 control-label">
                            Equipo:
                        </label>
                        <div class="col-sm-6">
                            <strong><span id="equipo-detalle"></span></strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-6 control-label">
                            Código:
                        </label>
                        <div id="codigo-equipo-detalle" class="col-sm-6">
                            
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-6 control-label">
                            Tipo Contrato:
                        </label>
                        <div id="tipo-contrato-detalle" class="col-sm-6">
                            
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-6 control-label">
                            Ingeniero a cargo:
                        </label>
                        <div id="ingeniero-detalle" class="col-sm-6">
                            
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-6 control-label">
                            Cliente:
                        </label>
                        <div id="cliente-detalle" class="col-sm-6">
                            
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-6 control-label">
                            Sucursal:
                        </label>
                        <div id="sucursal-detalle" class="col-sm-6">
                            
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-6 control-label">
                            Estado:
                        </label>
                        <div id="estado-mantencion-detalle" class="col-sm-6">
                            
                        </div>
                    </div>
                </form>
			</div>					
			<div class="modal-footer">
			    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
			</div>
	    </div>
    </div>
</div>

<div class="modal fade" id="ModalIng-vigentes" tabindex="-1" role="dialog" aria-labelledby="ModalIngTitle">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="ModalIngTitle">Seleccione un Ingeniero</h4>
					</div>
					<div class="modal-body">
						<div class="container-fluid">
							<div class="row">
								<i>Seleccione el Ingeniero al cual se le asignará la mantención :</i>
							</div>
							<div class="row">
								<select id="ingenieros-reasignacion" class="form-control input-sm">
								</select>
							</div>
						</div>					
					</div>
					<div class="modal-footer">
						<button id="cerrar-modal" type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
						<button id="reasignar-ingeniero-submit" type="button" class="btn btn-primary">Guardar Cambios</button>
					</div>
				</div>
			</div>
		</div>

    <div class="modal fade" id="ModalFecha-vigentes" tabindex="-1" role="dialog" aria-labelledby="ModalIngTitle">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="ModalFechaTitle">Seleccione una fecha</h4>
					</div>
					<div class="modal-body">
						<div class="container-fluid">
							<div class="row">
								<i>Seleccione la nueva fecha que se le asignará la mantención :</i>
							</div>
							<div class="row">
								<input id="fecha-visita" type="text" class="form-control datepickershow" value="" readonly="readonly"/>
                                <input id="mantencion-id" type="hidden" value="" />
                                <span class="input-group-btn">
		                            <button class="btn btn-default dateButton" type="button">
			                            <span class="glyphicon glyphicon-calendar"></span>
			                        </button>
		                        </span>
							</div>
						</div>					
					</div>
					<div class="modal-footer">
						<button id="cerrar-modal-fecha" type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
						<button id="reasignar-fecha-submit" type="button" class="btn btn-primary">Guardar Cambios</button>
					</div>
				</div>
			</div>
		</div>
        
        <div class="modal fade" id="ModalChecklist-vigentes" tabindex="-1" role="dialog" aria-labelledby="ModalChecklistTitle">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="ModalChecklistTitle">Asignar nuevo Checklist a la Mantención</h4>
					</div>
					<div class="modal-body">
						<div class="container-fluid">
							
							<div class="row">
								<div class="form-group">
                                    <input id="mantencion-checklist-id" type="hidden" value="" />
						            <label class="col-sm-4 control-label">CheckList disponibles</label>
									<div class="col-sm-12">
									    <div class="input-group">
                                            <select id="checklist-asignacion" class="form-control input-sm">
								            </select>
										    <span class="input-group-btn">
										        <button id="PreviewChecklist" type="button" class="btn btn-sm btn-warning" data-toggle="tooltip" data-placement="bottom" title="Previsualizar Checklist">
											        <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
										        </button>
										    </span>
								        </div>
								    </div>
					            </div>
							</div>
						</div>					
					</div>
					<div class="modal-footer">
						<button id="cerrar-modal-checklist" type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
						<button id="asignar-checklist-submit" type="button" class="btn btn-primary">Guardar Cambios</button>
					</div>
				</div>
			</div>
		</div>
<style>
    .datepicker{z-index:1151 !important;}
</style>
@Scripts.Render("~/bundles/custom/mantenciones/vigentes")
<script type="text/javascript">
    $(document).ready(function () {
        init('@Url.Action("ObtenerMantencionesPorFecha", "Mantenciones")',
            '@Url.Action("ObtenerSucursales", "ServicioConsulta")',
            '@Url.Action("CalendarioJsonFeed", "Mantenciones")',
            '@Url.Action("ObtenerIngenieros", "ServicioConsulta")',
            '@Url.Action("VigentesReasignacionIngeniero", "Mantenciones")',
            '@Url.Action("ObtenerMantencion", "ServicioConsulta")',
            '@Url.Action("VigentesReasignacionFecha", "Mantenciones")',
            '@Url.Action("ObtenerChecklists", "ServicioConsulta")',
            '@Url.Action("VigentesAsignacionChecklist", "Mantenciones")',
            '@Url.Action("InactivarMantencion", "Mantenciones")',
            '@Url.Action("HabilitarMantencion", "Mantenciones")');
    });
</script>
