﻿@model MetricArts.JnJ.Mantenciones.Models.Mantenedores.Equipos.EquiposViewModel
@{
    ViewBag.Title = "Editar Franquicia";
}

<div class="row-fluid">
				<ol class="breadcrumb">
					<li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
					<li><a href="@Url.Action("Index", "Mantenedores")">Mantenedores</a></li>
					<li><a href="@Url.Action("Index", "Equipos")">Equipos</a></li>
					<li>Editar</li>
				</ol>
			</div>

			<section>
                
				<div class="row-fluid">
					<h3>Editar Equipo</h3>
				</div>
                @if (TempData["Mensaje"] != null && !String.IsNullOrEmpty(TempData["Mensaje"].ToString()))
                {
                <div class="alert alert-warning alert-dismissible fadeOutMantenedor" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>@(TempData["Mensaje"])</strong>
                </div>
                }
                <br />
                <form action="@Url.Action("Editar", "Equipos")" method="POST" class="form-horizontal">
                    @Html.HiddenFor(x => x.FORM.IdEquipo)
				<div class="row-fluid">
						<div class="form-group">
							<label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.Nombre)</label>
							<div class="col-sm-6">
                                @Html.TextBoxFor(x => x.FORM.Nombre, new { @class = "form-control input-sm" })
							</div>
						</div>

                        <div class="form-group">
							<label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.CodigoEquipo)</label>
							<div class="col-sm-6">
                                @Html.TextBoxFor(x => x.FORM.CodigoEquipo, new { @class = "form-control input-sm" })
							</div>
						</div>

                        <div class="form-group">
						    <label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.IdTipoContrato)</label>
						    <div class="col-sm-6">
							    @Html.DropDownListFor(x => x.FORM.IdTipoContrato, Model.TipoContratos, "Seleccione un tipo de contrato", new { @class = "form-control input-sm" })
							</div>
					    </div>

						<div class="form-group">
							<label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.Descripcion)</label>
							<div class="col-sm-6">
                                @Html.TextAreaFor(x => x.FORM.Descripcion, new { @class = "form-control", @rows = "3" })
							</div>
						</div>
                    
                        <div class="form-group">
							<label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.FechaInstalacion)</label>
							<div class="col-sm-6">
                                @Html.TextBoxFor(x => x.FORM.FechaInstalacion, new { @class = "form-control datepickershow-equipo", @readonly = "readonly" })
                                <span class="input-group-btn">
								        <button class="btn btn-default dateButtonEquipo" type="button">
								            <span class="glyphicon glyphicon-calendar"></span>
								        </button>
								    </span>
							</div>
						</div>
                        
                        <div class="form-group">
							<label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.FechaUltimaMantencion)</label>
							<div class="col-sm-6">
                                @Html.TextBoxFor(x => x.FORM.FechaUltimaMantencion, new { @class = "form-control datepickershow-equipo", @readonly = "readonly" })
                                <span class="input-group-btn">
								        <button class="btn btn-default dateButtonEquipo" type="button">
								            <span class="glyphicon glyphicon-calendar"></span>
								        </button>
								    </span>
							</div>
						</div>

                        <div class="form-group">
						<label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.IdIngeniero)</label>
						    <div class="col-sm-6">
							    @Html.DropDownListFor(x => x.FORM.IdIngeniero, Model.Ingenieros, "Seleccione un ingeniero", new { @class = "form-control input-sm" })
							</div>
						</div>

                        <div class="form-group">
						<label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.IdSucursal)</label>
						    <div class="col-sm-6">
							    @Html.DropDownListFor(x => x.FORM.IdSucursal, Model.Sucursales, "Seleccione una sucursal", new { @class = "form-control input-sm" })
							</div>
					    </div>
                        <div class="form-group">
						<label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.IdCuestionario)</label>
						    <div class="col-sm-6">
							    @Html.DropDownListFor(x => x.FORM.IdCuestionario, Model.Checklists, "Seleccione una Checklist", new { @class = "form-control input-sm" })
							</div>
					</div>
                    									
				</div>
				<div class="row">
					<div class="col-md-6 col-md-offset-4">
						<input type="submit" class="btn btn-success pull-right" value="Guardar" />
                        <a href="@Url.Action("Index", "Equipos")" class="btn btn-primary">Cancelar</a>
					</div>
				</div>
                </form>
			</section>
@Scripts.Render("~/bundles/custom/mantenedores/equipos/editar")
<script type="text/javascript">
    $(document).ready(function () {
        init();
    });
</script>