﻿@model MetricArts.JnJ.Mantenciones.Models.Mantenedores.Equipos.EquiposViewModel
@{
    ViewBag.Title = "Listado Equipos";
}
<section class="container-fluid">
    <article>
        <div class="row">
		    <ol class="breadcrumb">
			    <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
			    <li><a href="@Url.Action("Index", "Mantenedores")">Mantenedores</a></li>
				<li><a href="@Url.Action("Index", "Equipos")">Equipos</a></li>
			</ol>
		</div>

        <article>
		    <div class="bs-callout bs-callout-JJ">
                <legend>Equipos</legend>
                <a href="@Url.Action("CrearNuevo", "Equipos")" data-toggle="confirmation"  title="Nuevo Equipo" class="btn btn-success">
                    <span class='glyphicon glyphicon-plus-sign'></span> Crear Nuevo
                </a>

                <button class="btn btn-primary" type="button">
			        Cantidad Total <span class="badge">@Model.Equipos.Count()</span>
				</button>
		    </div>
		</article>

        <br />
        @if (TempData["Mensaje"] != null && !String.IsNullOrEmpty(TempData["Mensaje"].ToString()))
        {
            <div class="alert alert-success alert-dismissible fadeOutMantenedor" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>@(TempData["Mensaje"])</strong>
            </div>
        }
        <br />
        <div class="row">
            <div class="table-responsive">                            
                <table id="listado-mantenedor" class="table table-striped table-condensed display">
                    <thead>
                        <tr>
                            <th>@Html.DisplayName("Franquicia")</th>
                            <th>@Html.DisplayName("Cliente")</th>
                            <th>@Html.DisplayName("Sucursal")</th>
                            <th>@Html.DisplayName("Nombre")</th>
                            <th>@Html.DisplayName("Código (Número Serie)")</th>
                            <th>@Html.DisplayName("Contrato")</th>
                            @*<th>@Html.DisplayName("Descripción")</th>*@
                            <th>@Html.DisplayName("Ingeniero asignado")</th>
                            @*<th>@Html.DisplayName("Sucursal")</th>*@
                            <th>@Html.DisplayName("Checklist")</th>
                            <th>@Html.DisplayName("Fecha Instalación")</th>
                            <th>@Html.DisplayName("Fecha Última Mantención")</th>
                            <th>@Html.DisplayName("Fecha Creación")</th>
                            <th>@Html.DisplayName("Estado")</th>
                            <th>Editar</th>
                            <th>Inactivar/Desactivar</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Equipos)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Sucursal.Cliente.Franquicia.NombreFranquicia)</td>
                                <td>@Html.DisplayFor(modelItem => item.Sucursal.Cliente.NombreEmpresa)</td>
                                <td>@Html.DisplayFor(modelItem => item.Sucursal.NombreSucursal)</td>
                                <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                                <td>@Html.DisplayFor(modelItem => item.CodigoEquipo)</td>
                                <td>@Html.DisplayFor(modelItem => item.TipoContrato.TipoContrato1)</td>
                                @*<td>@Html.DisplayFor(modelItem => item.Descripcion)</td>*@
                                <td>@Html.DisplayFor(modelItem =>  item.Ingeniero.Usuario.ApellidoPaterno)</td>
                                @*<td>@Html.DisplayFor(modelItem => item.Sucursal.Cliente.Franquicia.NombreFranquicia + " - " + item.Sucursal.Cliente.NombreEmpresa + " - " + item.Sucursal.NombreSucursal)</td>*@
                                <td>@Html.DisplayFor(modelItem => item.Cuestionario.Descripcion)</td>
                                <td>@Html.DisplayFor(modelItem => item.FechaInstalacion)</td>
                                <td>@Html.DisplayFor(modelItem => item.FechaUltimaMantencion)</td>
                                <td>@Html.DisplayFor(modelItem => item.FechaIngreso)</td>
                                <td>
                                    @if (item.Estado == 1)
                                    {
                                    <strong>Activo</strong>
                                    }
                                    else 
                                    {
                                    <strong>Inactivo</strong>
                                    }
                                </td>
                                <td><a href="@Url.Action("Editar", "Equipos", new { IdEquipo = item.IdEquipo })" class="btn btn-default"><span class='glyphicon glyphicon-edit'></span></a></td>
                                <td>
                                    @if (item.Estado == 1)
                                    {
                                    <a href="@Url.Action("Inactivar", "Equipos", new { IdEquipo = item.IdEquipo })" class="btn btn-default" onclick="if(!confirm('Está a punto de dar de baja a este equipo.\n¿Desea continuar?.')) return false;"><span class='glyphicon glyphicon-off'></span></a>
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("Activar", "Equipos", new { IdEquipo = item.IdEquipo })" class="btn btn-default"><span class='glyphicon glyphicon-play'></span></a>
                                    }
                                </td>
                                <td>
                                    @if (!Model.tieneMantenciones(item))
                                    {
                                   <a href="@Url.Action("Eliminar", "Equipos", new { IdEquipo = item.IdEquipo })" class="btn btn-default" onclick="if(!confirm('Está a punto de eliminar este equipo.\n¿Desea continuar?.')) return false;"><span class='glyphicon glyphicon-trash'></span></a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
			</div>
		</div>
    </article>
</section>
@Scripts.Render("~/bundles/custom/mantenedores/equipos/listado")
<script type="text/javascript">
    $(document).ready(function () {
        init();
    });
</script>
