﻿@model MetricArts.JnJ.Mantenciones.Models.Mantenedores.KitRepuestos.KitRepuestosViewModel
@{
    ViewBag.Title = "Asociar/Desasociar Repuestos";
}

<section class="container-fluid">
    <div class="row">
		    <ol class="breadcrumb">
			    <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
			    <li><a href="@Url.Action("Index", "Mantenedores")">Mantenedores</a></li>
				<li><a href="@Url.Action("Index", "KitRepuestos")">KIT Repuestos</a></li>
			</ol>
		</div>

				<div class="row-fluid">
					<h3>Asociar/Desasociar Repuestos <small>(KIT: @Model.kitRepuesto.Nombre , EQUIPO: @Model.kitRepuesto.Equipo.Nombre / @Model.kitRepuesto.Equipo.Sucursal.Cliente.Franquicia.NombreFranquicia - @Model.kitRepuesto.Equipo.Sucursal.Cliente.NombreEmpresa - @Model.kitRepuesto.Equipo.Sucursal.NombreSucursal)</small></h3>
				</div>
                @if (TempData["Mensaje"] != null && !String.IsNullOrEmpty(TempData["Mensaje"].ToString()))
                {
                <div class="alert alert-warning alert-dismissible fadeOutMantenedor" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>@(TempData["Mensaje"])</strong>
                </div>
                }
                <br />
                <form action="@Url.Action("AsociarRepuestos", "KitRepuestos")" method="POST" class="form-horizontal">
                @Html.HiddenFor(x => x.FORM.IdKitRepuesto)
				<div class="row-fluid">
				    <div class="form-group">
						<div class="col-md-5">
                            <div class="no-seleccionable select">
                            <h4 align="center">Disponibles</h4>
                                <div style="height:300px;overflow-y:scroll">
					        <ul id="repuestos-disponibles" class="list-group">     
                                @for (int j = 0; j < Model.repuestosDisponibles.Count(); j++)
                                {
                                <li id="@(Model.repuestosDisponibles.ElementAt(j).IdRepuesto)" class="list-group-item">@Model.repuestosDisponibles.ElementAt(j).Codigo - @Model.repuestosDisponibles.ElementAt(j).Descripcion - @Model.repuestosDisponibles.ElementAt(j).Categoria - Cant.: @Model.repuestosDisponibles.ElementAt(j).Cantidad</li>               
                                }
                                
                                
						    </ul>
                            
                                <div id="vacio-disponibles">
                                @if (Model.repuestosDisponibles.Count() == 0) 
                                {
                                    <p class="list-group-item">No existen repuestos disponibles para este KIT</p>
                                }
                                    </div>

                                    </div>

                                </div>
                            <br />
                            <div id="boton-asociar">
                            
                                <button id="asociar-repuesto" type="button" class="btn btn-success">
						        
						        <span class="title">Asociar Seleccionado</span>
                                <span class="fa fa-angle-double-right"></span>
					        </button>
                            
                            </div>
                            
					    </div>
                        
                        <div class="col-md-2">
                            </div>

                        <div class="col-md-5">
                            <div class="no-seleccionable select">
                            <h4 align="center">Asociados</h4>
                                <div style="height:300px;overflow-y:scroll">
					        <ul id="repuestos-asociados" class="list-group">     
                                @for (int j = 0; j < Model.repuestosAsociados.Count(); j++)
                                {
                                <li id="@(Model.repuestosAsociados.ElementAt(j).IdRepuesto)" class="list-group-item">@Model.repuestosDisponibles.ElementAt(j).Codigo - @Model.repuestosDisponibles.ElementAt(j).Descripcion - @Model.repuestosDisponibles.ElementAt(j).Categoria - Cant.: @Model.repuestosDisponibles.ElementAt(j).Cantidad</li>               
                                }
                                
                                
						    </ul>
                                    
                                <div id="vacio-asociados">
                                @if (Model.repuestosAsociados.Count() == 0) 
                                {
                                    <p class="list-group-item">No existen repuestos asociados para este KIT</p>
                                }
                                    </div>
                                </div>
                                </div>
                            <br />
                            <div id="boton-desasociar">
                            
                                <button id="desasociar-repuesto" type="button" class="btn btn-primary pull-right">
						        <span class="fa fa-angle-double-left"></span>
						        <span class="title">Desasociar Seleccionado</span>
					        </button> 
                            
                            </div>

                        </div>
					</div>			
				</div>
                     @Html.HiddenFor(m => m.FORM.RepuestosIds)
                    <div class="row">
                        <br />
                        <br />
                    </div>
				<div class="row">
					<div class="col-md-6 col-md-offset-4">
						<button id="guardar-repuestos" type="button" class="btn btn-success">Guardar Cambios</button>
                        <a href="@Url.Action("Index", "KitRepuestos")" class="btn btn-primary">Cancelar</a>
					</div>
                    
				</div>
                </form>
			</section>
@Scripts.Render("~/bundles/custom/mantenedores/kitrepuestos/asociar-repuestos")
<script type="text/javascript">
    $(document).ready(function () {
        init();
    });
</script>
