﻿@model MetricArts.JnJ.Mantenciones.Models.Mantenedores.KitRepuestos.KitRepuestosViewModel
@{
    ViewBag.Title = "Crear Nuevo KIT Repuestos";
}

<div class="row-fluid">
				<ol class="breadcrumb">
					<li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
					<li><a href="@Url.Action("Index", "Mantenedores")">Mantenedores</a></li>
					<li><a href="@Url.Action("Index", "KitRepuestos")">Clientes</a></li>
					<li><a href="@Url.Action("CrearNuevo", "KitRepuestos")">Nuevo</a></li>
				</ol>
			</div>

			<section>
				<div class="row-fluid">
					<h3>Crear Nuevo KIT Repuestos</h3>
				</div>
                @if (TempData["Mensaje"] != null && !String.IsNullOrEmpty(TempData["Mensaje"].ToString()))
                {
                <div class="alert alert-warning alert-dismissible fadeOutMantenedor" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>@(TempData["Mensaje"])</strong>
                </div>
                }
                <br />
                <form action="@Url.Action("CrearNuevo", "KitRepuestos")" method="POST" class="form-horizontal">
				<div class="row-fluid">

                    <div class="form-group">
							<label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.Nombre)</label>
							<div class="col-sm-6">
                                @Html.TextBoxFor(x => x.FORM.Nombre, new { @class = "form-control input-sm" })
							</div>
						</div>
                    <hr />
                    <div class="form-group">
						    <label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.IdFranquicia)</label>
							<div class="col-sm-6">
							    @Html.DropDownListFor(x => x.FORM.IdFranquicia, Model.Franquicias, "Seleccione una Franquicia", new { @class = "form-control input-sm" })
							</div>
						</div>
                        <div class="form-group">
						    <label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.IdCliente)</label>
							<div class="col-sm-6">
							    <select id="FORM_IdCliente" class="form-control input-sm" disabled="disabled"></select>
							</div>
						</div>
                    <div class="form-group">
						    <label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.IdSucursal)</label>
							<div class="col-sm-6">
							    <select id="FORM_IdSucursal" class="form-control input-sm" disabled="disabled"></select>
							</div>
						</div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">Equipos para asociar al KIT</label>
									<div class="col-md-6 no-seleccionable select">
										<ul id="equipos-planificacion" class="list-group small">
                                            <li class="list-group-item"><i>Debe escoger una Sucursal</i></li>
										</ul>
									</div>
                        @Html.HiddenFor(x => x.FORM.IdEquipo)
								</div>
                   @* <div class="form-group">
                        <label class="col-sm-4 control-label">Equipos asociados al KIT <small>(doble click para remover)</small></label>
									<div class="col-md-8 no-seleccionable select">
										<ul id="equipos-planificacion-asociados" class="list-group small">
                                            <li class="list-group-item">
                                                <i>No existen equipos asociados</i>
                                            </li>
										</ul>
									</div>
								</div>*@
                    
				</div>
				<div class="row">
					<div class="col-md-6 col-md-offset-4">
						<button id="crear-kit" type="button" class="btn btn-success pull-right">Guardar</button>
                        <a href="@Url.Action("Index", "KitRepuestos")" class="btn btn-primary">Cancelar</a>
					</div>
                    
				</div>
                </form>
			</section>
@Scripts.Render("~/bundles/custom/mantenedores/kitrepuestos/crear")
<script type="text/javascript">
    $(document).ready(function () {
        init('@Url.Action("ObtenerClientes", "ServicioConsulta")',
            '@Url.Action("ObtenerSucursales", "ServicioConsulta")',
            '@Url.Action("ObtenerEquiposSucursalKit", "ServicioConsulta")');
    });
</script>
