﻿@model MetricArts.JnJ.Mantenciones.Models.Mantenedores.KitRepuestos.KitRepuestosViewModel
@{
    ViewBag.Title = "Listado KIT Repuestos";
}
<section class="container-fluid">
    <article>
        <div class="row">
		    <ol class="breadcrumb">
			    <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
			    <li><a href="@Url.Action("Index", "Mantenedores")">Mantenedores</a></li>
				<li><a href="@Url.Action("Index", "KitRepuestos")">KIT Repuestos</a></li>
			</ol>
		</div>

        <article>
		    <div class="bs-callout bs-callout-JJ">
                <legend>KIT Repuestos</legend>
                <a href="@Url.Action("CrearNuevo", "KitRepuestos")" data-toggle="confirmation"  title="Nuevo Cliente" class="btn btn-success">
                    <span class='glyphicon glyphicon-plus-sign'></span> Crear Nuevo
                </a>

                <button class="btn btn-primary" type="button">
			        Cantidad Total <span class="badge">@Model.KitRepuestos.Count()</span>
				</button>
		    </div>
		</article>

        <br />
        @if (TempData["Mensaje"] != null && !String.IsNullOrEmpty(TempData["Mensaje"].ToString()))
        {
            <div class="alert alert-success alert-dismissible fadeOutMantenedor" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>@(TempData["Mensaje"])</strong>
            </div>
        }
        <br />
        <div class="row">
            <div class="table-responsive">                            
                <table id="listado-mantenedor" class="table table-striped table-condensed display">
                    <thead>
                        <tr>
                            <th>@Html.DisplayName("Nombre")</th>
                            <th>@Html.DisplayName("Repuestos Asociados")</th>
                            <th>@Html.DisplayName("Equipo")</th>
                            <th>@Html.DisplayName("Franquicia")</th>
                            <th>@Html.DisplayName("Cliente")</th>
                            <th>@Html.DisplayName("Sucursal")</th>
                            <th>@Html.DisplayName("Asociar/Desasociar Repuestos")</th>
                            <th>Editar</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.KitRepuestos)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                                <td>
                                    @if (item.KitRepuestoRepuestos.Any()){
                                    <button type="button" name='@item.IdKitRepuesto' value='@item.Nombre' data-toggle='tooltip' data-placement='bottom' class="btn btn-default btn-modal-trigger-repuestos"><span class='glyphicon glyphicon-th-list'></span></button>
                                    }
                                    else {
                                        <p><strong>Ninguno</strong></p>
                                    }
                                </td>
                                <td>@Html.DisplayFor(modelItem => item.Equipo.Nombre)</td>
                                <td>@Html.DisplayFor(modelItem => item.Equipo.Sucursal.Cliente.Franquicia.NombreFranquicia)</td>
                                <td>@Html.DisplayFor(modelItem => item.Equipo.Sucursal.Cliente.NombreEmpresa)</td>
                                <td>@Html.DisplayFor(modelItem => item.Equipo.Sucursal.NombreSucursal)</td>
                                <td><a href="@Url.Action("AsociarRepuestos", "KitRepuestos", new { IdKitRepuesto = item.IdKitRepuesto })" class="btn btn-default"><span class='glyphicon glyphicon-link'></span></a></td>
                                <td><a href="@Url.Action("Editar", "KitRepuestos", new { IdKitRepuesto = item.IdKitRepuesto })" class="btn btn-default"><span class='glyphicon glyphicon-edit'></span></a></td>
                                <td>
                                    @if (!item.SolicitudKitRepuestos.Any())
                                    {
                                     <a href="@Url.Action("Eliminar", "KitRepuestos", new { IdKitRepuesto = item.IdKitRepuesto })" class="btn btn-default" onclick="if(!confirm('Está a punto de eliminar este KIT.\n¿Desea continuar?.')) return false;"><span class='glyphicon glyphicon-trash'></span></a> 
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
			</div>
		</div>
    </article>
</section>

<div class="modal fade" id="ModalPreviewRepuestos" tabindex="-1" role="dialog" aria-labelledby="">
    <div class="modal-dialog" role="document">
	    <div class="modal-content">
		    <div class="modal-header">
			    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				    <span aria-hidden="true">&times;</span>
				</button>
			    <h4 class="modal-title" id="myModalLabel"><span id="titulo-modal"></span></h4>
			</div>
			<div id="contenido-modal" class="modal-body">
                <ul id="listado-elementos-repuestos">
                    
                </ul>
			</div>
			<div class="modal-footer">
			    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
			</div>
		</div>
	</div>
</div>

@Scripts.Render("~/bundles/custom/mantenedores/kitrepuestos/listado")
<script type="text/javascript">
    $(document).ready(function () {
        init('@Url.Action("GetKitRepuestosRepuestos", "KitRepuestos")');
    });
</script>