﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta charset="utf-8" />
        <title>Sistema Mantenciones Preventivas - @ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />

        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/Bootstrap/css")
        @Styles.Render("~/Content/External/css")
        
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/external")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/bootstrap/locales")
        @Scripts.Render("~/bundles/custom")

        @RenderSection("scripts", required: false)
    </head>
    <body>
        <header class="navbar-static-top">
            <div class="col-md-12">
				<div class="navbar-header">
					<button type="button" id="toggleMenu" class="toggle_menu" aria-label="Justify">
						<span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
					</button>
					<div class="Logo">
						<a href="@Url.Action("Index", "Home")" title="Home">
							@*<img class="ImgLogo" src="@Url.Content("~/Images/Layout/jnjWhite.png")"></img>*@
                            <img class="ImgLogo" src="@Url.Content("~/Images/Layout/ocdLogo.png")" />
						</a>					
						<span class="logo_desc">Sistema Mantenciones Preventivas</span>
					</div>

				</div>
                @Html.Partial("_LoginPartial")

			</div>
        </header>
        
        @Html.Partial("_LoginPartialMenu")
        
		<div class="wrapper">
			<section>
            @RenderSection("featured",false)
            @RenderBody()
			</section>

		</div>

        

        <div class="modal fade" id="ModalPrivacidad" tabindex="-1" role="dialog" aria-labelledby="">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="myModalLabel">Política de Privacidad</h4>
					</div>
					<div class="modal-body">
						<p>[NOMBRE LEGAL COMPLETO DE LA ENTIDAD] se preocupa por las cuestiones de privacidad y quiere que usted esté familiarizado con la forma en que recopilamos, utilizamos y/o divulgamos la información. Esta Política de Privacidad describe nuestras prácticas en relación con la información que nosotros o nuestros proveedores de servicios recopilamos a través de cualquier Sitio Web o aplicación (incluyendo, por ejemplo, un Sitio Web o aplicación móvil) operados y controlados por nosotros (en adelante el “Sitio”). Al proporcionarnos datos personales, algunos de ellos pudieran ser sensibles, a través del Sitio, usted acepta los términos y condiciones de la presente Política de Privacidad.</p>

						<h4>RECOPILACIÓN DE DATOS PERSONALES</h4>

						<h5>Información facilitada por usted</h5>

						<p>Algunas áreas del Sitio podrán requerir que envíe datos personales a fin de que se beneficie de las opciones especificadas (como suscripciones a boletines, consejos/pautas o procesamiento de órdenes) o participe en una actividad particular (como concursos u otras promociones). Se le comunicará qué información es necesaria y cuál es opcional.</p>

						<p>Podremos combinar la información que usted envíe con otra información que hemos recopilado de usted, ya sea a través de Internet o por fuera, que incluye, por ejemplo, su historial de compras. También podremos combinarla con la información que recibimos de usted de otras fuentes, como las otras filiales operativas de Johnson &amp; Johnson, las fuentes de información a disposición del público (incluida la información de sus perfiles de medios sociales disponible públicamente), y de otros terceros.</p>

						<h5>Recolección y uso pasivo de la información</h5>

						<p>A medida que navega por el Sitio, cierta información puede ser recopilada pasivamente (es decir, reunida sin que usted provea directamente la información) usando diversas tecnologías. Nosotros y nuestros proveedores de servicios externos recopilamos y utilizamos pasivamente la información en una variedad de maneras, incluyendo:</p>

						<p><strong>A través de su navegador:</strong> Cierta información es recopilada por la mayoría de los navegadores, como su dirección de Control de Acceso a Medios (Media Access Control, MAC), el tipo de computadora (Windows o Macintosh), la resolución de pantalla, la versión del sistema operativo, y el tipo y la versión del navegador de Internet. Podremos recopilar información similar, como por ejemplo su tipo de dispositivo e identificador, si accede al Sitio a través de un dispositivo móvil.</p>

						<p><strong>Uso de cookies:</strong> Las cookies representan una compilación de información almacenada directamente en la computadora que usted utiliza. Las cookies nos permiten recopilar información como el tipo de navegador, el tiempo de permanencia en el Sitio, las páginas visitadas y las preferencias de idioma. Nosotros y nuestros proveedores de servicios utilizamos la información por motivos de seguridad, para facilitar la navegación, mostrar información de forma más eficaz y para personalizar su experiencia al utilizar el Sitio. También utilizamos cookies para reconocer su computadora o dispositivo, lo que facilita su uso del Sitio, como recordar lo que está en su carrito de compras. Además, utilizamos cookies para obtener información estadística sobre el uso del Sitio a fin de mejorar continuamente su diseño y funcionalidad, entender cómo lo utilizan las personas y para ayudarnos a resolver preguntas sobre el mismo. Las cookies incluso nos permiten seleccionar cuál de nuestros anuncios u ofertas tienen más probabilidades de atraerle y mostrarlos mientras usted se encuentre en el Sitio. También podremos utilizar cookies en la publicidad en línea para rastrear las respuestas de los consumidores a nuestros anuncios. </p>

						<p>Puede negarse a aceptar estas cookies siguiendo las instrucciones de su navegador; sin embargo, si no las acepta, podrá experimentar algunos inconvenientes en su uso del Sitio. También es posible que no reciba la publicidad u otras ofertas de nosotros que son relevantes para sus intereses y necesidades. Para obtener mayor información sobre las cookies, visite http://www.allaboutcookies.org.</p>

						<p><strong>Uso de cookies de Flash:</strong> Nuestro uso de la tecnología Adobe Flash (incluidos los Objetos Almacenados en Forma Local de Flash [Flash Local Stored Objects, Flash LSO]) nos permite, entre otras cosas, servirle con información más adaptada, facilitar su acceso continuo y el uso del Sitio, así como recopilar y almacenar información sobre su uso del Sitio. Si usted no quiere los Flash LSO almacenados en su computadora, puede ajustar la configuración de su reproductor de Flash para bloquear el almacenamiento de los Flash LSO utilizando las herramientas contenidas en el Panel de Configuración de Almacenamiento del Sitio Web (Website Storage Settings Panel). También puede controlar los Flash LSO yendo al Panel de Configuración de Almacenamiento Global (Global Storage Settings Panel) y siguiendo las instrucciones (que podrán incluir instrucciones que explican, por ejemplo, la forma de eliminar los Flash LSO existentes (mencionados como “información” en el sitio de Macromedia), la forma de evitar que los Flash LSO se almacenen en su computadora sin consultarle y (para Flash Player 8 y versiones posteriores) la forma de bloquear los Flash LSO que no están siendo entregados por el operador de la página en la que se encuentra en ese momento). Tenga en cuenta que configurar el reproductor de Flash para restringir o limitar la aceptación de los Flash LSO podrá reducir o impedir la funcionalidad de algunas aplicaciones de Flash, incluyendo, potencialmente, las aplicaciones de Flash utilizadas en relación con el Sitio o nuestro contenido en línea.</p>

						<p><strong>Uso de etiquetas de píxel, contadores de visitantes, GIF transparentes u otras tecnologías similares:</strong> Estas podrán ser utilizadas en conexión con algunas páginas del Sitio y mensajes de correo electrónico con formato HTML para, entre otras cosas, dar seguimiento a las acciones de los usuarios del Sitio y los destinatarios de correo electrónico, medir el éxito de nuestras campañas de comercialización, y compilar estadísticas sobre el uso del Sitio y las tasas de respuesta.</p>

						<p><strong>Publicidad conductual en línea:</strong> El uso de cookies, etiquetas de píxel, contadores de visitantes, GIF transparentes u otras tecnologías similares permite a nuestros proveedores externos ofrecer anuncios sobre nuestros productos y servicios cuando usted visita el Sitio u otros sitios web o propiedades web a través de Internet. Estos proveedores podrán colocar etiquetas de píxel, contadores de visitas, GIF transparentes, o tecnologías similares en el Sitio y otros sitios web o propiedades web, y también colocar o reconocer cookies de terceros cuando usted visita el Sitio u otros sitios o propiedades web. Podrán utilizar información sobre sus visitas al Sitio y otros sitios web o propiedades web para proporcionar anuncios sobre bienes y servicios que puedan ser de su interés.</p>

						<p><strong>Dirección de IP:</strong> Su dirección de IP es un número que su proveedor de servicios de Internet (Internet Service Provider, ISP) asigna automáticamente a la computadora que está utilizando. Una dirección de IP se identifica y queda anotada automáticamente en nuestros archivos de registro de servidores cuando un usuario visita el Sitio, junto con la hora de visita y la(s) página(s) visitada(s). La recopilación de direcciones de IP es práctica habitual en Internet y es realizada de forma automática por muchos sitios web. Utilizamos las direcciones de IP para fines tales como calcular los niveles de uso del Sitio, ayudar a diagnosticar problemas en el servidor y administrar el Sitio. </p>

						<p><strong>Información del dispositivo:</strong> Podremos recopilar información sobre su dispositivo móvil, como un identificador de dispositivo único.</p>

						<h4>Cómo utilizamos y transferimos información</h4>

						<p>Utilizamos y transferimos la información que usted nos proporciona siguiendo los procesos descriptos al momento de la recopilación.</p>

						<p>También utilizamos su información:</p>

						<ul>
							<li>para responder a sus consultas y atender sus solicitudes, como enviarle los documentos que solicita o alertas por correo electrónico;</li>
							<li>para enviarle información importante sobre nuestra relación con usted o sobre el Sitio, con relación al Sitio, las modificaciones de nuestros términos, condiciones, y políticas y/u otra información administrativa; y</li>
							<li>para fines comerciales, como el análisis de datos, las auditorías, el desarrollo de nuevos productos, la mejora de nuestro Sitio, la mejora de nuestros productos y servicios, la identificación de las tendencias de uso del Sitio, personalizar su experiencia en el Sitio al presentar productos y ofertas adaptadas para usted, y determinar la eficacia de nuestras campañas promocionales. </li>
						</ul>

						<p>Asimismo, transferimos información recopilada a través del Sitio a: </p>

						<ul>
							<li >nuestros afiliados para los fines descritos en esta Política de Privacidad. Una lista de nuestros afiliados está disponible aquí (haga clic en el enlace del Formulario 10K, Anexo 21, en “Documentos presentados a la SEC” [SEC Filings]). ]). [NOMBRE LEGAL COMPLETO DE LA ENTIDAD]  es la parte responsable de la gestión de la información personal utilizada de forma conjunta; </li>

							<li>nuestros socios externos con los que ofrecemos una promoción de marca compartida o comercializada en conjunto;</li>
							<li>nuestros proveedores de servicios externos que prestan servicios como el alojamiento y moderación de sitios web, el alojamiento de aplicaciones móviles, el análisis de datos, el procesamiento de pagos, la realización de pedidos, la provisión de infraestructura, los servicios de TI, el servicio al cliente, los servicios de entrega de correo electrónico y correo directo, el procesamiento de tarjetas de crédito, los servicios de auditoría y otros servicios, con el fin de facultarlos a prestar los servicios; y</li>
							<li>un tercero en caso de una reorganización, fusión, venta, sociedad conjunta, cesión, transferencia u otra enajenación de la totalidad o parte de nuestra actividad comercial, activos o acciones (incluidos los actos relacionados con cualquier proceso de quiebra o similar).</li>
						</ul>

						<p>Además, utilizamos y divulgamos la información recopilada a través del Sitio, según lo consideremos necesario o apropiado: (a) en virtud de la ley aplicable, lo que incluye las leyes vigentes fuera de su país de residencia; (b) para cumplir con un proceso legal conforme lo establecido por ley; (c) para responder a solicitudes de autoridades públicas y gubernamentales, incluidas las autoridades públicas y gubernamentales fuera de su país de residencia; (d) para hacer cumplir nuestros términos y condiciones; (e) para proteger nuestras operaciones o las operaciones de cualquiera de nuestras empresas afiliadas; (f) para proteger nuestros derechos, privacidad, seguridad o bienes, y/o la de nuestras empresas afiliadas, usted u otras; y (g) para permitirnos hacer uso de los recursos disponibles o limitar los daños y perjuicios que podamos sufrir. También podremos utilizar y divulgar la información recopilada a través del Sitio de otras maneras, con su consentimiento.</p>

						<p>También podremos utilizar y divulgar información que recopilamos pasivamente como se ha descrito anteriormente, en “Recopilación y uso pasivo de información”, para cualquier otro propósito, salvo que se nos exija hacerlo de otra manera en virtud de la ley aplicable (por ejemplo, si se nos requiere tratar dicha información como información personal). Además, podremos utilizar y divulgar la información distinta de los datos personales, que no se encuentre en formato de identificación personal, para cualquier propósito. Si combinamos la información que no se encuentra en formato de identificación personal, con datos personales (como la combinación de su nombre con su ubicación geográfica), trataremos la información combinada como datos personales, siempre y cuando se mantenga combinada.</p>

						<h4>SITIOS Y SERVICIOS DE TERCEROS</h4>

						<p>Esta Política de Privacidad no se refiere a la privacidad, la información u otras prácticas de sitios y servicios de terceros que usted visita, ni tampoco nos responsabilizamos al respecto, incluido por cualquier tercero que opere cualquier sitio web o propiedad web (incluyendo, sin limitación, cualquier aplicación) que esté disponible a través de este Sitio o para el cual este Sitio a través de un link o enlace del Sitio. La disponibilidad o la inclusión de un enlace a cualquier sitio o propiedad en el Sitio no implican nuestra aprobación o la de nuestras compañías afiliadas a su política de privacidad. </p>

						<h4>SEGURIDAD</h4>

						<p>Empleamos medidas de organización, técnicas y administrativas razonables para la protección de los datos personales que están bajo nuestro control. Lamentablemente, no es posible garantizar la seguridad total de todos los sistemas de almacenamiento de datos o sistema de transmisión de datos por Internet. Por lo anterior, si tiene motivos para creer que su interacción con nosotros ya no es segura (por ejemplo, si siente que se ha comprometido la seguridad de alguna cuenta que tiene con nosotros), notifíquenos el problema de inmediato a través de la sección “Contáctenos” (Contacting Us) a continuación.</p>

						<h4>OPCIONES Y ACCESO</h4>

						<h5>Sus opciones y medios con respecto a nuestro uso y divulgación de sus datos personales</h5>

						<p>Le damos opciones con respecto a nuestro uso y divulgación de sus datos personales para fines de comercialización. Usted podrá optar por no:</p>

						<ul>
							<li><strong>Recibir comunicaciones de comercialización nuestras:</strong> Si ya no desea recibir comunicaciones de comercialización nuestras a futuro, podrá optar por no recibirlas al contactarnos a (incluir su mecanismo aquí, por ejemplo, enviar un correo electrónico a [insertar dirección de correo electrónico]).   En su comunicación, proporcione su nombre, identifique el(los) formulario(s) de las comunicaciones de comercialización que ya no desea recibir, e incluya la(s) dirección (direcciones) a la(s) que este (estos) son enviado(s)]. Por ejemplo, si ya no desea recibir correos electrónicos de comercialización o correo directo nuestro, díganoslo, y proporcione su nombre y correo electrónico o dirección postal. También podrá optar por no recibir comunicaciones de comercialización nuestras al visitar el Sitio para actualizar su perfil en línea. Además, podrá optar por no recibir correos electrónicos de comercialización nuestros al seguir las instrucciones para cancelar la suscripción que aparecen en cualquier mensaje. </li>
							<li>Recibir recordatorios nuestros: Si ya no desea recibir recordatorios médicos nuestros a futuro, podrá optar por no recibirlos al contactarnos a [DIRECCIÓN DE CORREO ELECTRÓNICO]) En su comunicación, proporcione su nombre y la dirección de correo electrónico o número telefónico en el que recibe recordatorios nuestros. </li>
							<li>Nuestra divulgación de su información personal con afiliados y socios externos: Si prefiere que no compartamos su información personal a futuro con nuestros afiliados y/o socios terceros con fines de comercialización, podrá optar por no compartir esta información al ponerse en contacto con nosotros a a (incluir su mecanismo aquí, por ejemplo, enviar un correo electrónico a [insertar dirección de correo electrónico])  En su comunicación, indique que ya no debemos compartir su información personal con nuestros afiliados y/o socios externos con fines de comercialización, e incluya su nombre y dirección de correo electrónico.</li>
						</ul>

						<p>Intentaremos cumplir con su(s) solicitud(es) tan pronto como sea razonablemente posible. Tenga también en cuenta que si opta por no recibir mensajes nuestros relacionados con la comercialización, todavía podremos enviarle importantes mensajes transaccionales y administrativos, de los que no puede optar por no participar.</p>

						<h5>Cómo puede acceder, modificar o eliminar sus datos personales.</h5>

						<p>Si desea acceder, rectificar, cancelar u oponerse al tratamiento de los datos personales que nos ha proporcionado a través del Sitio, póngase en contacto con nosotros a a (incluir su mecanismo aquí, por ejemplo, enviar un correo electrónico a [insertar dirección de correo electrónico]) Cumpliremos con su solicitud tan pronto como sea razonablemente posible y dentro de un período de tiempo requerido por la ley aplicable. También podrá visitar el Sitio para actualizar su perfil en línea.</p>

						<h4>PERÍODO DE CONSERVACIÓN</h4>

						<p>Conservamos su información personal durante el período que sea necesario para cumplir con los fines establecidos en esta Política de Privacidad, salvo que la ley exija o permita un período de retención mayor o que de otra forma cumpla con una obligación legal.</p>

						<h4>Uso del Sitio por parte de MENORES</h4>

						<p>El Sitio no está dirigido a personas menores de 18 años de edad y pedimos que estas personas no proporcionen información personal a través del Sitio. </p>

						<h4>TRANSFERENCIA ENTRE PAÍSES</h4>

						<p>Su información personal podrá almacenarse y procesarse en cualquier país donde tengamos instalaciones o proveedores de servicios, así como a empresas filiales o relacionadas del mismo grupo corporativo y al usar nuestro Sitio o darnos su consentimiento (donde lo exija la ley), usted acuerda transferir la información a países distintos de su país de residencia, incluido a los Estados Unidos, los cuales podrán tener normas diferentes sobre la protección de datos que las vigentes en su país. </p>

						<h4>Datos Personales Sensibles</h4>

						<p>A menos que lo solicitemos o invitemos de manera específica, le pedimos que no nos envíe y que no divulgue datos personales sensibles (por ejemplo, la información relacionada con el origen racial o étnico, las opiniones políticas, creencias religiosas, filosóficas y morales, estado de salud presente y futuro, información genética, preferencia sexual, los antecedentes penales o la afiliación sindical) en el Sitio o a través de este, o de otra manera para nosotros. En los casos en los que podamos solicitar o invitarle a que proporcione datos personales sensibles, lo haremos con su consentimiento expreso.</p>

						<h4>ACTUALIZACIONES DE ESTA POLÍTICA DE PRIVACIDAD</h4>

						<p>Podremos cambiar esta Política de Privacidad. Mire la leyenda “Última actualización” que aparece en la parte superior de esta página para consultar cuándo se revisó por última vez la presente Política de Privacidad. Toda modificación de nuestra Política de Privacidad estará disponible en el Sitio y entrará en vigencia después de la publicación de la Política de Privacidad revisada en el Sitio. El uso que haga del Sitio con posterioridad a estas modificaciones implica su aceptación de la Política de Privacidad revisada.</p>

						<h4>CONTÁCTENOS</h4>

						<p>Si tiene alguna pregunta sobre esta Política de Privacidad, contáctenos por(incluya su mecanismo aquí, por ejemplo, correo electrónico a [DIRECCIÓN DE CORREO ELECTRÓNICO]), o escriba a la siguiente dirección:</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
					</div>
				</div>
			</div>
		</div>
        <div class="modal fade" id="ModalLegal" tabindex="-1" role="dialog" aria-labelledby="">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="myModalLabel">Información Legal</h4>
					</div>
					<div class="modal-body">
						<p>Este sitio es propiedad de Johnson & Johnson Medical Devices & Diagnostics Group Latin America L.L.C., localizada en Miami, Florida, EUA. Todo el contenido de este sitio de Internet es propiedad y se encuentra controlada por Johnson & Johnson, siendo protegido por leyes internacionales de derechos de autor. Usted puede obtener el contenido únicamente para su uso personal y no con fines comerciales, no permitiéndose a su vez, su posterior modificación ni reproducción. A su vez, el contenido no podrá utilizarse ni copiarse con otros fines.
						</br></br>
						Los propietarios de este sitio aplicarán esfuerzos razonables para incluir información actualizada y exacta en él, no obstante, no brindan declaración ni garantía sobre la exactitud, actualidad o integridad de la información proporcionada. Los propietarios de este sitio no serán responsables por cualquier daño o pérdida resultante de su acceso o la incapacidad de acceder al mismo. Este sitio está destinado a Profesionales de la Salud de Latinoamérica.
						</br></br>
						Este sitio de Internet puede estar ligado o proporcionarle referencias hacia otros sitios, pero sus propietarios no tienen ningún tipo de responsabilidad por ello, ni responderán por los daños o pérdidas que resulten de ese contenido. Todos los ligues para otros sitios se proporcionan meramente como conveniencia para los usuarios de este sitio de Internet.
						</br></br>
						Las marcas registradas, marcas de servicios, nombres comerciales, símbolos comerciales y productos hallados en este sitio de Internet están protegidos en Latinoamérica e internacionalmente. Ninguno de ellos podrá utilizarse sin previa autorización por escrito de los propietarios de este sitio, salvo para identificar los productos o servicios de la Compañía.
						</br></br>
						Toda la información que sea personalmente identificable hallada en los comunicados electrónicos en este sitio de Internet estará regida por la presente Política de Privacidad. Los propietarios de este sitio tendrán libertad para utilizar o copiar todo el resto de la información hallada en cualquiera de esos comunicados, incluso nuevas ideas, inventos, conceptos, técnicas o conocimientos técnicos revelados en ellas, para cualquier fin. Esos fines pueden incluir la divulgación a terceros y/o el desarrollo, fabricación y/ comercialización de productos y servicios.
						</br></br>
						El remitente de cualquier comunicado hacia el sitio de Internet o hacia los propietarios del mismo, será responsable por el contenido e información en él encontrados, incluso de su veracidad y exactitud.
						</br></br>
						.Esta Información Legal fue actualizada el 03 de enero de 2013.
						</p>		
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
					</div>
				</div>
			</div>
		</div>

        
    </body>
</html>
