﻿@using MetricArts.JnJ.Mantenciones.Models.Accounts.Account
@if (Request.IsAuthenticated) {
    <nav class="collapse navbar-collapse">

					<ul class="nav navbar-nav"></ul>

					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown userMenu">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								<span class="glyphicon glyphicon-user"></span> 
								<strong>@LoginUtils.getCustomUser(User.Identity.Name).Nombre</strong>
								<span class="glyphicon glyphicon-option-vertical"></span>
							</a>
							<ul class="dropdown-menu">
								<li>
									<div class="navbar-login">
										<div class="row">
											<div class="col-lg-8">
												<p class="text-left"><strong>@LoginUtils.getCustomUser(User.Identity.Name).Nombre @LoginUtils.getCustomUser(User.Identity.Name).ApellidoPaterno</strong></p>
                                                @*<p class="text-left">@LoginUtils.getCustomUser(User.Identity.Name).UsuarioTipoUsuarios.FirstOrDefault().TipoUsuario.Nombre</p>*@
                                                @foreach (var rol in LoginUtils.getCustomUser(User.Identity.Name).UsuarioTipoUsuarios)
                                                {
                                                    <p class="text-left">@rol.TipoUsuario.Nombre</p>
                                                }
												<p class="text-left small">@LoginUtils.getCustomUser(User.Identity.Name).CorreoElectronico</p>
											</div>
										</div>
									</div>
								</li>
								<li class="divider"></li>
								<li class="banderas">
									<div class="navbar-login">
										<div class="row">
											<div class="col-md-3 col-xs-3"> 
												<img data-toggle="tooltip" data-placement="bottom" title="Español" lang="es" class="ImgFlag" src="@Url.Content("~/Images/Flags/Spain.png")"></img>
											</div>
											<div class="col-md-3 col-xs-3">
												<img data-toggle="tooltip" data-placement="bottom" title="Português" lang="pt" class="ImgFlag " src="@Url.Content("~/Images/Flags/Brazil.png")"></img>
											</div>
											<div class="col-md-3 col-xs-3">
												<img data-toggle="tooltip" data-placement="bottom" title="Français" lang="fr" class="ImgFlag" src="@Url.Content("~/Images/Flags/France.png")"></img>
											</div>
											<div class="col-md-3 col-xs-3">
												<img data-toggle="tooltip" data-placement="bottom" title="English" lang="en" class="ImgFlag" src="@Url.Content("~/Images/Flags/United-Kingdom.png")"></img>
											</div>
										</div>
									</div>
								</li>
								<li class="divider"></li>
								<li>
									<div class="navbar-login">
										<div class="row">
											<div class="col-md-4 col-xs-4">
												<button dir="@Url.Action("Edit", "Usuarios", new { IdUsuario = LoginUtils.getCustomUser(User.Identity.Name).IdUsuario })" data-toggle="tooltip" data-placement="bottom" title="Editar Datos" class="btn btn-warning btn-block">
													<span class="glyphicon glyphicon-edit"></span>
												</button>
                                                
											</div>
                                            <div class="col-md-4 col-xs-4">
												<button dir="@Url.Action("Manage", "Account")" data-toggle="tooltip" data-placement="bottom" title="Cambiar Contraseña" class="btn btn-warning btn-block">
													<span class="fa fa-lock"></span>
												</button>
											</div>
											<div class="col-md-4 col-xs-4">
                                            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                                            {
                                                @Html.AntiForgeryToken()
												<button data-toggle="tooltip" data-placement="bottom" title="Cerrar sesión" class="btn btn-danger btn-block" onclick="javascript:document.getElementById('logoutForm').submit()">
													<span class="glyphicon glyphicon-log-out"></span>
												</button>
                                            }
											</div>
										</div>
									</div>
								</li>
							</ul>
						</li>
		            </ul>
		        </nav>
}
