﻿@if (Request.IsAuthenticated)
{
<nav class="vertical_nav no-seleccionable">
			<ul id="js-menu" class="menu">

				<li class="menu--item">
					<a href="@Url.Action("Index", "Home")" class="menu--link" title="Inicio">
						<span class="menu--icon glyphicon glyphicon-home" aria-hidden="true"></span>
						<span class="menu--label"> Inicio</span>
					</a>
				</li>

                @if (HttpContext.Current.User.IsInRole("Administrador")) 
                {
                    <li class="menu--item">
					<a href="@Url.Action("Index", "GestionMantenciones")" class="menu--link" title="Gestion Mant.">
						<span class="menu--icon glyphicon glyphicon-briefcase" aria-hidden="true"></span>
						<span class="menu--label"> Gestión </span>
					</a>
				</li> 
                }

                

				@*<li class="menu--item">

					<a href="@Url.Action("Index", "BandejaAlertas")" class="menu--link" title="Bandeja Administrador">
						<span class="menu--icon  glyphicon glyphicon-list-alt"></span>
						<span class="menu--label">Bandeja Admin.</span>
					</a>
				</li>*@

                @if (HttpContext.Current.User.IsInRole("Ingeniero")) 
                {
                     <li class="menu--item">

					<a href="@Url.Action("Bandeja", "PortalIngeniero")" class="menu--link" title="Bandeja Ingeniero">
						<span class="menu--icon  glyphicon glyphicon-check"></span>
						<span class="menu--label">Mis Mantenciones</span>
					</a>
				</li>
                    
                    <li class="menu--item">

					<a href="@Url.Action("Repuestos", "PortalIngeniero")" class="menu--link" title="Bandeja Ingeniero">
						<span class="menu--icon  glyphicon glyphicon-wrench"></span>
						<span class="menu--label">Solicitud Repuestos</span>
					</a>
				</li>
                }

				

                @if (HttpContext.Current.User.IsInRole("Administrador"))
                {
                     <li class="menu--item">

					@*<a href="@Url.Action("Index", "Reportes")"ep class="menu--link" title="Reportes">
						<span class="menu--icon  glyphicon glyphicon-duplicate"></span>
						<span class="menu--label">Reportes</span>
					</a>*@

                    <a href="@Url.Action("Mantenciones", "Reportes")"ep class="menu--link" title="Reportes">
						<span class="menu--icon  glyphicon glyphicon-duplicate"></span>
						<span class="menu--label">Reportes</span>
					</a>
				</li>

				<li class="menu--item">

					<a href="@Url.Action("Index", "Mantenedores")" class="menu--link" title="Administración">
						<span class="menu--icon  glyphicon glyphicon-cog"></span>
						<span class="menu--label">Mantenedores</span>
					</a>

                   
				</li>
                }

				<li class="menu--item">
					<a href="@Url.Action("About", "Home")" class="menu--link" title="Inicio">
						<span class="menu--icon glyphicon glyphicon-info-sign" aria-hidden="true"></span>
						<span class="menu--label">Acerca de</span>
					</a>
				</li>

                <li class="menu--item">
					<a href="@Url.Action("UserMobileView", "Account")" class="menu--link User_menu" title="Usuario">
						<span class="menu--icon glyphicon glyphicon-user" aria-hidden="true"></span>
						<span class="menu--label">Usuario</span>
					</a>
				</li>

			</ul>

            <div class="row-fluid menuFooter">
				<div class="col-md-12">
					<div class="row">
						<p>
							©@(DateTime.Now.Year) Johnson & Johnson Medical Devices & Diagnostics Group – Latin America, L.L.C.
							Esta página es publicada por Johnson & Johnson Medical Devices & Diagnostics Group – Latin America, L.L.C. quien es enteramente responsable por su contenido. Es destinada a los profesionales de la salud de Latino América.
						</p>
					</div>
					<div class="row">
						<ul class="legal">
							<li><a data-toggle="modal" data-target="#ModalPrivacidad">Política de Privacidad</a></li>
							<li><a data-toggle="modal" data-target="#ModalLegal">Información Legal</a></li>
						</ul>
					</div>
				</div>
			</div>

			<button id="collapse_menu" class="collapse_menu">
				<i class="collapse_menu--icon  fa fa-fw"></i>
				<span class="collapse_menu--label">Colapsar Menu</span>
			</button>
</nav>
}