﻿@{
    ViewBag.Title = "Acerca de";
}

<div class="row-fluid">
					<ol class="breadcrumb">
						<li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
					</ol>
				</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <h1>
            Sistema de Gestión</h1>
        <h3>
            Mantenciones preventivas</h3>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12">
        <p>
        <strong>MPXP</strong> es un sistema de gestión, administración y agendamiento de <strong>Mantenciones Preventivas</strong> para los equipos y tecnologías de Johnson & Johnson.</p>
        <p>
        Su principal objetivo es Planificar y Ejecutar de forma eficiente y oportuna las diferentes Mantenciones Preventivas que se deben realizar a los equipos de Johnson & Johnson, interactuando con el cliente de manera de obtener el agendamiento que mejor le acomode, logrando materializar una planificación eficiente del recurso humano y repuestos, al mismo tiempo que permite generar la documentación que nuestros clientes requieres, conforme a lo establecido por el sistema de acreditación local.
        </p>
    </div>
    <br />
    <div class="col-xs-12 col-sm-12 col-md-12">
        <p>En el menú superior podrá encontrar las funcionalidades habilitadas para su usuario.</p>
        <p>Si tiene alguna duda con el funcionamiento de la aplicación, puede consultar al <a target="_blank" href="@Url.Content("~/Content/Doc/Manual_MPXP.pdf")">Manual de Usuario</a></p>
    </div>
</div>