﻿@using MetricArts.JnJ.Mantenciones.Models.Accounts.Account
@model MetricArts.JnJ.Mantenciones.Models.Home.IndexIngViewModel
@{
    ViewBag.Title = "Inicio";
}
@*@section featured {*@
<div class="row-fluid">
					<ol class="breadcrumb">
						<li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
					</ol>
				</div>
<article>
    <div class="row-fluid">
        <h3>Bienvenid@@ @LoginUtils.getCustomUser(User.Identity.Name).Nombre! <small>(Resumen hasta la fecha: @(DateTime.Now.Day.ToString().Length == 1 ? "0"+DateTime.Now.Day.ToString() : DateTime.Now.Day.ToString())-@(DateTime.Now.Month.ToString().Length == 1 ? "0"+DateTime.Now.Month.ToString() : DateTime.Now.Month.ToString())-@DateTime.Now.Year)</small></h3>
    </div>
    <div class="bs-callout bs-callout-JJ">
        <legend>Sus Mantenciones</legend>
        <div class="row top_tiles">
            <a href="@Url.Action("Bandeja", "PortalIngeniero")">
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                    <div class="icon">
                        <i class="fa fa-clock-o"></i>
                    </div>
                    <div class="count">@Model.CantMantEnEsperaVisita</div>
                    <h3>En Espera</h3>
                    <p>En espera de visita.</p>
                </div>
            </div>
            </a>

            <a href="@Url.Action("Bandeja", "PortalIngeniero")">
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                    <div class="icon">
                        <i class="fa fa-gears"></i>
                    </div>
                    <div class="count">@Model.CantMantEnCurso</div>
                    <h3>En curso</h3>
                    <p>Estan en proceso de mantención.</p>
                </div>
            </div>
            </a>

            <a href="@Url.Action("Bandeja", "PortalIngeniero")">
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                    <div class="icon">
                        <i class="fa fa-history"></i>
                    </div>
                    <div class="count">@Model.CantMantDetenidas</div>
                    <h3>Detenidas</h3>
                    <p>En espera momentánea.</p>
                </div>
            </div>
            </a>

            <a href="@Url.Action("Bandeja", "PortalIngeniero")">
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                    <div class="icon">
                        <i class="fa fa-check-square"></i>
                    </div>
                    <div class="count">@Model.CantMantFinalizadas</div>
                    <h3>Finalizadas</h3>
                    <p>Han sido marcadas como finalizadas.</p>
                </div>
            </div>
            </a>

            <a href="@Url.Action("Bandeja", "PortalIngeniero")">
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                    <div class="icon">
                        <i class="fa fa-check-square-o"></i>
                    </div>
                    <div class="count">@Model.CantMantCheckListRespondido</div>
                    <h3>Checklist Respondido</h3>
                    <p>Checklist que han sido respondidos.</p>
                </div>
            </div>
            </a>
        </div>
        
        <br />
        <legend>Repuestos</legend>
        <div class="row top_tiles">
            <a href="@Url.Action("Repuestos", "PortalIngeniero")">
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                    <div class="icon">
                        <i class="fa fa-clock-o"></i>
                    </div>
                    <div class="count">@Model.CantRepEnEsperaAtencion</div>
                    <h3>En Espera</h3>
                    <p>Solicitudes no atendidas aún.</p>
                </div>
            </div>
            </a>

            <a href="@Url.Action("Repuestos", "PortalIngeniero")">
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                    <div class="icon">
                        <i class="fa fa-mail-forward"></i>
                    </div>
                    <div class="count">@Model.CantRepEnviadas</div>
                    <h3>Enviadas</h3>
                    <p>Solicitudes enviadas a distribuidor.</p>
                </div>
            </div>
            </a>

            <a href="@Url.Action("Repuestos", "PortalIngeniero")">
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                    <div class="icon">
                        <i class="fa fa-check"></i><i class="fa fa-check"></i>
                    </div>
                    <div class="count">@Model.CantRepAceptadas</div>
                    <h3>Confirmadas</h3>
                    <p>Solicitudes aceptadas por distribuidor.</p>
                </div>
            </div>
            </a>
        </div>
    </div>
</article>
@Styles.Render("~/Content/External/Reporting/css")
@Styles.Render("~/Content/External/Reporting/maps/css")
@Scripts.Render("~/bundles/external/reporting")
