﻿@model MetricArts.JnJ.Mantenciones.Models.Mantenedores.Cuestionarios.CuestionariosViewModel
@{
    ViewBag.Title = "Crear Nuevo Cuestionario";
}

<div class="row-fluid">
				<ol class="breadcrumb">
					<li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
					<li><a href="@Url.Action("Index", "Mantenedores")">Mantenedores</a></li>
					<li><a href="@Url.Action("Index", "Cuestionarios")">Cuestionarios</a></li>
					<li><a href="@Url.Action("CrearNuevo", "Cuestionarios")">Nuevo</a></li>
				</ol>
			</div>

			<section>
				<div class="row-fluid">
					<h3>Crear Nuevo Cuestionario</h3>
				</div>
                @if (TempData["Mensaje"] != null && !String.IsNullOrEmpty(TempData["Mensaje"].ToString()))
                {
                <div class="alert alert-warning alert-dismissible fadeOutMantenedor" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>@(TempData["Mensaje"])</strong>
                </div>
                }
                <br />
                <form action="@Url.Action("CrearNuevo", "Cuestionarios")" method="POST" class="form-horizontal">
				<div class="row-fluid">
						<div class="form-group">
							<label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.Descripcion)</label>
							<div class="col-sm-6">
                                @Html.TextBoxFor(x => x.FORM.Descripcion, new { @class = "form-control input-sm" })
							</div>
						</div>
                        <div class="form-group">
						    <label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.IdTipoCuestionario)</label>
							<div class="col-sm-6">
							    @Html.DropDownListFor(x => x.FORM.IdTipoCuestionario, Model.TipoCuestionarios, "Seleccione un Tipo de Cuestionario", new { @class = "form-control input-sm" })
							</div>
						</div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">@Html.LabelFor(x => x.FORM.Abierto)</label>
			                <div class="col-sm-6">
                                @Html.CheckBoxFor(x => x.FORM.Abierto, new { @class = "checkbox" })
			                </div>
		                </div>					
				</div>
                
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <button id="previsualizar-cuestionario-btn" type="button" class="btn btn-warning"><span class='glyphicon glyphicon-search'></span> Previsualizar Cuestionario</button>
                    </div>
                    <div class="col-md-4"></div>
                </div>

                <br />
                <div class="panel panel-default">
                    
						<div class="panel-heading">
							<div class="row-fluid">
								<div class="row-fluids">
									<h4>Encabezado</h4>
								</div>
							
									<div class="form-group">
										
										<div class="col-sm-12">
                                            @Html.TextAreaFor(x => x.FORM.Encabezado, new { @name = "editor1", @id = "editor1", @rows = "10", @cols = "80" })

                                            @*<textarea name="editor1" id="editor1" rows="10" cols="80">
                                                Diseñe aquí el Encabezado de su Cuestionario.
                                            </textarea>*@
                                        </div>
									</div>
									
							</div>	
						</div>
						<div class="panel-body">
							<div class="row">
								<div class="col-md-1">
									<button type="button" class="btn btn-success pull-left addQ1">
										<span class="glyphicon glyphicon-plus-sign"></span>
									</button>
								</div>
								<div class="col-md-11"><h4>Agregue preguntas al Cuestionario</h4></div>
							</div>
							</br>
							<div class="row-fluid">
								<div class="panel-group PanelCuestionarioPreguntas" id="accordion" role="tablist" aria-multiselectable="true">
								</div>
							</div>
						</div>
						<div class="panel-footer">
                            <div class="row-fluids">
					            <h4>Pie</h4>
							</div>
                            <div class="form-group">
							    <div class="col-sm-12">
                                    @Html.TextAreaFor(x => x.FORM.Pie, new { @name = "editor2", @id = "editor2", @rows = "10", @cols = "80" })

                                    @*<textarea name="editor2" id="editor2" rows="10" cols="80">
                                        Diseñe aquí el Pie de su Cuestionario.
                                    </textarea>*@
                                </div>
						    </div>
						</div>
                        @Html.HiddenFor(x => x.FORM.preguntasJson)
                        </form>
					</div>
                    <div class="row">
					<div class="col-md-4">
                        <a href="@Url.Action("Index", "Cuestionarios")" class="btn btn-primary">Cancelar</a>
					</div>
                    <div class="col-md-4">
                        
                    </div>
                    <div class="col-md-4">
                        <button id="guardar-cuestionario" type="button" class="btn btn-success pull-right">Guardar</button>
                    </div>
				</div>
			</section>

<div class="modal fade" id="ModalChecklist" tabindex="-1" role="dialog" aria-labelledby="ModalDet">
    <div class="modal-dialog modal-lg" role="document">
	    <div class="modal-content">
		    <div class="modal-header">
			    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
		        <h4 class="modal-title" id="ModalChecklistTitle">Previsualización Cuestionario</h4>
		    </div>
			<div id="checklist-contenido" class="modal-body">
                <div class="row-fluid">
                    <div class="row">
	                    <label class="col-md-4">Nombre</label>
		                <p class="col-md-6"><span id="nombre-cuestionario">Nombre Cuestionario</span></p>
	                </div>
	                <div class="row">
	                    <label class="col-md-4">Tipo Cuestionario</label>
		                <p class="col-md-6"><span id="tipo-cuestionario-valor">Tipo Cuestionario Valor</span></p>
	                </div>
                </div>
                <hr />
                <div id="datos-cliente" class="row-fluid">

                </div>
                	
                <br />
                <div class="row-fluid">
                    <div class="panel panel-default">
	                    <div id="encabezado-cuestionario" class="panel-heading">
                            @*(ACA VA EL HTML DEL ENCABEZADO)*@
	                    </div>
		
                        <div id="preguntas-cuestionario">

                        </div>
                        <div id="pie-cuestionario" class="panel-footer">
                            @*(ACA VA EL HTML DEL PIE)*@
                        </div>
                        
	                </div>
                </div> 				
		    </div>
		    <div class="modal-footer">
		        <button id="salir-boton-cerrar" type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
		    </div>
	    </div>
    </div>
</div>
<script type="text/javascript">
    CKEDITOR_BASEPATH = "@Url.Content("~/Scripts/ckeditor/")";
</script>
@Scripts.Render("~/bundles/external/text-editor/js")
@Scripts.Render("~/bundles/custom/mantenedores/cuestionarios/crear")
<script type="text/javascript">
    $(document).ready(function () {
        init('@Url.Action("ObtenerTiposPregunta", "ServicioConsulta")');
    });
</script>