﻿@model MetricArts.JnJ.Mantenciones.Models.Mantenedores.Cuestionarios.CuestionariosViewModel
@{
    ViewBag.Title = "Listado Cuestionarios";
}
<section class="container-fluid">
    <article>
        <div class="row">
		    <ol class="breadcrumb">
			    <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
			    <li><a href="@Url.Action("Index", "Mantenedores")">Mantenedores</a></li>
				<li><a href="@Url.Action("Index", "Cuestionarios")">Cuestionarios</a></li>
			</ol>
		</div>

        <article>
		    <div class="bs-callout bs-callout-JJ">
                <legend>Cuestionarios</legend>
                <a href="@Url.Action("CrearNuevo", "Cuestionarios")" data-toggle="confirmation"  title="Nuevo Cliente" class="btn btn-success">
                    <span class='glyphicon glyphicon-plus-sign'></span> Crear Nuevo
                </a>

                <button class="btn btn-primary" type="button">
			        Cantidad Total <span class="badge">@Model.Cuestionarios.Count()</span>
				</button>
		    </div>
		</article>

        <br />
        @if (TempData["Mensaje"] != null && !String.IsNullOrEmpty(TempData["Mensaje"].ToString()))
        {
            <div class="alert alert-success alert-dismissible fadeOutMantenedor" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>@(TempData["Mensaje"])</strong>
            </div>
        }
        <br />
        <div class="row">
            <div class="table-responsive">                            
                <table id="listado-mantenedor" class="table table-striped table-condensed display">
                    <thead>
                        <tr>
                            <th>@Html.DisplayName("Descripción")</th>
                            <th>@Html.DisplayName("Tipo Cuestionario")</th>
                            <th>@Html.DisplayName("Cantidad Mantenciones asociadas")</th>
                            <th>Editar</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Cuestionarios)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Descripcion)</td>
                                <td>@Html.DisplayFor(modelItem => item.TipoCuestionario.Descripcion)</td>
                                <td><strong>@Html.DisplayFor(modelItem => item.CuestionarioMantencions.Count)</strong></td>
                                <td>
                                    @if(!item.CuestionarioMantencions.Any()) {
                                    <a href="@Url.Action("Editar", "Cuestionarios", new { IdCuestionario = item.IdCuestionario })" class="btn btn-default"><span class='glyphicon glyphicon-edit'></span></a>
                                    }
                                </td>
                                <td>
                                    @if(!item.CuestionarioMantencions.Any()) {
                                     <a href="@Url.Action("Eliminar", "Cuestionarios", new { IdCuestionario = item.IdCuestionario })" class="btn btn-default" onclick="if(!confirm('Está a punto de eliminar este cuestionario.\n¿Desea continuar?.')) return false;"><span class='glyphicon glyphicon-trash'></span></a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
			</div>
		</div>
    </article>
</section>
@Scripts.Render("~/bundles/custom/mantenedores/cuestionarios/listado")
<script type="text/javascript">
    $(document).ready(function () {
        init();
    });
</script>