﻿@{
    ViewBag.Title = "Gestión de Mantenciones";
}

<section>
				<div class="row-fluid">
					<ol class="breadcrumb">
						<li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
						<li><a href="@Url.Action("Index", "GestionMantenciones")">Gestión Mantenciones</a></li>
					</ol>
				</div>
				<div class="row-fluid">
                    <button dir="@Url.Action("Automaticas", "GestionMantenciones")" data-toggle="tooltip" data-placement="bottom" title="Planificaciones Automáticas" class="shortcut-button">
						<span class="glyphicon glyphicon-repeat"></span>
						<span class="title">Automáticas
						</span>
					</button>
					@*<button dir="@Url.Action("CrearMantencionManual", "GestionMantenciones")" data-toggle="tooltip" data-placement="bottom" title="Crear Mantención Manual" class="shortcut-button">
						<span class="glyphicon glyphicon-plus"></span>
						<span class="title">Crear Mant.</span>
					</button>*@
                    <button dir="@Url.Action("CrearPlanificacionManual", "GestionMantenciones")" data-toggle="tooltip" data-placement="bottom" title="Nueva Planificación" class="shortcut-button">
						<span class="glyphicon glyphicon-list-alt"></span>
						<span class="title">Nueva Plan.</span>
					</button>
					<button dir="@Url.Action("VerMantencionesVigentes", "GestionMantenciones")" data-toggle="tooltip" data-placement="bottom" title="Planificaciones Actuales Vigentes" class="shortcut-button">
						<span class="glyphicon glyphicon-ok"></span>
						<span class="title">Vigentes</span>
					</button>
					<button dir="@Url.Action("VerMantencionesPropuestas", "GestionMantenciones")" data-toggle="tooltip" data-placement="bottom" title="Planificaciones Actuales Propuestas" class="shortcut-button">
						<span class="glyphicon glyphicon-time"></span>
						<span class="title">Propuestas</span>
					</button>
                    <button dir="@Url.Action("Seguimiento", "GestionMantenciones")" data-toggle="tooltip" data-placement="bottom" title="Seguimiento de Mantenciones" class="shortcut-button">
						<span class="glyphicon glyphicon-check"></span>
						<span class="title">Seguimiento</span>
					</button>
					<button dir="@Url.Action("Notificaciones", "GestionMantenciones")" data-toggle="tooltip" data-placement="bottom" title="Gestor de Notificaciones" class="shortcut-button">
						<span class="glyphicon glyphicon-bell"></span>
						<span class="title">Notificaciones</span>
					</button>
                    <button dir="@Url.Action("Repuestos", "GestionMantenciones")" data-toggle="tooltip" data-placement="bottom" title="Solicitudes de Repuestos" class="shortcut-button">
						<span class="glyphicon glyphicon-wrench"></span>
						<span class="title">Repuestos</span>
					</button>
				</div>
				<div class="row-fluid">
					<div class="col-md-2"></div>
				</div>
			</section>
